<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}    
      <title>{{ title }}</title>
    {% else %}
      <title>Smarthome</title>
    {% endif %}

    {% if description %}    
        <meta name="description" content="{{ description }}">
    {% else %}
        <meta name="description" content="Smarthome">
    {% endif %}
    
    <!--     Fonts and icons     -->
    <link href="/static/css/fonts_googleapis.css" rel="stylesheet" />
    <link href="/static/css/fontawesome.css" rel="stylesheet">
    <!-- Unicons Icons -->
    <link href="/static/css/unicons-embedded.css" rel="stylesheet">    
    <!-- Nucleo Icons -->
    <link href="/static/css/nucleo-icons.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
    <link href="/static/css/bootstrap-slider.css" rel="stylesheet">
    <link href="/static/css/slider.css" rel="stylesheet">  
  </head>

  <body class="">
    <div class="wrapper">

      {% if data.navigation != "None" %}
        {% include 'includes/navigation.html' %}
      {% endif %} 

      <div class="main-panel">

        {% include 'includes/header.html' %}

        {{ content | safe }}

      </div>
    </div>

    <!--   Core JS Files   -->
    <script src="/static/js/core/jquery.min.js"></script>
    <script src="/static/js/core/popper.min.js"></script>
    <script src="/static/js/core/bootstrap.min.js"></script>
    <script src="/static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="/static/js/plugins/bootstrap-select.min.js"></script>
    <link href="/static/css/bootstrap-select.min.css" rel="stylesheet"> 
    <!-- Chart JS -->
    <script src="/static/js/plugins/chartjs.min.js"></script>
    <!-- Slider JS -->
    <script src="/static/js/plugins/bootstrap-slider.js"></script>  
    <!--  Notifications Plugin    -->
    <script src="/static/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/static/js/black-dashboard.min.js?v=1.0.0"></script>
    <!--  RGB Color Picker    -->
    <script src="/static/js/plugins/iro.min.js"></script>
    <!--  Socket IO   -->
    <script src="/static/js/plugins/socket.io.js"></script>


    <!-- table search function -->
    <script>
      $(document).ready(function(){
        $("#input_table_devices").on("keyup", function() {
          var value = $(this).val().toLowerCase();
          $("#table_devices tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
          });
        });
      });
    </script>

    <!-- volume slider dashboard -->
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_1'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_2'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_3'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_4'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_5'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_6'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_7'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_8'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_9'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_11'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_14'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_17'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_20'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_21'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_22'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_23'); </script>    
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_24'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_group_dashboard_25'); </script>

    <!-- volume slider dashboard -->
    <script> var slider = new Slider('#volume_slider_dashboard_music'); </script>

    <!-- brightness slider lighting scenes -->
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_1');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_2');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_3');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_4');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_5');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_6');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_7');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_8');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_9');  </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_10'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_11'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_12'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_13'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_14'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_15'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_16'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_17'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_18'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_19'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_1_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_2_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_3_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_4_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_5_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_6_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_7_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_8_20'); </script>
    <script> var slider = new Slider('#brightness_slider_lighting_scenes_9_20'); </script>

    <!-- volume slider music -->
    <script> var slider = new Slider('#volume_slider_music_player'); </script>
    <script> var slider = new Slider('#volume_slider_music_default'); </script>    
    <script> var slider = new Slider('#volume_slider_music_playlist'); </script>


    <script>
      $(document).ready(function() {
        $().ready(function() {
          $sidebar = $('.sidebar');
          $navbar = $('.navbar');
          $main_panel = $('.main-panel');

          $full_page = $('.full-page');

          $sidebar_responsive = $('body > .navbar-collapse');
          sidebar_mini_active = true;
          white_color = false;

          window_width = $(window).width();

          fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

          $('.fixed-plugin a').click(function(event) {
            if ($(this).hasClass('switch-trigger')) {
              if (event.stopPropagation) {
                event.stopPropagation();
              } else if (window.event) {
                window.event.cancelBubble = true;
              }
            }
          });

          $('.fixed-plugin .background-color span').click(function() {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');

            var new_color = $(this).data('color');

            if ($sidebar.length != 0) {
              $sidebar.attr('data', new_color);
            }

            if ($main_panel.length != 0) {
              $main_panel.attr('data', new_color);
            }

            if ($full_page.length != 0) {
              $full_page.attr('filter-color', new_color);
            }

            if ($sidebar_responsive.length != 0) {
              $sidebar_responsive.attr('data', new_color);
            }
          });

          $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
            var $btn = $(this);

            if (sidebar_mini_active == true) {
              $('body').removeClass('sidebar-mini');
              sidebar_mini_active = false;
              blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
            } else {
              $('body').addClass('sidebar-mini');
              sidebar_mini_active = true;
              blackDashboard.showSidebarMessage('Sidebar mini activated...');
            }

            // we simulate the window Resize so the charts will get updated in realtime.
            var simulateWindowResize = setInterval(function() {
              window.dispatchEvent(new Event('resize'));
            }, 180);

            // we stop the simulation of Window Resize after the animations are completed
            setTimeout(function() {
              clearInterval(simulateWindowResize);
            }, 1000);
          });

          $('.light-badge').click(function() {
            $('body').addClass('white-content');
          });

          $('.dark-badge').click(function() {
            $('body').removeClass('white-content');
          });
        });
      });
    </script>

  </body>

</html>