
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>About</b></h4>
              </div>
            </div>

<!-------------------->
<!-- INFO OVERVIEW  -->
<!-------------------->

            <div class="card">        
              <div class="card-body">

                Smarthome
                <br>
                Version: {{ version }}  
                <br>
                <br>
                created by Martin Stan               

              </div>
            </div>

          </div>
        </div>
      </div>      