<script src="/static/js/core/jquery-1.12.4.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    namespace  = '/socketIO';
    var socket = io(namespace);

    socket.on('system_log', function(msg) {
        $('#data_0_title').text(msg.data_0_title);   
        $('#data_0_content').text(msg.data_0_content);           
        $('#data_1_title').text(msg.data_1_title);   
        $('#data_1_content').text(msg.data_1_content);       
        $('#data_2_title').text(msg.data_2_title);   
        $('#data_2_content').text(msg.data_2_content);           
        $('#data_3_title').text(msg.data_3_title);   
        $('#data_3_content').text(msg.data_3_content);      
        $('#data_4_title').text(msg.data_4_title);   
        $('#data_4_content').text(msg.data_4_content);           
        $('#data_5_title').text(msg.data_5_title);   
        $('#data_5_content').text(msg.data_5_content);      
        $('#data_6_title').text(msg.data_6_title);   
        $('#data_6_content').text(msg.data_6_content);           
        $('#data_7_title').text(msg.data_7_title);   
        $('#data_7_content').text(msg.data_7_content);              
        $('#data_8_title').text(msg.data_8_title);   
        $('#data_8_content').text(msg.data_8_content);           
        $('#data_9_title').text(msg.data_9_title);   
        $('#data_9_content').text(msg.data_9_content);      
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    namespace  = '/socketIO';
    var socket = io(namespace);

    socket.on('music', function(msg) {
        $('#current_device').text(msg.current_device);   
        $('#current_state').text(msg.current_state);   
        $('#current_track').text(msg.current_track);                                 
        $('#current_artists').text(msg.current_artists);   
        $('#current_progress').text(msg.current_progress);    
        $('#current_playlist').text(msg.current_playlist);                          
    });
  });
</script>


      <div class="content">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-tasks card-tasks-table">
              <div class="card-body ">
                <form method="POST">

  <!-- lighting table -->

                  <div class="table-full-width table-responsive">
                    <table class="table">
                      <tbody> 

                        {% for entry in list_lighting_groups %}
                          <tr>                
                            <td style="width:30%" class="minwidth_150">
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  {{ entry.name }} 
                                </div>
                              </div>
                            </td> 
                            <td style="width:35%" class="minwidth_150">
                              <select class="form-control" data-size="5" name="set_lighting_group_scene_{{entry.id}}" style="background-color:#27293D"> 
                                <option value = "{{ entry.current_scene }}" > {{ entry.current_scene }} </option>          
                                <option disabled>------------------</option>        
                                {% for each in dropdown_list_lighting_scenes %}
                                  <option value="{{each.name }}"> {{ each.name }} </option>
                                {% endfor %}     
                                <option disabled>------------------</option>   
                                <option value="OFF"> OFF </option> 
                              </select>                            
                            </td>   
                            <td style="width:5%"></td>
                            <td style="width:30%" class="minwidth_150">
                              <input id="brightness_slider_lighting_group_dashboard_{{entry.id}}" data-slider-id="brightness_slider_lighting_group_dashboard_{{entry.id}}"
                                name="set_lighting_group_brightness_{{entry.id}}" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{entry.current_brightness}}"/> 
                            </td>                                                                                 
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>

  <!-- save button -->

                  <div class="border-top my-2"></div>
                  <div class="text-center">
                    <button type="submit" onclick="window.location.href='/dashboard#'" name="apply_changes_lighting_groups_devices" class="btn btn-fill btn-primary">APPLY</button>
                  </div>
                  <div class="border-top my-2"></div>

  <!-- devices table -->

                  <div class="table-full-width table-responsive">
                    <table class="table">
                      <tbody> 

                        {% for entry in list_devices %}
                          <tr>                
                            <td style="width:35%" class="minwidth_200">
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  {{ entry.name }} 
                                </div>
                              </div>
                            </td> 
                            <td style="width:22%" class="minwidth_150">
                              <select class="form-control" data-size="5" name="set_command_{{entry.id}}" style="background-color:#27293D"> 
                                <option value = "None" > None </option>          
                                <option disabled>------------------</option>        
                                {% if entry.commands != None %}
                                  {% for each in entry.commands.split(',') %}
                                    <option value= "{{ each }}" > {{ each }} </option>
                                  {% endfor %}     
                                {% endif %}  
                              </select>                            
                            </td>  
                            <td style="width:3%"></td> 
                            <td style="width:40%" class="minwidth_200">
                              {{ entry.last_values_string }}
                            </td>                                                                                 
                          </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </form>
              </div>
            </div>

<!-- programs -->

            <div class="card card-tasks-programs">
              <div class="card-body ">
                <form method="POST">
                  <div class="row justify-content-md-left">
                    <div class="col-sm-6">          
                      <div class="vertical_center">             
                        <select class="form-control" data-size="5" name="select_program" style="background-color:#27293D"> 
                          {% for each in dropdown_list_programs %}
                            {% if each != None %}
                              <option value="{{each.id}}">{{each.name}}</option>
                            {% endif %}
                          {% endfor %}       
                        </select>     
                      </div>   
                    </div>
                    <div class="col-sm-6">  
                      <div class="text-right">
                        <button type="submit" onclick="window.location.href='/dashboard#'" name="start_program" class="btn btn-fill btn-info">START</button>                      
                      </div> 
                    </div> 
                  </div>                      
                </div>
              </form>   
            </div>
          </div>

          <div class="col-lg-6">

<!-- music -->

{% if spotify_token != "" %}  

            <div class="card card-tasks-music">
              <div class="card-body">
                <form method="POST"> 
                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-9">      
                      <div class="vertical_center">  
                        <div class="row justify-content-md-center">                                                 
                          <div class="col-sm-6">                         
                            <select class="form-control" data-size="5" name="set_spotify_device_id" style="background-color:#27293D"> 
                              {% if spotify_devices != "" %}
                                {% for device in list_spotify_devices %}                   
                                  {% if device['type'] != "Smartphone" %}
                                    {% if "multiroom" in device['name'] %}
                                      <option value="{{ device['id'] }}" > MULTIROOM </option>
                                    {% else %}
                                      <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No devices founded </option>
                              {% endif %}  
                            </select>        
                          </div>   
                          <div class="col-sm-6">   
                            <select class="form-control" data-size="5" name="set_spotify_playlist" style="background-color:#27293D"> 
                              {% if spotify_playlists != "" %}
                                {% for playlist in list_spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No playlists founded </option>
                              {% endif %}  
                            </select>                                 
                          </div> 
                        </div>       
                      </div>   
                    </div> 
                    <div class="col-sm-3">   
                      <div class="text-center">   
                        <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="spotify_start_playlist" >
                          <i class='uil uil-play'></i>
                        </button>                                                             
                      </div>                          
                    </div> 
                  </div>    

                  <div class="border-top my-2"></div>

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-12">                 
                      <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="set_spotify_play">
                        <i class='uil uil-play'></i>
                      </button>                               
                      <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="set_spotify_previous">
                        <i class='uil uil-backward'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="set_spotify_next">
                        <i class='uil uil-forward'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="set_spotify_stop">
                        <i class='uil uil-pause'></i>
                      </button>
                    </div>
                    <br>
                    <div class="col-sm-5">
                      <div class="row justify-content-md-center">                                                 
                        <div class="col-sm-6">        
                          <button type="submit" onclick="window.location.href='/dashboard#'" class="btn btn-default" name="set_spotify_volume">
                            <i class='uil uil-volume'></i>
                          </button>
                        </div>
                        <div class="col-sm-6">        
                          <div class="vertical_center">  
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="checkbox_shuffle_setting" {% if spotify_shuffle == "True" %} checked="on" {% endif %} name="checkbox_shuffle">
                              <label class="custom-control-label" for="checkbox_shuffle_setting">Shuffle</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="vertical_center">                    
                        <input id="volume_slider_dashboard_music" data-slider-id="volume_slider_dashboard_music" name="slider_spotify_volume" 
                          type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ spotify_volume }}"/>                  
                      </div>
                    </div> 
                  </div> 

                  <div class="border-top my-2"></div>

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Devices</span></p> 
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_device"></div> 
                    </div> 
                  </div>                       

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">  
                      <p><span>Playing</span></p>  
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_state"></div> 
                    </div> 
                  </div>    

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">   
                      <p><span>Track</span></p>                         
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_track"></div> 
                    </div> 
                  </div>    

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Artists</span></p>                        
                    </div>
                    <div class="col-sm-9">                           
                      <div id="current_artists"></div> 
                    </div> 
                  </div>                                            
                </div>
              </form>                
            </div>

{% endif %}

<!-- issues table -->

            <div class="card card-tasks card-tasks-issues">
              <div class="card-body ">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <div id="data_0_title"></div>
                          <div id="data_0_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_1_title"></div>
                          <div id="data_1_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_2_title"></div>
                          <div id="data_2_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_3_title"></div>
                          <div id="data_3_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_4_title"></div>
                          <div id="data_4_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_5_title"></div>
                          <div id="data_5_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_6_title"></div>
                          <div id="data_6_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_7_title"></div>
                          <div id="data_7_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_8_title"></div>
                          <div id="data_8_content"></div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div id="data_9_title"></div>
                          <div id="data_9_content"></div>
                        </td>
                      </tr>                  
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>