
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Geräte</b></h4>
              </div>
            </div>

<!-- message error mqtt -->

{% if error_message_mqtt != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_mqtt }}</span>
  </div>  
{% endif %}   


<!-------------------->
<!-- DEVICES TABLE  -->
<!-------------------->

<section id="table_devices"></section>    

<!-- success message change settings devices -->

{% if success_message_change_settings_devices != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings_devices %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings devices -->

{% if error_message_change_settings_devices != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_devices %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- device table -->

            <div class="card ">
              <form method="POST">
                <div class="card-body">
                  <input class="form-control" id="input_table_devices" type="text" placeholder="Suche ...">
                  <div class="table-responsive">
                    <div style="max-height: 500px">
                      <table class="table tablesorter">
                        <thead> 
                          <td style="display:none">hidden_names for search function</td>
                          <th scope="col" style="width:3%"></th> 
                          <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Gerät</th>                        
                          <th scope="col" style="width:18%"><p style="visibility: hidden;">invisibletextforminlenght</p>Adresse</th> 
                          <th scope="col" style="width:12%"><p style="visibility: hidden;">invisibletext</p>Modell</th>
                          <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Gerätetyp</th> 
                          <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Beschreibung</th>                                             
                          <th scope="col" style="width:10%"><p style="visibility: hidden;">invisibletext</p>Letzter Kontakt</th>     
                          <th scope="col" style="width:5%"></th>                                                                                
                        </thead>
                        <tbody id="table_devices">
                          {% for entry in list_devices %}
                          <tr>  
                            <td style="display:none">{{ entry.name }}</td>
                            <td>
                              <a href="/devices/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                              <a href="/devices/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                            </td>        
                            <td>                     
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                                </div>
                              </div>
                            </td>      
                            <td>{{ entry.ieeeAddr }}</td>    
                            <td>{{ entry.model }}</td>   
                            
                            {% if entry.gateway == mqtt %}
                              <td><font color="#ccccff">{{ entry.device_type }}</font></td>
                            {% else %}
                              <td><font color="#ffffcc">{{ entry.device_type }}</font></td>
                            {% endif %}

                            <td>{{ entry.description }}</td>                            
                            <td>{{ entry.last_contact }}</td>                       
                            <td>
                              <a href="/devices/delete/{{ entry.ieeeAddr }}#table"><font size="5"><i class='tim-icons icon-trash-simple'></i></font></a>
                            </td>                                 
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>            
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#table_devices'" name="save_device_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/devices#table_devices'" name="update_devices" class="btn btn-fill btn-info pull-right">UPDATE</button>
                </div>
              </form>
            </div>


<!---------------------------->
<!--  MQTT BROKER SETTINGS  -->
<!---------------------------->

<section id="mqtt_broker_settings"></section>    

<!-- success message change settings mqtt broker -->

{% if success_message_change_settings_mqtt_broker != "" %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ success_message_change_settings_mqtt_broker }}</span>
  </div>
{% endif %}  

<!-- error message change settings mqtt broker -->

{% if error_message_change_settings_mqtt_broker != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_mqtt_broker %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  
  

            <div class="card">
              <div class="card-header">
                <h5 class="title">MQTT Broker</h5>
              </div>
              <form method="POST">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Broker</label>
                        <input type="text" class="form-control" name="set_mqtt_broker" value="{% if mqtt_broker.broker != None %}{{ mqtt_broker.broker }}{% endif %}" /> 
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Benutzername (Optional)</label>
                        <input type="text" class="form-control" name="set_mqtt_broker_user" value="{% if mqtt_broker.user != None %}{{ mqtt_broker.user }}{% endif %}" /> 
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Passwort (Optional)</label>
                        <input type="text" class="form-control" name="set_mqtt_broker_password" value="{% if mqtt_broker.password != None %}{{ mqtt_broker.password }}{% endif %}" /> 
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#mqtt_broker_settings'" name="save_mqtt_broker_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/devices#mqtt_broker_settings'" name="restore_mqtt_broker_settings" class="btn btn-fill btn-warning pull-right">RESTORE</button>
                </div>                
              </form>
            </div>


<!-------------->
<!--  ZIGBEE  -->
<!-------------->

<section id="zigbee"></section>    

<!-- success message zigbee pairing -->

{% if success_message_zigbee_pairing != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_zigbee_pairing %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message zigbee pairing --> 

{% if error_message_zigbee_pairing != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_zigbee_pairing %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}   

            <div class="card">
              <div class="card-header">
                <h5 class="title">ZigBee Pairing</h5>
              </div>            
              <form method="POST"> 
                <div class="card-body">        
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="radio_zigbee_pairing_true" {% if zigbee_pairing == "True" %} checked="on" {% endif %} value="True" name="radio_zigbee_pairing">
                    <label class="custom-control-label" for="radio_zigbee_pairing_true">Pairing aktiviert</label>
                  </div>     
                  <br>  
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="radio_zigbee_pairing_false" {% if zigbee_pairing == "False" %} checked="on" {% endif %} value="False" name="radio_zigbee_pairing">
                    <label class="custom-control-label" for="radio_zigbee_pairing_false">Pairing deaktiviert</label>
                  </div> 
                </div>   
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#zigbee'" name="save_zigbee_pairing" class="btn btn-fill btn-primary">SAVE</button>
                </div>                
              </form>
            </div>

            <div class="card">       
              <form method="POST"> 
                <div class="card-body">                                
                  <a href="/devices/topology/zigbee_topology.png?time={{ timestamp }}"><font color="lightblue"><b>DOWNLOAD ZIGBEE TOPOLOGY</b></font></a>
                </div>
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#zigbee'" name="update_zigbee_topology" class="btn btn-fill btn-info">UPDATE ZIGBEE TOPOLOGY</button>
                </div>                
              </form>
            </div>                
             

<!---------------------->
<!-- DEVICES LOGFILE  -->
<!---------------------->

<section id="logfile"></section>    

<!-- success message logfile -->

{% if success_message_logfile == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>DEVICE LOG erfolgreich zurückgesetzt</span>
  </div>
{% endif %}  

<!-- error message logfile --> 

{% if error_message_logfile != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {{ error_message_logfile }}
  </div>
{% endif %}   

            <div class="card">
              <div class="card-body">
                <form method="POST"> 
                  <a href="/devices/download/log_devices.csv?time={{ timestamp }}"><font color="lightblue"><b>DOWNLOAD DEVICE LOG</b></font></a>
                  <br>
                  <br>
                  <div class="dropdown text-right">
                    <button type="submit" onclick="window.location.href='/devices#logfile'" name="reset_logfile" class="btn btn-danger text-right">RESET DEVICE LOG</button>
                  </div> 
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>          