
      <div class="content">
        <div class="row">
          <div class="col-md-12">

<!-- message error mqtt -->

{% if error_message_mqtt != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_mqtt }}</span>
  </div>  
{% endif %}   


<!------------->
<!-- DEVICES -->
<!------------->

<!-- success message change settings devices -->

{% if success_message_change_settings_devices != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings_devices %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings devices -->

{% if error_message_change_settings_devices != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_devices %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- device table -->

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Geräte</h4>
              </div>
              <form method="POST">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead>
                        <th scope="col" style="width:3%"></th>  
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Gerät</th>                        
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Adresse</th> 
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Modell</th>
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Gerätetyp</th>                     
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Beschreibung</th> 
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Letzter Kontakt</th>     
                        <th scope="col" style="width:5%"></th>                                                                                
                      </thead>
                      <tbody> 
                        {% for entry in list_devices %}
                        <tr>
                          <td> 
                            <a href="/devices/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                            <a href="/devices/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                          </td>              
                          <td>                     
                            <form method="POST" class="verticalform">                                                   
                            <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                          </td>      
                          <td>{{ entry.ieeeAddr }}</td>    
                          <td>{{ entry.model }}</td>     
                          <td>{{ entry.device_type }}</td>     
                          <td>{{ entry.description }}</td>  
                          <td>{{ entry.last_contact }}</td>                
                          <td>
                            <a href="/devices/delete/{{ entry.id }}#table"><font size="6"><i class="tim-icons icon-trash-simple"></i></font></a>
                          </td>                                 
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#'" name="save_device_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/devices#'" name="update_mqtt_devices" class="btn btn-fill btn-info pull-right">UPDATE</button>
                </div>
              </form>
            </div>


<!------------>
<!-- BROKER -->
<!------------>

<section id="broker_settings"></section>    

<!-- success message change settings broker -->

{% if success_message_change_settings_broker == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings broker -->

{% if error_message_change_settings_broker != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_broker %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  
  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Broker</h5>
              </div>
              <form method="POST">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Broker</label>
                        <input type="text" class="form-control" name="set_broker" value="{% if broker.broker != None %}{{ broker.broker }}{% endif %}" /> 
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Benutzername (Optional)</label>
                        <input type="text" class="form-control" name="set_user" value="{% if broker.user != None %}{{ broker.user }}{% endif %}" /> 
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Passwort (Optional)</label>
                        <input type="text" class="form-control" name="set_password" value="{% if broker.password != None %}{{ broker.password }}{% endif %}" /> 
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/devices#broker_settings'" name="save_broker_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/devices#broker_settings'" name="restore_broker_settings" class="btn btn-fill btn-warning pull-right">RESTORE</button>
                </div>                
              </form>
            </div>


<!--------->
<!-- LOG -->
<!--------->

            <div class="card">
              <div class="card-body">
                <form method="POST"> 
                  <a href="/devices/download/log_mqtt.csv?time={{ timestamp }}"><font color="lightblue"><b>Device Log herunterladen</b></font></a>
                  <br>
                  <br>
                  <div class="dropdown text-right">
                    <button type="submit" onclick="window.location.href='/devices#logfile'" name="reset_logfile" class="btn btn-danger text-right">RESET DEVICE LOG</button>
                  </div> 
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>          