
      <div class="content">
        <div class="row">
          <div class="col-md-12">

<!-- device table -->

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"> Geräte</h4>
              </div>
              <div class="card-body">
                <form method="POST">
                  <div class="table-responsive">
                    <table class="table tablesorter " id="">
                      <thead>
                        <th scope="col" style="width:3%"></th>  
                        <th scope="col" style="width:20%">Gerät</th>                        
                        <th scope="col">Adresse</th> 
                        <th scope="col">Gerätetyp</th>                     
                        <th scope="col">Beschreibung</th> 
                        <th scope="col">Letzter Kontakt</th>     
                        <th scope="col"></th>   
                        <th scope="col" style="width:5%"></th>                                                                                
                      </thead>
                      <tbody> 
                        {% for entry in list_devices %}
                        <tr>
                          <td> 
                            <a href="/devices.html/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                            <a href="/devices.html/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                          </td>              
                          <td>                     
                            <form method="POST" class="verticalform">                                                   
                            <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                          </td>      
                          <td>{{ entry.ieeeAddr }}</td>        
                          <td>{{ entry.device_type }}</td>     
                          <td>{{ entry.description }}</td>  
                          <td>{{ entry.last_contact }}</td>    
                          <td></td>              
                          <td><a href="/devices/delete/{{ entry.ieeeAddr }}#mqtt_table"><font color="salmon" size="5"><b>X</b></font></a></td>                                   
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">
                  <div class="row justify-content-md-left">
                    <div class="col-sm-3">                      
                      <button type="submit" onclick="window.location.href='/devices.html#'" name="save_device_settings" class="btn btn-fill btn-primary">Save</button>
                    </div>
                    <div class="col-sm-3"> 
                      <input type="submit" onclick="window.location.href='/devices.html#'" class="btn btn-default" name="update_mqtt_devices" value="Verbindungen aktuallisieren" />
                    </div>
                  </div>  
                </div>
              </form>
            </div>

<!-- device settings -->

<section id="devices_settings"></section>      

            <div class="card">
              <div class="card-header">
                <h5 class="title">Geräte | Einstellungen</h5>
              </div>
              <div class="card-body">
                <form method="POST">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Broker</label>
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Benutzername</label>
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Passwort</label>
                        <input type="text" class="form-control" value="">
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/devices.html#devices_settings'" name="save_device_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>

<!-- device log -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">Geräte | Log - Datei</h5>
              </div>
              <div class="card-body">
                <form method="POST"> 
                  <a href="/devices/download/log_mqtt.csv?time={{ timestamp }}"><font color="lightblue"><b>Log-Datei herunterladen</b></font></a>
                  <br>
                  <br>
                  <div class="dropdown text-right">
                    <input type="submit" onclick="window.location.href='/system/mqtt#logfile'" class="btn btn-danger text-right" name="reset_logfile" value="Log-Datei zurücksetzen">
                  </div> 
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>          