      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Devices - Controller</b></h4>
              </div>
            </div> 

<!------------------------>
<!--  CONTROLLER TABLE  -->
<!------------------------>   

{% for entry in list_controller %}

<section id="table_{{entry.id}}"></section>  

<!-- success message change settings controller -->

{% if success_message_change_settings_controller == entry.id %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message controller tasks -->

{% if entry.task_errors != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in entry.task_errors.split(",") %}
      {{ error | replace("action:","") | replace("click:","") }} <br>
    {% endfor %}
  </div>      
{% endif %}  

            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b><i class='uil uil-arrow-down'> {{entry.device.name}} </i></b></font></a>
                <br>
                <br>
              </div>            
              <form method="POST">      
                <div id="collapse{{entry.id}}" class="collapse{% if entry.collapse == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <tbody>
                          <tr style="border-style:hidden;">                               
                            <td style="width:20%" class="minwidth_200"> 
                              {{ entry.command_1 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                            </td>
                            <td style="width:77%" class="minwidth_300">  
                              <input type="text" class="form-control" name="set_task_1_{{entry.id}}" 
                                value="{% if entry.task_1 != None and entry.task_1 != "None" %}{{ entry.task_1 }}{% endif %}" />
                            </td> 
                          </tr>
                          
                          {% if entry.command_2 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_2 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_2_{{entry.id}}" 
                                  value="{% if entry.task_2 != None  and entry.task_2 != "None" %}{{ entry.task_2 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_3 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_3 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_3_{{entry.id}}" 
                                  value="{% if entry.task_3 != None and entry.task_3 != "None" %}{{ entry.task_3 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_4 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_4 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_4_{{entry.id}}" 
                                  value="{% if entry.task_4 != None and entry.task_4 != "None" %}{{ entry.task_4 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}  
                          
                          {% if entry.command_5 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_5 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_5_{{entry.id}}" 
                                  value="{% if entry.task_5 != None and entry.task_5 != "None" %}{{ entry.task_5 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_6 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_6 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_6_{{entry.id}}" 
                                  value="{% if entry.task_6 != None and entry.task_6 != "None" %}{{ entry.task_6 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_7 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_7 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_7_{{entry.id}}" 
                                  value="{% if entry.task_7 != None and entry.task_7 != "None" %}{{ entry.task_7 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_8 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_8 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_8_{{entry.id}}" 
                                  value="{% if entry.task_8 != None and entry.task_8 != "None" %}{{ entry.task_8 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}   
                          
                          {% if entry.command_9 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_9 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_9_{{entry.id}}"
                                  value="{% if entry.task_9 != None and entry.task_9 != "None" %}{{ entry.task_9 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}    

                          {% if entry.command_10 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_10 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_10_{{entry.id}}"
                                  value="{% if entry.task_10 != None and entry.task_10 != "None" %}{{ entry.task_10 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}      

                          {% if entry.command_11 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_11 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_11_{{entry.id}}"
                                  value="{% if entry.task_11 != None and entry.task_11 != "None" %}{{ entry.task_11 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_12 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_12 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_12_{{entry.id}}"
                                  value="{% if entry.task_12 != None and entry.task_12 != "None" %}{{ entry.task_12 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}      

                          {% if entry.command_13 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_13 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_13_{{entry.id}}"
                                  value="{% if entry.task_13 != None and entry.task_13 != "None" %}{{ entry.task_13 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_14 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_14 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_14_{{entry.id}}"
                                  value="{% if entry.task_14 != None and entry.task_14 != "None" %}{{ entry.task_14 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_15 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_15 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_15_{{entry.id}}"
                                  value="{% if entry.task_15 != None and entry.task_15 != "None" %}{{ entry.task_15 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_16 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_16 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_16_{{entry.id}}"
                                  value="{% if entry.task_16 != None and entry.task_16 != "None" %}{{ entry.task_16 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_17 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_17 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_17_{{entry.id}}"
                                  value="{% if entry.task_17 != None and entry.task_17 != "None" %}{{ entry.task_17 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_18 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_18 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_18_{{entry.id}}"
                                  value="{% if entry.task_18 != None and entry.task_18 != "None" %}{{ entry.task_18 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  

                          {% if entry.command_19 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_19 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_19_{{entry.id}}"
                                  value="{% if entry.task_19 != None and entry.task_19 != "None" %}{{ entry.task_19 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}     

                          {% if entry.command_20 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_20 | replace('"', '') | replace('{', '') | replace('}', '') | replace("action:","") | replace("click:","") | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_20_{{entry.id}}"
                                  value="{% if entry.task_20 != None and entry.task_20 != "None" %}{{ entry.task_20 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}      

                        </tbody>
                      </table>
                    </div>                            
                    <button type="submit" onclick="window.location.href='/devices/controller#table_{{entry.id}}'" name="save_controller_settings" class="btn btn-fill btn-primary">SAVE</button>
                  </div>
                </form>
              </div>
            </div>

{% endfor %} 


<!------------------------------>
<!-- CONTROLLER TASKS OPTIONS -->
<!------------------------------>   

            <div class="card">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse_info"><font color="white"><b><i class='uil uil-arrow-down'> Commands </i></b></font></a>
                <br>
                <br>
              </div>                 
              <div id="collapse_info" class="collapse">      
                <div class="card-body"> 
                  <div class="table-responsive">                
                    <table class="table tablesorter">
                      <tbody>                                    
                        <tr>
                          <td><h4><p class="text-muted">Lighting</p></h4></td>
                          <td></td>
                        </tr>    
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                                                              
                        <tr>
                          <td>lighting # start_scene # livingroom # relax # 100</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start lighting | group "livingroom" | scene "relax" | brightness "100%"
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Lighting - Groups >>
                              </div>
                              <div class="col-sm-8">   
                                {% for group in list_lighting_group_options %}
                                  {{ group }} |
                                {% endfor %}    
                              </div>  
                            </div>  
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Lighting - Scenes >>
                              </div>
                              <div class="col-sm-8">   
                                {% for scene in list_lighting_scene_options %}
                                  {{ scene }} |
                                {% endfor %}    
                              </div>  
                            </div>                              
                          </td>                                                     
                        </tr>
                        <tr>
                          <td>lighting # start_scene/turn_off # livingroom # relax # 100</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start lighting | group "livingroom" | scene "relax" | brightness "100%" or turn off the lights of group "livingroom"
                              </div>
                            </div>                       
                          </td>                                                     
                        </tr>                   
                        <tr>
                          <td>lighting # rotate_scene # livingroom</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                rotate scene setting of group "livingroom"
                              </div>
                            </div>                       
                          </td>                                                     
                        </tr>
                        <tr>
                          <td>lighting # brightness # bedroom # TURN_UP</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                increase brightness in "bedroom" by 20%
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_UP >>
                              </div>
                              <div class="col-sm-8"> 
                                increase brightness
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_DOWN >> 
                              </div>
                              <div class="col-sm-8"> 
                                decrease brightness
                              </div>                        
                            </div>
                          </td>
                        </tr>  
                        <tr>
                          <td>lighting # light # LED_FLOOR # 255 0 0 # 100</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start lighting | light "LED_FLOOR" | rgb "255 0 0" | brightness "100%"
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Lights >>
                              </div>
                              <div class="col-sm-8">   
                                {% for light in list_light_options %}
                                  {{ light }} |
                                {% endfor %}    
                              </div>  
                            </div>                              
                          </td>                                
                        </tr>                           
                        <tr>
                          <td>lighting # turn_off # group # kitchen, bathroom</td>
                          <td>turn off the lights of group "bathroom" and "kitchen"</td>
                        </tr>  
                        <tr>                        
                          <td>lighting # turn_off # light # LED_FLOOR</td>
                          <td>turn off the light "LED_FLOOR"</td>
                        </tr>                                         
                        <tr>
                          <td>lighting # turn_off # ALL</td>
                          <td>turn off all lights</td>
                        </tr> 
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>       
                        <tr>
                          <td><h4><p class="text-muted">Devices</p></h4></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                                 
                        <tr>
                          <td>device # Power_TV, Power_Server # OFF</td>   
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                send | command "OFF" | devices "Power_TV" and "Power_Server"
                              </div>
                            </div>  
                            <br>
                            {% for device in list_device_command_options %}
                              <div class="row justify-content-md-center">
                                <div class="col-sm-4">
                                  {{ device[0] }} >>
                                </div>
                                <div class="col-sm-8">          
                                  {{ device[1] | replace(',', ' | ') }} 
                                </div>
                              </div> 
                            {% endfor %}                                            
                          </td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>     
                        <tr>
                          <td><h4><p class="text-muted">Sensordata</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                    
                        <tr>
                          <td>request_sensordata # sensor_1 </td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                request and save data of sensor_1 (only active sensor)
                              </div>
                            </div>        
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Sensordata Jobs >>
                              </div>
                              <div class="col-sm-8">   
                                {% for job in list_sensordata_job_options %}
                                  {{ job }} |
                                {% endfor %}    
                              </div>  
                            </div>                                                              
                          </td>                    
                        </tr>    
                        <tr>                          
                          <td></td>
                          <td></td>
                        </tr>     
                        <tr>
                          <td><h4><p class="text-muted">Programs</p></h4></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                                 
                        <tr>
                          <td>program # SUNRISE # START</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start program "SUNRISE" 
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                START >> 
                              </div>
                              <div class="col-sm-8"> 
                                start 
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP >> 
                              </div>
                              <div class="col-sm-8"> 
                                stop 
                              </div>                        
                            </div>                                                               
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Programs >>
                              </div>
                              <div class="col-sm-8">   
                                {% for program in list_program_options %}
                                  {{ program }} |
                                {% endfor %}    
                              </div>  
                            </div>                                                                       
                          </td>                    
                        </tr>                             
                        <tr> 
                          <td></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td><h4><p class="text-muted">Music</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                    
                        <tr>
                          <td>music # PLAY</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start | last song | album | playlist | on active device or start DEFAULT_SETTINGS
                              </div>
                            </div>  
                            <br>                          
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PLAY >> 
                              </div>
                              <div class="col-sm-8"> 
                                start playing
                              </div>                        
                            </div>      
                            </div>   
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PLAY/STOP >> 
                              </div>
                              <div class="col-sm-8"> 
                                start playing or stop current playing
                              </div>                        
                            </div>      
                            </div>                                                                     
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                ROTATE_PLAYLIST >> 
                              </div>
                              <div class="col-sm-8"> 
                                rotate playlists of current playing device
                              </div>                        
                            </div>                                                                                             
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PREVIOUS >> 
                              </div>
                              <div class="col-sm-8"> 
                                previous track 
                              </div>                        
                            </div>    
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                NEXT >> 
                              </div>
                              <div class="col-sm-8"> 
                                next track
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP >> 
                              </div>
                              <div class="col-sm-8"> 
                                stop playing
                              </div>                        
                            </div>      
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                VOLUME_UP >> 
                              </div>
                              <div class="col-sm-8"> 
                                increase volume
                              </div>                        
                            </div>    
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                VOLUME_DOWN >> 
                              </div>
                              <div class="col-sm-8"> 
                                decrease volume
                              </div>                        
                            </div>                                                   
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                VOLUME # 70 >> 
                              </div>
                              <div class="col-sm-8"> 
                                set volume to 70%
                              </div>
                            </div>                        
                            <br>        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Devices >>
                              </div>
                              <div class="col-sm-8">   
                                {% for device in list_spotify_devices %}
                                  {% if device['type'] != "Smartphone" %}
                                    {% if "multiroom" in device['name'] %}
                                      multiroom |
                                    {% else %}
                                      {{ device['name'] }} |
                                    {% endif %}                                          
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>                     
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Playlists >>
                              </div>
                              <div class="col-sm-8">   
                                {% for playlist in list_spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    {{ playlist['name'] }} |
                                  {% endif %}
                                {% endfor %}    
                              </div>
                            </div>                                                                                    
                          </td>                    
                        </tr>                                                    
                        <tr>
                          <td>music # playlist # PC # Rock # 50</td>
                          <td>start music | playlist "Rock" | device "PC"</td>
                        </tr>     
                        <tr>
                          <td>music # track # PC # Go Time # Young Mozart # 25</td>
                          <td>start music | track "Go Time" | interprets "Young Mozart" | device "PC" | volume "25%"</td>
                        </tr>     
                        <tr>
                          <td>music # album # PC # Hold On # Nano # 60</td>
                          <td>start music | album "Hold On" | interprets "Nano" | device "PC" | volume "25%"</td>
                        </tr>                                                                                       
                      </tbody>
                    </table>           
                  </div>                 
                </div>            
              </div>
            </div>

          </div>
        </div>
      </div>                 