
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Login</h5>

                    {% if msg %}
                      <label><p class="text-danger">{{ msg }}</p></label>
                    {% else %}
                      <label>Sign in with your credentials</label>
                    {% endif %}

              </div>
              <div class="card-body">

              <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}
                  
                  <div class="row">

                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-5 px-md-1">
                      <div class="form-group">
                        {{ form.name(placeholder="Name",class="form-control") }}
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-5 px-md-1">
                      <div class="form-group">
                        {{ form.password(placeholder="Password",class="form-control",type="password") }}
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-1 px-md-1">
                    <button type="submit" class="btn btn-fill btn-primary">LOGIN</button> 
                    </div>

                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

