      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/led/scenes" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Szenen</a>                
                  <a href="/led/groups" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Gruppen</a>
                </div>           
              </div>  
            </div>  

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


  <script>
      
    function load_colorpicker(scene_1) {

      var colorPicker = new iro.ColorPicker(".colorPicker_1_1", { width: 180, color: "rgb({{ scene_1.red_1 }}, {{ scene_1.green_1 }}, {{ scene_1.blue_1 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
        colorPicker.on(["color:init", "color:change"], function(color){
          var message = new Object();  message.scene_number = 1;   message.led_number = 1;  message.rgb_values = color.rgbString; 
          $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
        });
      {% if scene_1.active_setting_2 == "True" %}  
        var colorPicker = new iro.ColorPicker(".colorPicker_2_1", { width: 180, color: "rgb({{ scene_1.red_2 }}, {{ scene_1.green_2 }}, {{ scene_1.blue_2 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 1;  message.led_number = 2;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_1.active_setting_3 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_3_1", { width: 180, color: "rgb({{ scene_1.red_3 }}, {{ scene_1.green_3 }}, {{ scene_1.blue_3 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 1;  message.led_number = 3;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_1.active_setting_4 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_4_1", { width: 180, color: "rgb({{ scene_1.red_4 }}, {{ scene_1.green_4 }}, {{ scene_1.blue_4 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 1;   message.led_number = 4;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_1.active_setting_5 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_5_1", { width: 180, color: "rgb({{ scene_1.red_5 }}, {{ scene_1.green_5 }}, {{ scene_1.blue_5 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 1;  message.led_number = 5;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_1.active_setting_6 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_6_1", { width: 180, color: "rgb({{ scene_1.red_6 }}, {{ scene_1.green_6 }}, {{ scene_1.blue_6 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 1;  message.led_number = 6;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_1.active_setting_7 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_7_1", { width: 180, color: "rgb({{ scene_1.red_7 }}, {{ scene_1.green_7 }}, {{ scene_1.blue_7 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 1;   message.led_number = 7;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_1.active_setting_8 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_8_1", { width: 180, color: "rgb({{ scene_1.red_8 }}, {{ scene_1.green_8 }}, {{ scene_1.blue_8 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 1;  message.led_number = 8;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_1.active_setting_9 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_9_1", { width: 180, color: "rgb({{ scene_1.red_9 }}, {{ scene_1.green_9 }}, {{ scene_1.blue_9 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 1;  message.led_number = 9;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });   
      {% endif %}                   

      {% if scene_2 != "" %}   
      var colorPicker = new iro.ColorPicker(".colorPicker_1_2", { width: 180, color: "rgb({{ scene_2.red_1 }}, {{ scene_2.green_1 }}, {{ scene_2.blue_1 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
        colorPicker.on(["color:init", "color:change"], function(color){
          var message = new Object();  message.scene_number = 2;   message.led_number = 1;  message.rgb_values = color.rgbString; 
          $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
        });
      {% endif %}    
      {% if scene_2.active_setting_2 == "True" %}            
        var colorPicker = new iro.ColorPicker(".colorPicker_2_2", { width: 180, color: "rgb({{ scene_2.red_2 }}, {{ scene_2.green_2 }}, {{ scene_2.blue_2 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 2;  message.led_number = 2;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_2.active_setting_3 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_3_2", { width: 180, color: "rgb({{ scene_2.red_3 }}, {{ scene_2.green_3 }}, {{ scene_2.blue_3 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 2;  message.led_number = 3;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_2.active_setting_4 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_4_2", { width: 180, color: "rgb({{ scene_2.red_4 }}, {{ scene_2.green_4 }}, {{ scene_2.blue_4 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 2;   message.led_number = 4;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_2.active_setting_5 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_5_2", { width: 180, color: "rgb({{ scene_2.red_5 }}, {{ scene_2.green_5 }}, {{ scene_2.blue_5 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 2;  message.led_number = 5;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_2.active_setting_6 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_6_2", { width: 180, color: "rgb({{ scene_2.red_6 }}, {{ scene_2.green_6 }}, {{ scene_2.blue_6 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 2;  message.led_number = 6;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_2.active_setting_7 == "True" %}             
        var colorPicker = new iro.ColorPicker(".colorPicker_7_2", { width: 180, color: "rgb({{ scene_2.red_7 }}, {{ scene_2.green_7 }}, {{ scene_2.blue_7 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 2;   message.led_number = 7;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_2.active_setting_8 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_8_2", { width: 180, color: "rgb({{ scene_2.red_8 }}, {{ scene_2.green_8 }}, {{ scene_2.blue_8 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 2;  message.led_number = 8;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_2.active_setting_9 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_9_2", { width: 180, color: "rgb({{ scene_2.red_9 }}, {{ scene_2.green_9 }}, {{ scene_2.blue_9 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 2;  message.led_number = 9;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });     
      {% endif %}              


      {% if scene_3 != "" %}   
        var colorPicker = new iro.ColorPicker(".colorPicker_1_3", { width: 180, color: "rgb({{ scene_3.red_1 }}, {{ scene_3.green_1 }}, {{ scene_3.blue_1 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;   message.led_number = 1;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_3.active_setting_2 == "True" %}           
        var colorPicker = new iro.ColorPicker(".colorPicker_2_3", { width: 180, color: "rgb({{ scene_3.red_2 }}, {{ scene_3.green_2 }}, {{ scene_3.blue_2 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;  message.led_number = 2;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %}
      {% if scene_3.active_setting_3 == "True" %}      
        var colorPicker = new iro.ColorPicker(".colorPicker_3_3", { width: 180, color: "rgb({{ scene_3.red_3 }}, {{ scene_3.green_3 }}, {{ scene_3.blue_3 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 3;  message.led_number = 3;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_3.active_setting_4 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_4_3", { width: 180, color: "rgb({{ scene_3.red_4 }}, {{ scene_3.green_4 }}, {{ scene_3.blue_4 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;   message.led_number = 4;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_3.active_setting_5 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_5_3", { width: 180, color: "rgb({{ scene_3.red_5 }}, {{ scene_3.green_5 }}, {{ scene_3.blue_5 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;  message.led_number = 5;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_3.active_setting_6 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_6_3", { width: 180, color: "rgb({{ scene_3.red_6 }}, {{ scene_3.green_6 }}, {{ scene_3.blue_6 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 3;  message.led_number = 6;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          }); 
      {% endif %} 
      {% if scene_3.active_setting_7 == "True" %}             
        var colorPicker = new iro.ColorPicker(".colorPicker_7_3", { width: 180, color: "rgb({{ scene_3.red_7 }}, {{ scene_3.green_7 }}, {{ scene_3.blue_7 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;   message.led_number = 7;  message.rgb_values = color.rgbString; 
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_3.active_setting_8 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_8_3", { width: 180, color: "rgb({{ scene_3.red_8 }}, {{ scene_3.green_8 }}, {{ scene_3.blue_8 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){
            var message = new Object();  message.scene_number = 3;  message.led_number = 8;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });
      {% endif %} 
      {% if scene_3.active_setting_9 == "True" %}              
        var colorPicker = new iro.ColorPicker(".colorPicker_9_3", { width: 180, color: "rgb({{ scene_3.red_9 }}, {{ scene_3.green_9 }}, {{ scene_3.blue_9 }})", borderWidth: 0.25, borderColor: "#6c757d", layout: [{component: iro.ui.Wheel,options: {}}] });
          colorPicker.on(["color:init", "color:change"], function(color){ 
            var message = new Object();  message.scene_number = 3;  message.led_number = 9;  message.rgb_values = color.rgbString;
            $.ajax({ type: "POST", url: "/RGB", data: JSON.stringify(message), success: function(){}, dataType: "json", contentType : "application/json" });
          });     
      {% endif %}   
    }  

    window.onload = function () {
        load_colorpicker("parameter");
    };
              
  </script>


<!---------------->
<!--  LED TABLE -->
<!---------------->   

{% for entry in list_led_scenes %}

<section id="table_{{entry.id}}"></section>  

<!-- success message change settings led scene -->

{% if success_message_change_settings_led_scene == entry.id %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings led scene -->

{% if error_message_change_settings_led_scene['scene_number'] == entry.id %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_change_settings_led_scene['message'] }}</span>
  </div>
{% endif %}  

            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b><i class='uil uil-arrow-down'> {{entry.name}} </i></b></font></a>
                <br>
                <br>
              </div>    
              <form method="POST">  
                <div id="collapse{{entry.id}}" class="collapse{% if entry.collapse == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <tbody> 
                          <tr>
                            <td style="width:3%">
                              <a href="/led/scenes/position/up/{{ entry.id }}#table_{{entry.id}}"><i class="tim-icons icon-minimal-up"></i></a>
                              <a href="/led/scenes/position/down/{{ entry.id }}#table_{{entry.id}}"><i class="tim-icons icon-minimal-down"></i></a>                                
                            </td>                 
                            <td style="width:20%">
                              <p style="visibility: hidden;">invisibletextforminlenght</p>
                                <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />   
                              <p style="visibility: hidden;">invisibletextforminlenght</p>                                
                            </td> 
                            <td></td>
                            <td style="width:5%">
                              <a href="/led/scenes/add_led/{{ entry.id }}#table_{{entry.id}}"><font size="6"><i class="tim-icons icon-simple-add"></i></font></a>                          
                              <br>
                              <br>                                                          
                              <a href="/led/scenes/remove_led/{{ entry.id }}#table_{{entry.id}}"><font size="6"><i class="tim-icons icon-simple-delete"></i></font></a>    
                            </td> 
                            <td></td> 

<!-- section 1 / 2 / 3 -->

                            <td></td>
                            <td style="width:24%">      
                              <br>
                              <br>               
                              <div class="wrap">
                                <div class="half">       
                                  <div class="colorPicker_1_{{ entry.id }}"></div>
                                </div>
                              </div>     
                              <br>
                              <br>                                                       
                            </td>

                            {% if entry.active_setting_2 == "True" %}    

                              <td style="width:24%">
                                <br>
                                <br>                                
                                <div class="wrap">
                                  <div class="half">
                                    <div class="colorPicker_2_{{ entry.id }}"></div>
                                  </div>
                                </div>
                                <br>
                                <br>                                  
                              </th>

                            {% else %}   
                              <td style="width:24%"></td>
                            {% endif %}   

                            {% if entry.active_setting_3 == "True" %} 

                              <td style="width:24%">    
                                <br>
                                <br>                                                   
                                <div class="wrap">
                                  <div class="half">
                                    <div class="colorPicker_3_{{ entry.id }}"></div>
                                  </div>
                                </div>
                                <br>
                                <br>                                 
                              </th>

                            {% else %}   
                              <td style="width:24%"></td>
                            {% endif %}   

<!-- section 4 / 5 / 6 -->

                          {% if entry.active_setting_4 == "True" %} 

                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <p style="visibility: hidden;">
                                <td style="width:24%">
                                  <br>
                                  <br>                                  
                                  <div class="wrap">
                                    <div class="half">
                                      <div class="colorPicker_4_{{ entry.id }}"></div>
                                    </div>
                                  </div>    
                                  <br>
                                  <br>                                                                    
                                </td>
                              </p>
                              
                            {% if entry.active_setting_5 == "True" %} 

                              <p style="visibility: hidden;">
                                <td style="width:24%">
                                  <br>
                                  <br>                                  
                                  <div class="wrap">
                                    <div class="half">
                                      <div class="colorPicker_5_{{ entry.id }}"></div>
                                    </div>
                                  </div>      
                                  <br>
                                  <br>                                                                  
                                </td>
                              </p>

                            {% else %}   
                              <td style="width:24%"></td>
                            {% endif %}   

                            {% if entry.active_setting_6 == "True" %} 

                              <p style="visibility: hidden;">
                                <td style="width:24%">
                                  <br>
                                  <br>                                 
                                  <div class="wrap">
                                    <div class="half">
                                      <div class="colorPicker_6_{{ entry.id }}"></div>
                                    </div>
                                  </div>    
                                  <br>
                                  <br>                                                                   
                                </td>
                              </p>
                                                      
                            {% else %}   
                              <td style="width:24%"></td>
                            {% endif %}                                                                              

                          {% endif %}

<!-- section 7 / 8 / 9 -->

                          {% if entry.active_setting_7 == "True" %} 

                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <p style="visibility: hidden;">
                                <td style="width:24%">
                                  <br>
                                  <br>                                  
                                  <div class="wrap">
                                    <div class="half">
                                      <div class="colorPicker_7_{{ entry.id }}"></div>
                                    </div>
                                  </div>    
                                  <br>
                                  <br>    
                                </td>
                              </p>
    
                              {% if entry.active_setting_8 == "True" %} 

                                <p style="visibility: hidden;">
                                  <td style="width:24%">
                                    <br>
                                    <br>                                      
                                    <div class="wrap">
                                      <div class="half">
                                        <div class="colorPicker_8_{{ entry.id }}"></div>
                                      </div>
                                    </div>   
                                    <br>
                                    <br>                                                                         
                                  </td>
                                </p>

                              {% else %}   
                                <td style="width:24%"></td>
                              {% endif %}   

                              {% if entry.active_setting_9 == "True" %} 

                                <p style="visibility: hidden;">
                                  <td style="width:24%">
                                    <br>
                                    <br>                                      
                                    <div class="wrap">
                                      <div class="half">
                                        <div class="colorPicker_9_{{ entry.id }}"></div>
                                      </div>
                                    </div>   
                                    <br>
                                    <br>                                                                         
                                  </td>
                                </p>
                                                        
                              {% else %}   
                                <td style="width:24%"></td>
                              {% endif %}   

                          {% endif %}

                          </tr>
                        </tbody>
                      </table> 
                    </div> 
                  </div>  

<!-- end table -->
          
                  <div class="card-footer">                   
                    <button type="submit" onclick="window.location.href='/led/scenes#table_{{entry.id}}'" name="save_led_scene_settings" class="btn btn-fill btn-primary">SAVE</button>
                    <button type="submit" onclick="window.location.href='/led/scenes#'" name="delete_led_scene_{{entry.id}}" class="btn btn-fill btn-danger pull-right">DELETE</button>
                  </div>
                </form>
              </div>
            </div>

{% endfor %} 

<!---------------->
<!-- ADD SCENE  -->
<!---------------->

<section id="add_led_scene"></section>   

<!-- success message add led scene -->

{% if success_message_add_led_scene == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Szene erfolgreich hinzugefügt</span>
  </div>
{% endif %}  

<!-- error message add led scene --> 

{% if error_message_add_led_scene != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_led_scene %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


            <div class="card">
              <div class="card-header">
                <h5 class="title">Szene hinzufügen</h5>
              </div>   
              <form method="POST">         
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-3">                       
                          <div class="form-group">
                            <label>Szene</label>
                            <input type="text" class="form-control" name="set_name" value="{{ name }}" /> 
                          </div>
                        </div>                     
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/led/scenes#add_led_scene'" name="add_led_scene" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>                             