      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/lighting/scenes" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Scenes</a>                
                  <a href="/lighting/groups" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Groups</a>
                </div>           
              </div>  
            </div>  


<!---------------->
<!-- ADD GROUP  -->
<!---------------->

<!-- success message add lighting group -->

{% if success_message_add_lighting_group == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Group successfully added</span>
  </div>
{% endif %}  

<!-- error message add lighting group --> 

{% if error_message_add_lighting_group != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_lighting_group %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


            <div class="card">
              <form method="POST">         
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/lighting/groups#'" name="add_lighting_group" class="btn btn-fill btn-primary">NEW GROUP</button>
                </div>
              </form>
            </div>


<!--------------------------->
<!--  LIGHTING GROUP TABLE -->
<!--------------------------->   

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  



{% for entry in list_lighting_groups %}

<section id="table_{{entry.id}}"></section>  

<!-- success message change settings lighting group -->

{% if success_message_change_settings_lighting_group == entry.id %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Settings successfully changed</span>
  </div>
{% endif %}  

<!-- error message change settings lighting group -->

{% if error_message_change_settings_lighting_group['group_number'] == entry.id %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_change_settings_lighting_group['message'] }}</span>
  </div>
{% endif %}  

<!-- error message settings -->

{% if entry.group_errors != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in entry.group_errors.split(",") %}
      {{ error }} <br>
    {% endfor %}
  </div>      
{% endif %}  

            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b><i class='uil uil-arrow-down'> {{entry.name}} </i></b></font></a>
                <br>
                <br>
              </div>            
              <form method="POST">      
                <div id="collapse{{entry.id}}" class="collapse{% if entry.collapse == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <thead>     
                          <th scope="col" style="width:3%"></th>                   
                          <th scope="col" style="width:20%" class="minwidth_200">Group</th> 
                          <th></th>
                          <th style="width:5%"></th>
                          <th></th>
                          <th scope="col" style="width:12%" class="minwidth_200">Model</th>
                          <th scope="col" style="width:30%" class="minwidth_200">Light</th>
                          <th style="width:30%"></th>
                        </thead>
                        <tbody> 
                          <tr>
                            <th>
                              <a href="/lighting/groups/position/up/{{ entry.id }}#table_{{entry.id}}"><i class="tim-icons icon-minimal-up"></i></a>
                              <a href="/lighting/groups/position/down/{{ entry.id }}#table_{{entry.id}}"><i class="tim-icons icon-minimal-down"></i></a>                                  
                            </td>                    
                            <td>
                              <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                             
                            </td>  
                            <td></td>
                            <td style="width:5%">
                              <a href="/lighting/groups/add_light/{{ entry.id }}#table_{{entry.id}}"><font size="4"><i class="tim-icons icon-simple-add"></i></font></a>                          
                              <br>  
                              <br>                                                                                                                
                              <a href="/lighting/groups/remove_light/{{ entry.id }}#table_{{entry.id}}"><font size="4"><i class="tim-icons icon-simple-delete"></i></font></a>    
                            </td> 
                            <td></td> 

<!-- section 1 -->

                            <th>{{ entry.light_device_type_1 }}</td> 
                            <th>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_1_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_1 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_1 }}" > {{ entry.light_name_1 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 1 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>                   
                            </td> 
                            <td></td> 

<!-- section 2 -->

                        {% if entry.active_light_2 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_2 }}</td>             
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_2_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_2 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_2 }}" > {{ entry.light_name_2 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 2 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>  
                            </td> 
                            <td></td> 

                        {% endif %}

<!-- section 3 -->

                        {% if entry.active_light_3 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_3 }}</td>          
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_3_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_3 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_3 }}" > {{ entry.light_name_3 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 3 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select> 
                            </td> 
                            <td></td> 
                            
                        {% endif %}

<!-- section 4 -->

                        {% if entry.active_light_4 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <td></td>
                            <th>{{ entry.light_device_type_4 }}</td>            
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_4_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_4 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_4 }}" > {{ entry.light_name_4 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 4 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select> 
                            </td> 
                            <td></td> 

                        {% endif %}

<!-- section 5 -->

                        {% if entry.active_light_5 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_5 }}</td>              
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_5_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_5 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_5 }}" > {{ entry.light_name_5 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 5 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>   
                            </td> 
                            <td></td> 

                        {% endif %}

<!-- section 6 -->

                        {% if entry.active_light_6 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_6 }}</td>             
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_6_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_6 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_6 }}" > {{ entry.light_name_6 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 6 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select> 
                            </td>   
                            <td></td> 

                        {% endif %}

<!-- section 7 -->

                        {% if entry.active_light_7 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_7 }}</td>             
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_7_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_7 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_7 }}" > {{ entry.light_name_7 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 7 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>  
                            </td>  
                            <td></td> 

                        {% endif %}

<!-- section 8 -->

                         {% if entry.active_light_8 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_8 }}</td>             
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_8_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_8 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_8 }}" > {{ entry.light_name_8 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 8 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>       
                            </td>  
                            <td></td> 

                         {% endif %}

<!-- section 9 -->

                        {% if entry.active_light_9 == "True" %} 

                          </tr>
                          <tr style="border-style:hidden;">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                            <th>{{ entry.light_device_type_9 }}</td>              
                            <td>
                              <select class="form-control" data-size="5" name="set_light_ieeeAddr_9_{{ entry.id }}" style="background-color:#27293D"> 
                                {% if entry.light_ieeeAddr_9 != "None" %}
                                  <option value= "{{ entry.light_ieeeAddr_9 }}" > {{ entry.light_name_9 }} </option>  
                                {% else %}   
                                  <option value = "None" > Light 9 </option>   
                                {% endif %}                       
                                <option disabled>------------------</option>
                                {% for each in dropdown_list_lights %}
                                  <option value="{{ each.ieeeAddr }}"> {{ each.name }} </option>
                                {% endfor %}  
                              </select>                                
                            </td>   
                            <td></td> 

                        {% endif %}

                          </tr>     
                        </tbody>
                      </table>
                    </div>                 
                  </div>            
                  <div class="card-footer">                   
                    <button type="submit" onclick="window.location.href='/lighting/groups#table_{{entry.id}}'" name="save_lighting_group_settings" class="btn btn-fill btn-primary">SAVE</button>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-fill btn-danger pull-right" data-toggle="modal" data-target="#delete_dialog_{{entry.id}}">DELETE</button>
                    <!-- Modal -->
                    <div class="modal fade" id="delete_dialog_{{entry.id}}">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete {{entry.name}} ?</h5>
                          </div>          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                            <button type="submit" onclick="window.location.href='/lighting/groups#'" name="delete_lighting_group_{{entry.id}}" class="btn btn-fill btn-danger pull-right">DELETE</button>
                          </div>
                        </div>
                      </div>
                    </div>   

                  </div>
                </form>
              </div>
            </div>

{% endfor %} 

          </div>
        </div>
      </div>                             