<script src="/static/js/core/jquery-1.12.4.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    namespace  = '/socketIO';
    var socket = io(namespace);

    socket.on('music', function(msg) {
        $('#current_device').text(msg.current_device);   
        $('#current_state').text(msg.current_state);   
        $('#current_track').text(msg.current_track);                                 
        $('#current_artists').text(msg.current_artists);   
        $('#current_progress').text(msg.current_progress);    
        $('#current_playlist').text(msg.current_playlist);                          
    });
  });
</script>

      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Music</b></h4>
              </div>
            </div>

<!-------------------->
<!-- LOGIN / LOGOUT -->
<!-------------------->

            <div class="card">          
              <form method="POST">
                <div class="card-body">                          
                  Spotify >>> {% if spotify_user == "" %}<font color="salmon"> Not logged in </font>{% else %}<font color="lightgreen"> {{ spotify_user }} </font>{% endif %}</span>
                </div>   
                <div class="card-footer">                                                                    
                  {% if spotify_user == "" %}
                    <a href="/music/spotify/login#" class="btn btn-fill btn-info" role="button">Login</a> 
                  {% else %}    
                    <a href="/music/spotify/logout#" class="btn btn-fill btn-warning" role="button">Logout</a>  
                  {% endif %}  
                </div>  
              </form>
            </div>

{% if spotify_user != "" %}

  <!-- error message spotify -->   

  {% if error_message_spotify != "" %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span>{{ error_message_spotify }}</span>
    </div>
  {% endif %}   

  <!------------------>
  <!------------------>
  <!--  MOBILE ONLY -->
  <!------------------>
  <!------------------>

  {% if request.MOBILE %}

    {% if show_player != False %}

      <!---------------------------->
      <!-- PLAYER CONTROL MOBILE  -->
      <!---------------------------->

      <section id="player_control"></section>   

            <div class="card">
              <form method="POST">          
                <div class="card-body"> 

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Devices</span></p> 
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_device"></div> 
                    </div> 
                  </div>                       

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">  
                      <p><span>Playing</span></p>  
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_state"></div> 
                    </div> 
                  </div>    

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">   
                      <p><span>Track</span></p>                         
                    </div>                        
                    <div class="col-sm-9">                           
                      <div id="current_track"></div> 
                    </div> 
                  </div>    

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Artists</span></p>                        
                    </div>
                    <div class="col-sm-9">                           
                      <div id="current_artists"></div> 
                    </div> 
                  </div>      

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Progress</span></p>                        
                    </div>
                    <div class="col-sm-9">                           
                      <div id="current_progress"></div> 
                    </div> 
                  </div>   

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-3">    
                      <p><span>Playlist</span></p>                        
                    </div>
                    <div class="col-sm-9">                           
                      <div id="current_playlist"></div> 
                    </div> 
                  </div>                     

                  <div class="border-top my-2"></div>

                  <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_play">
                    <i class='uil uil-play'></i>
                  </button>     
                  <div class="pull-right">
                    <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_previous">
                      <i class='uil uil-backward'></i>
                    </button>
                  </div>
                  <br>
                  <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_next">
                    <i class='uil uil-forward'></i>
                  </button>
                  <div class="pull-right">                  
                    <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_stop">
                      <i class='uil uil-square-full'></i>
                    </button>
                  </div>
                  <br>                  
                  <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_volume">
                    <i class='uil uil-volume'></i>
                  </button>
                  <div class="pull-right">
                    <button type="submit" onclick="window.location.href='/music#player_control'" class="btn {% if spotify_shuffle == "True" %} btn-primary {% else %} btn-secondary {% endif %} " name="set_spotify_shuffle">
                      <i class="uil uil-arrow-random"></i>
                    </button>
                  </div>
                  <br> 
                  <br>  
                  <div class="vertical_center">       
                    <br>           
                    <input id="volume_slider_music_player_mobile" data-slider-id="volume_slider_music_player_mobile" name="set_spotify_player_volume" 
                      type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}"/>                               
                  </div>
                </div>
              </form>                
            </div>

    {% endif %} 

    {% if spotify_devices != "" %}   

    <!---------------------->
    <!-- PLAYLIST MOBILE  -->
    <!---------------------->

    <section id="table_playlist"></section> 

            <div class="card">
              <div class="card-header">Start Playlist</div>
              <form method="POST">          
                <div class="card-body">              
                  <select class="form-control" data-size="5" name="set_spotify_device_id" style="background-color:#27293D"> 
                    {% if spotify_devices != "" %}
                      {% for device in list_spotify_devices %}                   
                        {% if device['type'] != "Smartphone" %}
                          {% if "multiroom" in device['name'] %}
                            <option value="{{ device['id'] }}" > MULTIROOM </option>
                          {% else %}
                            <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <option value= "" > No devices found </option>
                    {% endif %}  
                  </select>       
                  <br>
                  <select class="form-control" data-size="5" name="set_spotify_playlist" style="background-color:#27293D"> 
                    {% if spotify_playlists != "" %}
                      {% for playlist in list_spotify_playlists %}
                        {% if playlist['name'] != "Discover Weekly" %}
                          <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <option value= "" > No playlists found </option>
                    {% endif %}  
                  </select>     
                  <br>                 
                  <input id="volume_slider_music_playlist_mobile" data-slider-id="volume_slider_music_playlist_mobile" name="set_spotify_playlist_volume" 
                    type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}"/>   
                  <br>
                  <br>      
                  <div class="text-center">                                  
                    <button type="submit" onclick="window.location.href='/music#table_playlist'" class="btn btn-default pull-center" name="spotify_start_playlist" >
                      <i class='uil uil-play'></i>
                    </button>      
                  </div>                                                          
                </div>    
              </form>                
            </div>

    <!------------------------------>
    <!-- DEFAULT SETTINGS MOBILE  -->
    <!------------------------------>

    <section id="table_default_settings"></section> 

    <!-- success message change default settings -->

    {% if success_message_change_default_settings == True %}
      <div class="alert alert-success">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span>Settings successfully changed</span>
      </div>
    {% endif %}  

    <!-- default settings mobile -->

            <div class="card">
              <div class="card-header">Default Player Settings</div>
              <form method="POST">          
                <div class="card-body">    
                  <select class="form-control" data-size="5" name="set_spotify_default_device_id" style="background-color:#27293D"> 
                    {% if "multiroom" in default_settings.default_device_name %}
                      <option value = "{{ default_settings.default_device_id }}" > 
                        MULTIROOM | {{ default_settings.default_device_name | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                    {% else %}
                      <option value="{{ default_settings.default_device_id }}" > {{ default_settings.default_device_name }} </option>
                    {% endif %}      
                    <option disabled>------------------</option>    
                    {% if spotify_devices != "" %}
                      {% for device in list_spotify_devices %}                  
                        {% if device['type'] != "Smartphone" %}
                          {% if "multiroom" in device['name'] %}
                            <option value="{{ device['id'] }}" > 
                              MULTIROOM | {{ device['name'] | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                          {% else %}
                            <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <option value= "" > No devices found </option>
                    {% endif %}  
                    <option disabled>------------------</option>  
                    <option value="None"> None </option> 
                  </select>  
                  <br>
                  <select class="form-control" data-size="5" name="set_spotify_default_playlist_uri" style="background-color:#27293D"> 
                    <option value = "{{ default_settings.default_playlist_uri }}" > {{ default_settings.default_playlist_name }} </option>          
                    <option disabled>------------------</option>                                
                    {% if spotify_playlists != "" %}
                      {% for playlist in list_spotify_playlists %}
                        {% if playlist['name'] != "Discover Weekly" %}
                          <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      <option value= "" > No playlists found </option>
                    {% endif %}  
                    <option disabled>------------------</option>  
                    <option value="None"> None </option> 
                  </select>    
                  <br>                 
                  <input id="volume_slider_music_default_mobile" data-slider-id="volume_slider_music_default_mobile" name="set_spotify_default_volume" 
                    type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ default_settings.default_volume }}"/>   
                  <br>
                  <br>     
                  <div class="text-center">              
                    <button type="submit" onclick="window.location.href='/music#table_default_settings'" name="save_default_settings" class="btn btn-fill btn-primary pull-center">SAVE</button>   
                  </div>                                                       
                </div>    
              </form>                
            </div>

    {% endif %} 

  <!---------------------->
  <!---------------------->
  <!--  END MOBILE ONLY -->
  <!---------------------->
  <!---------------------->

  {% else %}

  <!-------------------------->
  <!-------------------------->
  <!--  START DESKTOP ONLY  -->
  <!-------------------------->
  <!-------------------------->

    {% if show_player != False %}

    <!---------------------------->
    <!-- PLAYER CONTROL DESKTOP -->
    <!---------------------------->

    <section id="player_control"></section>   

            <div class="card">
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:15%" class="minwidth_150">Player</th>   
                        <th scope="col" style="width:10%" class="minwidth_100">Playing</th>                                                      
                        <th scope="col" style="width:20%" class="minwidth_200">Track</th>                                     
                        <th scope="col" style="width:20%" class="minwidth_200">Interprets</th>      
                        <th scope="col" style="width:10%" class="minwidth_100">Progress</th>                                          
                        <th scope="col" style="width:20%" class="minwidth_200">Playlist</th> 
                      </thead>                                             
                      <tbody> 
                        <tr>
                          <td>
                            <div id="current_device"></div> 
                          </td>   
                          <td>
                            <div id="current_state"></div> 
                          </td>   
                          <td>
                            <div id="current_track"></div> 
                          </td>                          
                          <td>
                            <div id="current_artists"></div> 
                          </td>          
                          <td>
                            <div id="current_progress"></div> 
                          </td>                                             
                          <td>
                            <div id="current_playlist"></div> 
                          </td>                                                                                                                          
                        </tr>             
                      </tbody>
                    </table>
                  </div>

                  <div class="row justify-content-md-center">                                                 
                    <div class="col-sm-5">                 
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_play">
                        <i class='uil uil-play'></i>
                      </button>                               
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_previous">
                        <i class='uil uil-backward'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_next">
                        <i class='uil uil-forward'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_stop">
                        <i class='uil uil-square-full'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn btn-default" name="set_spotify_volume">
                        <i class='uil uil-volume'></i>
                      </button>
                      <button type="submit" onclick="window.location.href='/music#player_control'" class="btn {% if spotify_shuffle == "True" %} btn-primary {% else %} btn-secondary {% endif %} " name="set_spotify_shuffle">
                        <i class="uil uil-arrow-random"></i>
                      </button>                     
                    </div>
                    <div class="col-sm-3">
                      <div class="vertical_center"> 
                        <div class="row justify-content-md-center">                                                 
                          <div class="col-sm-4"></div>       
                          <div class="col-sm-6">        
                            <input id="volume_slider_music_player" data-slider-id="volume_slider_music_player" name="set_spotify_player_volume" 
                              type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}"/>                                                 
                          </div>
                          <div class="col-sm-2"></div>
                        </div> 
                      </div>  
                    </div>
                    <div class="col-sm-4"></div>
                  </div>

    {% endif %}

                </div>
              </form>
            </div>

    {% if spotify_devices != "" %}   

    <!---------------------------->
    <!-- PLAYLIST TABLE DESKTOP -->
    <!---------------------------->

    <section id="table_playlist"></section> 

    <!-- start playlist desktop -->

            <div class="card">
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:22%" class="minwidth_250">Player</th>                               
                        <th scope="col" style="width:22%" class="minwidth_250">Playlist</th>
                        <th scope="col" style="width:7%"></th>   
                        <th scope="col" style="width:20%" class="minwidth_100">Volume</th>  
                        <th scope="col" style="width:29%" class="minwidth_100"></th>          
                      </thead>
                      <tbody> 
                        <tr>                   
                          <td>
                            <select class="form-control" data-size="5" name="set_spotify_device_id" style="background-color:#27293D"> 
                              {% if spotify_devices != "" %}
                                {% for device in list_spotify_devices %}                   
                                  {% if device['type'] != "Smartphone" %}
                                    {% if "multiroom" in device['name'] %}
                                      <option value="{{ device['id'] }}" > 
                                        MULTIROOM | {{ device['name'] | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                                    {% else %}
                                      <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No devices found </option>
                              {% endif %}  
                            </select>                                    
                          </td>     
                          <td>    
                            <select class="form-control" data-size="5" name="set_spotify_playlist" style="background-color:#27293D"> 
                              {% if spotify_playlists != "" %}
                                {% for playlist in list_spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No playlists found </option>
                              {% endif %}  
                            </select>    
                          </td>   
                          <td></td>  
                          <td>
                            <input id="volume_slider_music_playlist" data-slider-id="volume_slider_music_playlist" name="set_spotify_playlist_volume" 
                              type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}"/>    
                          </td>
                          <td>   
                            <button type="submit" onclick="window.location.href='/music#table_playlist'" class="btn btn-default pull-right" name="spotify_start_playlist" >
                              <i class='uil uil-play'></i>
                            </button>                                                                                     
                          </td>  
                        </tr>      
                      </tbody>
                    </table>
                  </div>    
                </div>
              </form>
            </div>

    <!------------------------------>
    <!-- DEFAULT SETTINGS DESKTOP -->
    <!------------------------------>

    <!-- success message change default settings -->

    {% if success_message_change_default_settings == True %}
      <div class="alert alert-success">
        <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
        <span>Settings successfully changed</span>
      </div>
    {% endif %}  

    <!-- default settings desktop -->

            <div class="card">
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:22%" class="minwidth_250">Default Player</th>                               
                        <th scope="col" style="width:22%" class="minwidth_250">Default Playlist</th>
                        <th scope="col" style="width:7%"></th>                         
                        <th scope="col" style="width:20%" class="minwidth_100">Default Volume</th>  
                        <th scope="col" style="width:10%" class="minwidth_100">Shuffle</th>  
                        <th scope="col" style="width:19%" class="minwidth_100"></th>                                      
                      </thead>
                      <tbody> 
                        <tr>                   
                          <td>
                            <select class="form-control" data-size="5" name="set_spotify_default_device_id" style="background-color:#27293D"> 
                              {% if "multiroom" in default_settings.default_device_name %}
                                <option value = "{{ default_settings.default_device_id }}" > 
                                  MULTIROOM | {{ default_settings.default_device_name | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                              {% else %}
                                <option value="{{ default_settings.default_device_id }}" > {{ default_settings.default_device_name }} </option>
                              {% endif %}      
                              <option disabled>------------------</option>    
                              {% if spotify_devices != "" %}
                                {% for device in list_spotify_devices %}                  
                                  {% if device['type'] != "Smartphone" %}
                                    {% if "multiroom" in device['name'] %}
                                      <option value="{{ device['id'] }}" > 
                                        MULTIROOM | {{ device['name'] | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                                    {% else %}
                                      <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No devices found </option>
                              {% endif %}  
                              <option disabled>------------------</option>  
                              <option value="None"> None </option> 
                            </select>                                    
                          </td>     
                          <td>    
                            <select class="form-control" data-size="5" name="set_spotify_default_playlist_uri" style="background-color:#27293D"> 
                              <option value = "{{ default_settings.default_playlist_uri }}" > {{ default_settings.default_playlist_name }} </option>          
                              <option disabled>------------------</option>                                
                              {% if spotify_playlists != "" %}
                                {% for playlist in list_spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    <option value="{{ playlist['uri'] }}" > {{ playlist['name'] }} </option>
                                  {% endif %}
                                {% endfor %}
                              {% else %}
                                <option value= "" > No playlists found </option>
                              {% endif %}  
                              <option disabled>------------------</option>  
                              <option value="None"> None </option> 
                            </select>    
                          </td>   
                          <td></td>  
                          <td>
                            <input id="volume_slider_music_default" data-slider-id="volume_slider_music_default" name="set_spotify_default_volume" 
                              type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ default_settings.default_volume }}"/>   
                          </td>    
                          <td>
                            <div class="vertical_center"> 
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_default_shuffle" {% if default_settings.default_shuffle == "True" %} checked="on" {% endif %} name="set_checkbox_default_shuffle_setting">
                                <label class="custom-control-label" for="checkbox_default_shuffle"></label>
                              </div>   
                            </div>                       
                          </td>                      
                          <td>
                            <button type="submit" onclick="window.location.href='/music#table_playlist'" name="save_default_settings" class="btn btn-fill btn-primary pull-right">SAVE</button>
                          </td>
                        </tr>      
                      </tbody>
                    </table>
                  </div>    
                </div>  
              </form>
            </div>

    {% endif %} 

  {% endif %} 

  <!----------------------->
  <!----------------------->
  <!--  END DESKTOP ONLY -->
  <!----------------------->
  <!----------------------->

  <!------------------>
  <!-- search track -->
  <!------------------>      
    
  <section id="table_track"></section> 

  <!-- error message search track -->

  {% if error_message_search_track != "" %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span>{{ error_message_search_track }}</span>
    </div>
  {% endif %}  
            
  <!-- search track table -->         
        
            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse_search_track"><font color="white"><b><i class='uil uil-arrow-down'> Search Track </i></b></font></a>
                <br>
                <br>
              </div>            
              <form method="POST">      
                <div id="collapse_search_track" class="collapse{% if collapse_search_track_open == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="row justify-content-md-left">
                      <div class="col-sm-3"> 
                        <input type="text" class="form-control" name="set_spotify_search_track" placeholder="Track" value="{{ track_name }}" />
                      </div>           
                      <div class="col-sm-3"> 
                        {% if request.MOBILE %} <br> {% endif %} 
                        <input type="text" class="form-control" name="set_spotify_search_track_artist" placeholder="Artist (Optional)" value="{{ track_artist }}" />
                      </div>  
                    </div>    
                    <br>                                                 
                    <input type="submit" onclick="window.location.href='/music#table_track'" class="btn btn-default" name="spotify_search_track" value="Search" />                  
                    <br>
                    <br>
                  
                    {% if list_search_track_results != "" and list_search_track_results != None %}
                      
                      <div class="table-responsive">
                        <table class="table tablesorter">
                          <thead>
                            <th scope="col" style="width:25%" class="minwidth_200">Track</th>   
                            <th scope="col" style="width:25%" class="minwidth_200">Interprets</th> 
                            <th scope="col" style="width:20%" class="minwidth_150">Device</th>   
                            <th scope="col" style="width:3%"></th>  
                            <th scope="col" style="width:22%" class="minwidth_150">Volume</th>                                 
                            <th scope="col" style="width:5%"  class="minwidth_50"></th>                                   
                          </thead>
                          <tbody> 
                            {% set counter = [1] %}       

                            {% for track in list_search_track_results %}
                            
                              <tr>
                                <td>
                                  {{ track[0] }}
                                </td>                          
                                <td>
                                  {{ track[1] }}
                                </td>                
                                <td>    
                                  <select class="form-control" data-size="5" name="set_spotify_track_device:{{ track[2] }}" style="background-color:#27293D"> 
                                    {% if spotify_devices != "" %}
                                      {% for device in list_spotify_devices %}                   
                                        {% if device['type'] != "Smartphone" %}
                                          {% if "multiroom" in device['name'] %}
                                            <option value="{{ device['id'] }}" > 
                                              MULTIROOM | {{ device['name'] | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                                          {% else %}
                                            <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    {% else %}
                                      <option value= "" > No devices found </option>
                                    {% endif %}  
                                  </select>     
                                </td>     
                                <td></td>                         
                                <td>
                                  <input id="volume_slider_track_volume_{{ counter[0] }}" data-slider-id="volume_slider_track_volume_{{ counter[0] }}" name="set_spotify_track_volume:{{ track[2] }}" 
                                    type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}" />   
                                </td>
                                <td>    
                                  <div class="row justify-content-md-left">
                                    <div class="col-sm-2">     
                                      <button onclick="window.location.href='/music#table_track'" name="spotify_track_play" value="{{ track[2] }}" class="btn btn-default" type="submit">
                                        <i class='uil uil-play'></i>
                                      </button>                               
                                    </div>                                          
                                  </div>                          
                                </td>    
                              </tr>

                              {% if counter.append(counter.pop() + 1) %}{% endif %}      

                            {% endfor %}                    

                          </tbody>
                        </table>
                      </div>      

                    {% endif %} 

                    {% if list_search_track_results == None %}
                      No Results found
                    {% endif %}      

                  </div>              
                </div>           
              </form>
            </div>

  <!------------------>
  <!-- search album -->
  <!------------------>      
    
  <section id="table_album"></section> 

  <!-- error message search album -->

  {% if error_message_search_album != "" %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span>{{ error_message_search_album }}</span>
    </div>
  {% endif %}   
                   
  <!-- search album table -->         
      
            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse_search_album"><font color="white"><b><i class='uil uil-arrow-down'> Search Album </i></b></font></a>
                <br>
                <br>
              </div>            
              <form method="POST">      
                <div id="collapse_search_album" class="collapse{% if collapse_search_album_open == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="row justify-content-md-left">
                      <div class="col-sm-3"> 
                        <input type="text" class="form-control" name="set_spotify_search_album" placeholder="Album" value="{{ album_name }}" />
                      </div>           
                      <div class="col-sm-3"> 
                        {% if request.MOBILE %} <br> {% endif %} 
                        <input type="text" class="form-control" name="set_spotify_search_album_artist" placeholder="Artist (Optional)" value="{{ album_artist }}" />
                      </div>  
                    </div>
                    <br>                                   
                    <input type="submit" onclick="window.location.href='/music#table_album'" class="btn btn-default" name="spotify_search_album" value="Search" />
                    <br>
                    <br>
                  
                    {% if list_search_album_results != "" and list_search_album_results != None %}
                      
                      <div class="table-responsive">
                        <table class="table tablesorter">
                          <thead>
                            <th scope="col" style="width:25%" class="minwidth_200">Album</th>   
                            <th scope="col" style="width:25%" class="minwidth_200">Interprets</th> 
                            <th scope="col" style="width:20%" class="minwidth_150">Device</th>   
                            <th scope="col" style="width:3%"></th>                              
                            <th scope="col" style="width:22%" class="minwidth_150">Volume</th>                                 
                            <th scope="col" style="width:5%"  class="minwidth_100"></th>                                   
                          </thead>
                          <tbody> 
                            {% set counter = [1] %}          

                            {% for album in list_search_album_results %}
                            
                              <tr>
                                <td>
                                  {{ album[0] }}
                                </td>                        
                                <td>
                                  {{ album[1] }}
                                </td>                      
                                <td>    
                                  <select class="form-control" data-size="5" name="set_spotify_album_device:{{ album[2] }}" style="background-color:#27293D"> 
                                    {% if spotify_devices != "" %}
                                      {% for device in list_spotify_devices %}                   
                                        {% if device['type'] != "Smartphone" %}
                                          {% if "multiroom" in device['name'] %}
                                            <option value="{{ device['id'] }}" > 
                                              MULTIROOM | {{ device['name'] | replace("multiroom, ","") | replace(" & multiroom","") | replace("multiroom & ","") | replace("multiroom","") | replace(" & ",", ") }}</option>
                                          {% else %}
                                            <option value="{{ device['id'] }}" > {{ device['name'] }} </option>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    {% else %}
                                      <option value= "" > No devices found </option>
                                    {% endif %}  
                                  </select>     
                                </td>    
                                <td></td>                                                      
                                <td>
                                  <input id="volume_slider_album_volume_{{ counter[0] }}" data-slider-id="volume_slider_album_volume_{{ counter[0] }}" name="set_spotify_album_volume:{{ album[2] }}" 
                                    type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="{{ volume }}" />   
                                </td>       
                                <td>    
                                  <div class="row justify-content-md-left">
                                    <div class="col-sm-2">     
                                      <button onclick="window.location.href='/music#table_album'" name="spotify_album_play" value="{{ album[2] }}" class="btn btn-default" type="submit">
                                        <i class='uil uil-play'></i>
                                      </button>                               
                                    </div>                                          
                                  </div>                          
                                </td>    
                              </tr>
                              
                              {% if counter.append(counter.pop() + 1) %}{% endif %}            

                            {% endfor %}                    

                          </tbody>
                        </table>
                      </div>      

                    {% endif %} 

                    {% if list_search_album_results == None %}
                      No Results found
                    {% endif %}                     

                  </div>              
                </div>           
              </form>
            </div>

{% endif %} 

<!------------------------>
<!-- CLIENT MUSIC TABLE -->
<!------------------------>

<section id="client_music"></section> 

<!-- success message change settings client music -->

{% if success_message_change_settings_client_music != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings_client_music %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings client music -->

{% if error_message_change_settings_client_music != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_client_music %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}


            <div class="card">
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">

                      <thead>
                        <th scope="col" style="width:20%" class="minwidth_200">Client</th>   
                        <th scope="col" style="width:20%" class="minwidth_200">Device_Type</th>                                  
                        <th scope="col" style="width:10%" class="minwidth_100">Interface</th>
                        <th scope="col" style="width:20%" class="minwidth_200">Volume</th>
                        <th scope="col" style="width:15%" class="minwidth_150">Last Values</th>
                        <th scope="col" style="width:15%" class="minwidth_150">Last Contact</th>                       
                      </thead>
                      <tbody> 
                        {% set counter = [1] %}

                        {% for entry in list_client_music %}
                        
                          <tr>
                            <td>{{ entry.name }}</td> 
                            <td>{{ entry.model }}</td> 
                            <td>
                                
                              {% if entry.last_values_string != None %} 
                                
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_spotify_{{ entry.id }}" {% if "spotify" in entry.last_values_string %} checked="on" {% endif %} value="spotify" name="set_radio_client_music_interface_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_spotify_{{ entry.id }}">Spotify</label>
                                </div> 
                                <br>       
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_multiroom_{{ entry.id }}" {% if "multiroom" in entry.last_values_string %} checked="on" {% endif %} value="multiroom" name="set_radio_client_music_interface_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_multiroom_{{ entry.id }}">Multiroom</label>
                                </div>
                                
                              <!-- no values found -->

                              {% else %}

                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_spotify_{{ entry.id }}" value="spotify" name="radio_client_music_interface_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_spotify_{{ entry.id }}">Spotify</label>
                                </div> 
                                <br>       
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_multiroom_{{ entry.id }}" value="multiroom" name="radio_client_music_interface_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_multiroom_{{ entry.id }}">Multiroom</label>
                                </div>

                              {% endif %}

                            </td>   
                            <td>
                            
                              {% if entry.model != "hifiberry_miniAMP" %}

                                {% if entry.last_values_json != None %}

                                  <input id="volume_slider_music_client_{{ counter[0] }}" data-slider-id="volume_slider_music_client_{{ counter[0] }}" name="set_client_music_volume_{{ entry.id }}" 
                                    type="text" data-slider-min="100" data-slider-max="207" data-slider-step="1" data-slider-value="{{ entry.last_values_json.split(':')[2] | replace('}', '') }}" />   
  
                                <!-- no values found -->         

                                {% else %}
                                
                                  <div class="slidecontainer"> 
                                    <div class="col-md-10 text-center"> 
                                      <input type="range" class="slider" name="set_client_music_volume_{{ entry.id }}" min="100" max="207" value="100" />
                                    </div> 
                                  </div>

                                {% endif %}       
                              {% endif %}  

                            </td> 
                            <td>
                              {{ entry.last_values_string }}
                            </td> 
                            <td>
                              {{ entry.last_contact }}                  
                            </td>
                          </tr>

                          {% if counter.append(counter.pop() + 1) %}{% endif %}                       

                        {% endfor %}    
                                  
                      </tbody>
                    </table>
                  </div>    
                </div>  
                <div class="card-footer">                   
                  <button type="submit" onclick="window.location.href='/music#client_music'" name="save_client_music_settings" class="btn btn-fill btn-primary">SAVE</button>
                  {% if request.MOBILE %}
                    <br>
                    <br>                    
                    <button type="submit" onclick="window.location.href='/music#client_music'" name="restart_client_music_services" class="btn btn-fill btn-info">RESTART SERVICES</button>                  
                  {% else %} 
                    <button type="submit" onclick="window.location.href='/music#client_music'" name="restart_client_music_services" class="btn btn-fill btn-info pull-right">RESTART SERVICES</button>    
                  {% endif %} 
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>                