
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Pflanzen</b></h4>
              </div>
            </div>


<!---------------->
<!-- ADD PLANT  -->
<!---------------->

<!-- success message add plant -->

{% if success_message_add_plant == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Pflanze erfolgreich hinzugefügt</span>
  </div>
{% endif %}  

<!-- error message add plant --> 

{% if error_message_add_plant != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_plant %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


            <div class="card">
              <form method="POST">         
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/plants#'" name="add_plant" class="btn btn-fill btn-primary">NEW PLANT</button>
                </div>
              </form>
            </div>

<!------------------>
<!-- PLANT TABLE  -->
<!------------------>   

<section id="table"></section>  

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


            <div class="card">
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:3%"></th> 
                        <th scope="col" style="width:20%" class="minwidth_200">Pflanze</th>   
                        <th scope="col" style="width:20%" class="minwidth_200">Gerät</th>     
                        <th scope="col" style="width:15%" class="minwidth_100">Test</th>                                          
                        <th scope="col" style="width:15%" class="minwidth_100">Gruppen</th>   
                        <th scope="col" style="width:15%" class="minwidth_150">Pumpdauer (s)</th>                         
                        <th scope="col" style="width:15%" class="minwidth_150">Wasserstand</th>   
                        <th scope="col" style="width:5%"></th>                                                    
                      </thead>
                      <tbody> 
                        {% for entry in list_plants %}
                        <tr>
                          <td>
                            <a href="/plants/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                            <a href="/plants/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                          </td>                   
                          <td>
                            <div class="row justify-content-md-left">
                              <div class="col-sm-10">                                    
                                <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />  
                              </div>
                            </div>
                          </td> 
                          <td>
                            <select class="form-control" data-size="5" name="set_watering_controller_ieeeAddr" style="background-color:#27293D"> 
                              {% if entry.device_ieeeAddr != "" %}
                                <option value = "{{ entry.device_ieeeAddr }}" > {{ entry.device.name }} </option>
                              {% else %}   
                                <option value = "None" > Gerät </option>   
                              {% endif %}                       
                              <option disabled>------------------</option>        
                              {% for each in dropdown_list_watering_controller %}
                                <option value="{{each.ieeeAddr}}"> {{ each.name }} </option>
                              {% endfor %}      
                            </select>                            
                          </td>   
                          <td>
                            <a href="/plants/test_pump/{{ entry.id }}#table"><font size="5"><i class='tim-icons icon-triangle-right-17'></i></font></a>
                          </td>                                                                                   
                          <td>                       
                            <input type="text" class="form-control" name="set_group_{{ entry.id }}" value="{{ entry.group }}" />  
                          </td>          
                          <td>
                            <input type="text" class="form-control" name="set_pump_duration_{{ entry.id }}" value="{{ entry.pump_duration }}" />    
                          </td>    
                          <td>
                            {% if entry.senser_watertank == 1 %} <font color="lightgreen">OK</font> {% else %} <font color="salmon">NIEDRIG</font> {% endif %}  
                          </td>                                                     
                          <td>          
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_{{entry.id}}">DELETE</button>
                            <!-- Modal -->
                            <div class="modal fade" id="delete_dialog_{{entry.id}}">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title">Delete {{entry.name}} ?</h5>
                                  </div>          
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                    <a class="btn btn-danger" href="/plants/delete/{{ entry.id }}#table" role="button">DELETE</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>   
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">                   
                  <button type="submit" onclick="window.location.href='/plants#'" name="save_plants_settings" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>          