
      <div class="content">
        <div class="row">
          <div class="col-md-12">

<!-- success message change settings -->

{% if success_message_change_settings == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- plants table -->    

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title">Pflanzen</h4>
              </div>  
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:3%"></th> 
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Pflanze</th>   
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Gerät</th> 
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Zeitpunkt (Std:Min)</th> 
                        <th scope="col" style="width:15%"><p style="visibility: hidden;">invisibletextform</p>Optionen</th>  
                        <th scope="col" style="width:10%"><p style="visibility: hidden;">invisibletext</p>Pumpdauer (s)</th>                         
                        <th scope="col" style="width:14%"><p style="visibility: hidden;">invisibletextform</p>Feuchtigkeitslevel</th>   
                        <th scope="col" style="width:5%"></th>                                                    
                      </thead>
                      <tbody> 
                        {% for entry in list_plants %}
                        <tr>
                          <td>
                            <a href="/plants.html/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                            <a href="/plants.html/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                          </td>                   
                          <td>
                            <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                    
                          </td> 
                          <td>{{ entry.mqtt_device.name }}</td>                                                          
                          <td>                     
                            <input type="text" class="form-control" name="set_pumptime_{{ entry.id }}" 
                             value="{% if entry.pumptime != None and entry.pumptime != "None" %}{{ entry.pumptime }}{% endif %}" />  
                          </td>          
                          <td>
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="checkbox_pump_mode_{{ entry.id }}" {% if entry.pump_mode == "auto" %} checked="on" {% endif %} name="checkbox_pump_mode_{{ entry.id }}">
                              <label class="custom-control-label" for="checkbox_pump_mode_{{ entry.id }}">Automatik</label>
                            </div>       
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="checkbox_sensor_moisture_{{ entry.id }}" {% if entry.sensor_moisture == "True" %} checked="on" {% endif %} name="checkbox_sensor_moisture_{{ entry.id }}">
                              <label class="custom-control-label" for="checkbox_sensor_moisture_{{ entry.id }}">Feuchtigkeitssensor</label>
                            </div>        
                            <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" id="checkbox_sensor_watertank_{{ entry.id }}" {% if entry.sensor_watertank == "True" %} checked="on" {% endif %} name="checkbox_sensor_watertank_{{ entry.id }}">
                              <label class="custom-control-label" for="checkbox_sensor_watertank_{{ entry.id }}">Wasserstandsensor</label>
                            </div>    
                          </td>  
                          <td>
                            {% if entry.pump_mode == "auto" %}
                              {{ entry.pump_duration_auto }}
                            {% else %}
                              <input type="text" class="form-control" name="set_pump_duration_manually_{{ entry.id }}" 
                               value="{% if entry.pump_duration_manually != None and entry.pump_duration_manually != "None" %}{{ entry.pump_duration_manually }}{% endif %}" /> 
                            {% endif %}
                          </td>                            
                          <td>
                            {% if entry.sensor_moisture == "True" %}
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radio_moisture_level_high_{{ entry.id }}" {% if entry.moisture_level == "high" %} checked="on" {% endif %} value="high" name="radio_moisture_level_{{ entry.id }}">
                                <label class="custom-control-label" for="radio_moisture_level_high_{{ entry.id }}">Hoch</label>
                              </div>     
                              <br>  
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radio_moisture_level_normal_{{ entry.id }}" {% if entry.moisture_level == "normal" %} checked="on" {% endif %} value="normal" name="radio_moisture_level_{{ entry.id }}">
                                <label class="custom-control-label" for="radio_moisture_level_normal_{{ entry.id }}">Normal</label>
                              </div> 
                              <br>       
                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radio_moisture_level_low_{{ entry.id }}" {% if entry.moisture_level == "low" %} checked="on" {% endif %} value="low" name="radio_moisture_level_{{ entry.id }}">
                                <label class="custom-control-label" for="radio_moisture_level_low_{{ entry.id }}">Niedrig</label>
                              </div>  
                            {% endif %}
                          </td>
                          <td>
                            <a href="/plants.html/delete/{{ entry.id }}#table"><font size="6"><i class="tim-icons icon-trash-simple"></i></font></a>
                          </td>   
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">                   
                  <button type="submit" onclick="window.location.href='/plants.html#'" name="save_plants_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>

<section id="add_plant"></section>   

<!-- success message add plant -->

{% if success_message_add_plant == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Pflanze erfolgreich hinzugefügt</span>
  </div>
{% endif %}  

<!-- error message add plant --> 

{% if error_message_add_plant != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_plant %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- add plant -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">Pflanze hinzufügen</h5>
              </div>   
              <form method="POST">         
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-3">                       
                          <div class="form-group">
                            <label>Pflanze</label>
                            <input type="text" class="form-control" name="set_name" value="{{ name }}" /> 
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Gerät</label>
                            <select class="selectpicker" data-width="100%" data-live-search="true" name="set_watering_controller_ieeeAddr">
                              {% if mqtt_device_ieeeAddr != "" %}
                                <option value= "{{ mqtt_device_ieeeAddr }}" > {{ mqtt_device_name }} </option>
                              {% else %}
                                <option value= "None" > </option>
                              {% endif %}                 
                              <optgroup>
                                {% for each in dropdown_list_watering_controller %}
                                  <option value="{{each.ieeeAddr}}"> {{ each.name }} </option>
                                {% endfor %}
                              </optgroup>
                            </select>  
                          </div>
                        </div>                            
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/plants.html#add_plant'" name="add_plant" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>


          </div>
        </div>
      </div>          