<script>
  var sensor_options_list_1  = '{{ device_1_input_values }}';
  var sensor_options_list_1  = sensor_options_list_1.split(",");
  var sensor_options_list_2  = '{{ device_2_input_values }}';
  var sensor_options_list_2  = sensor_options_list_2.split(",");
  var sensor_options_list_3  = '{{ device_3_input_values }}';
  var sensor_options_list_3  = sensor_options_list_3.split(",");
  var sensor_options_list_4  = '{{ device_4_input_values }}';
  var sensor_options_list_4  = sensor_options_list_4.split(",");
  var sensor_options_list_5  = '{{ device_5_input_values }}';
  var sensor_options_list_5  = sensor_options_list_5.split(",");
  var sensor_options_list_6  = '{{ device_6_input_values }}';
  var sensor_options_list_6  = sensor_options_list_6.split(",");
  var sensor_options_list_7  = '{{ device_7_input_values }}';
  var sensor_options_list_7  = sensor_options_list_7.split(",");
  var sensor_options_list_8  = '{{ device_8_input_values }}';
  var sensor_options_list_8  = sensor_options_list_8.split(",");
  var sensor_options_list_9  = '{{ device_9_input_values }}';
  var sensor_options_list_9  = sensor_options_list_9.split(",");
  var sensor_options_list_10 = '{{ device_10_input_values }}';
  var sensor_options_list_10 = sensor_options_list_10.split(",");
  var sensor_options_list_11 = '{{ device_11_input_values }}';
  var sensor_options_list_11 = sensor_options_list_11.split(",");
  var sensor_options_list_12 = '{{ device_12_input_values }}';
  var sensor_options_list_12 = sensor_options_list_12.split(",");
  var sensor_options_list_13 = '{{ device_13_input_values }}';
  var sensor_options_list_13 = sensor_options_list_13.split(",");
  var sensor_options_list_14 = '{{ device_14_input_values }}';
  var sensor_options_list_14 = sensor_options_list_14.split(",");
  var sensor_options_list_15 = '{{ device_15_input_values }}';
  var sensor_options_list_15 = sensor_options_list_15.split(",");
  var sensor_options_list_16 = '{{ device_16_input_values }}';
  var sensor_options_list_16 = sensor_options_list_16.split(",");
  var sensor_options_list_17 = '{{ device_17_input_values }}';
  var sensor_options_list_17 = sensor_options_list_17.split(",");
  var sensor_options_list_18 = '{{ device_18_input_values }}';
  var sensor_options_list_18 = sensor_options_list_18.split(",");
  var sensor_options_list_19 = '{{ device_19_input_values }}';
  var sensor_options_list_19 = sensor_options_list_19.split(",");
  var sensor_options_list_20 = '{{ device_20_input_values }}';
  var sensor_options_list_20 = sensor_options_list_20.split(",");
  var sensor_options_list_21 = '{{ device_21_input_values }}';
  var sensor_options_list_21 = sensor_options_list_21.split(",");
  var sensor_options_list_22 = '{{ device_22_input_values }}';
  var sensor_options_list_22 = sensor_options_list_22.split(",");
  var sensor_options_list_23 = '{{ device_23_input_values }}';
  var sensor_options_list_23 = sensor_options_list_23.split(",");
  var sensor_options_list_24 = '{{ device_24_input_values }}';
  var sensor_options_list_24 = sensor_options_list_24.split(",");
  var sensor_options_list_25 = '{{ device_25_input_values }}';
  var sensor_options_list_25 = sensor_options_list_25.split(",");
  
  var sensor_options = {};
  sensor_options['1']  = sensor_options_list_1;
  sensor_options['2']  = sensor_options_list_2;
  sensor_options['3']  = sensor_options_list_3;
  sensor_options['4']  = sensor_options_list_4;
  sensor_options['5']  = sensor_options_list_5;
  sensor_options['6']  = sensor_options_list_6;
  sensor_options['7']  = sensor_options_list_7;
  sensor_options['8']  = sensor_options_list_8;
  sensor_options['9']  = sensor_options_list_9;
  sensor_options['10'] = sensor_options_list_10;
  sensor_options['11'] = sensor_options_list_11;
  sensor_options['12'] = sensor_options_list_12;
  sensor_options['13'] = sensor_options_list_13;
  sensor_options['14'] = sensor_options_list_14;
  sensor_options['15'] = sensor_options_list_15;
  sensor_options['16'] = sensor_options_list_16;
  sensor_options['17'] = sensor_options_list_17;
  sensor_options['18'] = sensor_options_list_18;
  sensor_options['19'] = sensor_options_list_19;
  sensor_options['20'] = sensor_options_list_20;
  sensor_options['21'] = sensor_options_list_21;
  sensor_options['22'] = sensor_options_list_22;
  sensor_options['23'] = sensor_options_list_23;
  sensor_options['24'] = sensor_options_list_24;
  sensor_options['25'] = sensor_options_list_25;

  function Choose_Sensor_1(entry_id) {
    var device_name = "device_1_" + entry_id
    var sensor_list_name = "selected_sensor_1_" + entry_id
    var device = document.getElementById(device_name);
    var sensor_list = document.getElementById(sensor_list_name);
    var selected_sensor = device.options[device.selectedIndex].value;
    while (sensor_list.options.length) {
      sensor_list.remove(0);
    }
    var sensors = sensor_options[selected_sensor];
    if (sensors) {
      var i;
      for (i = 0; i < sensors.length; i++) {
        var sensor = new Option(sensors[i], i);
        sensor_list.options.add(sensor);
      }
    }
    $('.selectpicker').selectpicker('refresh');      
  } 

  function Choose_Sensor_2(entry_id) {
    var device_name = "device_2_" + entry_id
    var sensor_list_name = "selected_sensor_2_" + entry_id
    var device = document.getElementById(device_name);
    var sensor_list = document.getElementById(sensor_list_name);
    var selected_sensor = device.options[device.selectedIndex].value;
    while (sensor_list.options.length) {
      sensor_list.remove(0);
    }
    var sensors = sensor_options[selected_sensor];
    if (sensors) {
      var i;
      for (i = 0; i < sensors.length; i++) {
        var sensor = new Option(sensors[i], i);
        sensor_list.options.add(sensor);
      }
    }
    $('.selectpicker').selectpicker('refresh');      
  } 

</script>

 
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Scheduler</b></h4>
              </div>
            </div>


<!------------------------>
<!-- ADD SCHEDULER TASK -->
<!------------------------>

<!-- success message add scheduler task -->

{% if success_message_add_scheduler_task == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Task successfully added</span>
  </div>
{% endif %}  

<!-- error message add scheduler task --> 

{% if error_message_add_scheduler_task != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_scheduler_task %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


            <div class="card">
              <form method="POST">         
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/scheduler#'" name="add_scheduler_task" class="btn btn-fill btn-primary">NEW SCHEDULER TASK</button>
                </div>
              </form>
            </div>


<!---------------------------->
<!-- SCHEDULER TASKS TABLE  -->
<!---------------------------->   

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


{% for entry in list_scheduler_tasks %}

  {% if entry.visible == "True" %}

  <section id="table_{{entry.id}}"></section>  

  <!-- success message change settings scheduler task -->

  {% if success_message_change_settings_scheduler_task == entry.id %}
    <div class="alert alert-success">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span>Settings successfully changed</span>
    </div>
  {% endif %}  

<!-- error message scheduler tasks -->

{% if entry.task_setting_errors != "" or entry.task_errors != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% if entry.task_setting_errors != "" %}
      {% for error in entry.task_setting_errors.split(",") %}
        {{ error }} <br>
      {% endfor %}
    {% endif %} 
    {% if entry.task_errors != "" %}
      {% for error in entry.task_errors.split(",") %}
        {{ error }} <br>
      {% endfor %}    
    {% endif %} 
  </div>      
{% endif %}  

             <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b>
                  <i class='uil uil-arrow-down'> {{entry.name}} {% if entry.trigger_pause == "True" %} (pause) {% endif %}</i></b></font>
                </a>
                <br>
                <br>
              </div>   
              <form method="POST">   
                <div id="collapse{{entry.id}}" class="collapse{% if entry.collapse == "True" %}.show{% endif %}">           
                  <div class="card-body"> 
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <thead>          
                          <th scope="col" style="width:3%"></th>              
                          <th scope="col" style="width:20%" class="minwidth_200">Name</th> 
                          <th scope="col" style="width:35%" class="minwidth_300">Task</th>  
                          <th scope="col" style="width:5%"></th>            
                          <th scope="col" colspan="5" style="width:37%" class="minwidth_400">Trigger / Options</th>                               
                        </thead>
                        <tbody> 
                          <tr>
                            <td>
                              <a href="/scheduler/position/up/{{ entry.id }}#table_{{ entry.id }}"><i class="tim-icons icon-minimal-up"></i></a>
                              <a href="/scheduler/position/down/{{ entry.id }}#table_{{ entry.id }}"><i class="tim-icons icon-minimal-down"></i></a>                           
                            </td>                       
                            <td>
                              <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />                                
                            </td> 
                            <td>        
                              <input type="text" class="form-control" name="set_task_{{ entry.id }}" value = {% if entry.task != None and entry.task != "None" %} "{{ entry.task }}" {% else %} "" {% endif %} />  
                            </td>        
                            <td></td>                         
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_trigger_time_{{ entry.id }}" {% if entry.trigger_time == "True" %} checked="on" {% endif %} name="checkbox_trigger_time_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_trigger_time_{{ entry.id }}">Time</label>
                              </div>     
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_trigger_sun_position_{{ entry.id }}" {% if entry.trigger_sun_position == "True" %} checked="on" {% endif %} name="checkbox_trigger_sun_position_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_trigger_sun_position_{{ entry.id }}">Sun_Position</label>
                              </div>     
                            </td> 
                            <td></td>       
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_trigger_sensors_{{ entry.id }}" {% if entry.trigger_sensors == "True" %} checked="on" {% endif %} name="checkbox_trigger_sensors_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_trigger_sensors_{{ entry.id }}">Sensors</label>
                              </div>     
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_trigger_position_{{ entry.id }}" {% if entry.trigger_position == "True" %} checked="on" {% endif %} name="checkbox_trigger_position_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_trigger_position_{{ entry.id }}">Position</label>
                              </div>     
                            </td>        
                            <td></td>                           
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_option_repeat_{{ entry.id }}" {% if entry.option_repeat == "True" %} checked="on" {% endif %} name="checkbox_option_repeat_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_option_repeat_{{ entry.id }}">Repeat</label>
                              </div>     
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_option_pause_{{ entry.id }}" {% if entry.option_pause == "True" %} checked="on" {% endif %} name="checkbox_option_pause_{{ entry.id }}" >
                                <label class="custom-control-label" for="checkbox_option_pause_{{ entry.id }}">Pause</label>
                              </div>     
                            </td>                          
                          </tr>

  <!-- section time -->

                          {% if entry.trigger_time == "True" %}

                          <tr>
                            <td colspan="10"></td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                            <td colspan="8">
                              <div class="row justify-content-md-center">                                                
                                <div class="col-sm-4"> 
                                  <label>Days (Mon, Tue, Wed, Thu, Fri, Sat, Sun)</label>
                                  <input type="text" class="form-control" placeholder="Days" name="set_day_{{ entry.id }}"
                                    value = {% if entry.day != None and entry.day != "None" %}"{{ entry.day }}"{% else %}""{% endif %} /> 
                                </div>                     
                                <div class="col-sm-4">   
                                  <label>Hours (00-23)</label>                                    
                                  <input type="text" class="form-control" placeholder="Hours" name="set_hour_{{ entry.id }}"
                                    value = {% if entry.hour != None and entry.hour != "None" %}"{{ entry.hour }}"{% else %}""{% endif %} /> 
                                </div> 
                                <div class="col-sm-4">   
                                  <label>Minutes (00-59)</label>
                                  <input type="text" class="form-control" placeholder="Minutes" name="set_minute_{{ entry.id }}"
                                    value = {% if entry.minute != None and entry.minute != "None" %}"{{ entry.minute }}"{% else %}""{% endif %} /> 
                                </div>
                              </div>
                            </td>                           
                          </tr>

                        {% endif %}

  <!-- section sun_position -->

                        {% if entry.trigger_sun_position == "True" %}

                          <tr>
                            <td colspan="10"></td>
                          </tr>
                          <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="8">
                              <div class="row justify-content-md-center">                                                
                                <div class="col-sm-4"> 
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox_option_sunrise_{{ entry.id }}" {% if entry.option_sunrise == "True" %} checked="on" {% endif %} name="checkbox_option_sunrise_{{ entry.id }}" >
                                    <label class="custom-control-label" for="checkbox_option_sunrise_{{ entry.id }}">Sunrise ({{ entry.sunrise }})</label>
                                  </div>     
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox_option_sunset_{{ entry.id }}" {% if entry.option_sunset == "True" %} checked="on" {% endif %} name="checkbox_option_sunset_{{ entry.id }}" >
                                    <label class="custom-control-label" for="checkbox_option_sunset_{{ entry.id }}">Sunset ({{ entry.sunset }})</label>
                                  </div>   
                                </div>                     
                                <div class="col-sm-4">                                         
                                  <input type="text" class="form-control" placeholder="Latitude" name="set_latitude_{{ entry.id }}"
                                    value = {% if entry.latitude != None and entry.latitude != "None" %}"{{ entry.latitude }}"{% else %}""{% endif %} />   
                                </div> 
                                <div class="col-sm-4">   
                                  <input type="text" class="form-control" placeholder="Longitude" name="set_longitude_{{ entry.id }}"
                                    value = {% if entry.longitude != None and entry.longitude != "None" %}"{{ entry.longitude }}"{% else %}""{% endif %} />                                   
                                </div>   
                              </div>                                                      
                            </td>                           
                          </tr>

                          {% endif %}

  <!-- section sensors -->

                        {% if entry.trigger_sensors == "True" %}

  <!-- section 1 -->

                          <tr>
                            <td colspan="10"></td>
                          </tr>            
                          <tr>
                            <td colspan="1"></td>
                            <td colspan="1">
                              <div class="row justify-content-md-center">                                                 
                                <div class="col-sm-2">                             
                                  <a href="/scheduler/add_sensor/{{ entry.id }}#table_{{entry.id}}"><font size="4"><i class="tim-icons icon-simple-add"></i></font></a>                                                                                                                                    
                                </div>                             
                                <div class="col-sm-2">                                 
                                  <a href="/scheduler/remove_sensor/{{ entry.id }}#table_{{entry.id}}"><font size="4"><i class="tim-icons icon-simple-delete"></i></font></a>    
                                </div>                             
                                <div class="col-sm-8"> 
                                </div> 
                              </div>                         
                            </td>                 
                            <td colspan="8">    
                              <div class="row justify-content-md-center">                                                 
                                <div class="col-sm-4"> 
                                  <select id="device_1_{{ entry.id }}" onchange="Choose_Sensor_1('{{ entry.id }}')" data-size="5" class="form-control" name="set_device_1_{{ entry.id }}" style="background-color:#27293D"> 
                                    {% if entry.device_ieeeAddr_1 != None and entry.device_ieeeAddr_1 != "None" %}
                                      <option value= "{{ entry.device_ieeeAddr_1 }}" > {{ entry.device_name_1 }} </option>
                                    {% else %}
                                      <option value= "" > Device 1</option>
                                    {% endif %}                                
                                    <option disabled>------------------</option>
                                    {% for each in dropdown_list_devices %}
                                      <option value="{{ each.id }}"> {{ each.name }} </option>
                                    {% endfor %}                                                                                                                           
                                  </select>                                                                
                                </div>                             
                                <div class="col-sm-4"> 
                                  <select id="selected_sensor_1_{{ entry.id }}" data-size="5" class="form-control" name="set_sensor_1_{{ entry.id }}" style="background-color:#27293D">    
                                    {% if device_id_1 != None and device_id_1 != "None" and entry.device_ieeeAddr_1 != None and entry.device_ieeeAddr_1 != "None" %}
                                      <option value= "{{ entry.sensor_key_1 }}" > {{ entry.sensor_key_1 }} </option>
                                      <option disabled>------------------</option>
                                      {% for each in entry.device_input_values_1.split(',') %}
                                        <option value= "{{ each }}" > {{ each }} </option>
                                      {% endfor %}                             
                                    {% else %}
                                      <option value= "" > Sensor 1</option>                         
                                    {% endif %}                                                                                      
                                  </select>                                

                              {% if entry.main_operator_second_sensor == "and"  or entry.main_operator_second_sensor == "or" or 
                                    entry.main_operator_second_sensor == "None" or entry.main_operator_second_sensor == None %}
                                
                                </div>                                                 
                                <div class="col-sm-2">     
                                  <select data-size="5" class="form-control" name="set_operator_1_{{ entry.id }}" style="background-color:#27293D">    
                                    {% if entry.operator_1 != None and entry.operator_1 != "None" and entry.operator_1 != "" %}
                                      <option value= "{{ entry.operator_1 }}" > {{ entry.operator_1 }} </option>
                                    {% else %}
                                      <option value= "" > Operator 1</option>
                                    {% endif %}                                   
                                    <option disabled>------------------</option>                                   
                                    {% for each in dropdown_list_operators %}
                                      <option value="{{each}}"> {{ each }} </option>
                                    {% endfor %}                                                                                                                   
                                  </select>        
                                </div>                                           
                                <div class="col-sm-2"> 
                                  <input type="text" class="form-control" placeholder="Value 1" name="set_value_1_{{ entry.id }}"
                                    value = {% if entry.value_1 != None and entry.value_1 != "None" %}"{{ entry.value_1 }}"{% else %}""{% endif %} /> 
                              
                              {% else %}    
                              
                                </div>                                                 
                                <div class="col-sm-4">    

                              {% endif %}

                                </div>
                              </div>
                              </td>
                            </tr>  

  <!-- section 2 -->

                          {% if entry.main_operator_second_sensor != "None" and entry.main_operator_second_sensor != None %}            
                          <tr>
                            <td colspan="2">
                              <div class="dropdown text-right">     
                                <select data-size="5" class="form-control" name="set_main_operator_second_sensor_{{ entry.id }}" style="background-color:#27293D"> 
                                  <option value= "{{ entry.main_operator_second_sensor }}" > {{ entry.main_operator_second_sensor }} </option>
                                  <option disabled>------------------</option>    
                                  {% for each in dropdown_list_main_operator_second_sensor %}
                                    <option value="{{each}}"> {{ each }} </option>
                                  {% endfor %}                                                                                                                
                                </select>                                    
                              </div>               
                            </td>
                            
                            <td colspan="8">    
                              <div class="row justify-content-md-center">                                                 
                                <div class="col-sm-4"> 
                                  <select id="device_2_{{ entry.id }}" onchange="Choose_Sensor_2('{{ entry.id }}')" data-size="5" class="form-control" name="set_device_2_{{ entry.id }}" style="background-color:#27293D"> 
                                    {% if entry.device_ieeeAddr_2 != None and entry.device_ieeeAddr_2 != "None" %}
                                      <option value= "{{ entry.device_ieeeAddr_2 }}" > {{ entry.device_name_2 }} </option>
                                    {% else %}
                                      <option value= "" > Device 2</option>
                                    {% endif %}           
                                    <option disabled>------------------</option>    
                                    {% for each in dropdown_list_devices %}
                                      <option value="{{ each.id }}"> {{ each.name }} </option>
                                    {% endfor %}                                                                                           
                                  </select>    
                                </div>                                                  
                                <div class="col-sm-4"> 
                                  <select id="selected_sensor_2_{{ entry.id }}" data-size="5" class="form-control" name="set_sensor_2_{{ entry.id }}" style="background-color:#27293D">   
                                    {% if device_id_2 != None and device_id_2 != "None" and entry.device_ieeeAddr_2 != None and entry.device_ieeeAddr_2 != "None" %}
                                      <option value= "{{ entry.sensor_key_2 }}" > {{ entry.sensor_key_2 }} </option>
                                      <option disabled>------------------</option>
                                        {% for each in entry.device_input_values_2.split(',') %}
                                          <option value= "{{ each }}" > {{ each }} </option>
                                        {% endfor %}                             
                                    {% else %}
                                      <option value= "" > Sensor 2</option>                         
                                    {% endif %}                                                                                         
                                  </select>    

                                {% if entry.main_operator_second_sensor == "and" or entry.main_operator_second_sensor == "or" %}

                                  </div>                                               
                                  <div class="col-sm-2">  
                                    <select data-size="5" class="form-control" name="set_operator_2_{{ entry.id }}" style="background-color:#27293D">  
                                      {% if entry.operator_2 != None and entry.operator_2 != "None" and entry.operator_2 != "" %}
                                        <option value= "{{ entry.operator_2 }}" > {{ entry.operator_2 }} </option>
                                      {% else %}
                                        <option value= "" > Operator 2</option>
                                      {% endif %}  
                                      <option disabled>------------------</option>                                       
                                      {% for each in dropdown_list_operators %}
                                        <option value="{{each}}"> {{ each }} </option>
                                      {% endfor %}                                                                                                                
                                    </select>  
                                  </div>                                           
                                  <div class="col-sm-2">     
                                    <input type="text" class="form-control" placeholder="Value 2" name="set_value_2_{{ entry.id }}"
                                      value = {% if entry.value_2 != None and entry.value_2 != "None" %}"{{ entry.value_2 }}"{% else %}""{% endif %} />
                                                
                                {% else %} 
                               
                                  </div>                                               
                                  <div class="col-sm-4">  

                                {% endif %} 

                                </div>
                              </div>
                              </td>
                            </tr> 

                          {% endif %} 

                        {% endif %}

  <!-- section position -->

                        {% if entry.trigger_position == "True" %}

                          <tr>
                            <td colspan="10"></td>
                          </tr>
                          <tr>
                            <td colspan="1"></td>
                            <td colspan="1"></td>
                            <td colspan="8">
                              <div class="row justify-content-md-center">                                                
                                <div class="col-sm-4"> 
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox_option_home_{{ entry.id }}" {% if entry.option_home == "True" %} checked="on" {% endif %} name="checkbox_option_home_{{ entry.id }}" >
                                    <label class="custom-control-label" for="checkbox_option_home_{{ entry.id }}">HOME</label>
                                  </div>     
                                  <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox_option_away_{{ entry.id }}" {% if entry.option_away == "True" %} checked="on" {% endif %} name="checkbox_option_away_{{ entry.id }}" >
                                    <label class="custom-control-label" for="checkbox_option_away_{{ entry.id }}">AWAY</label>
                                  </div>   
                                </div>      
                                <div class="col-sm-8"> 
                                  <label>IP-Addresses</label>    
                                  <input type="text" class="form-control" placeholder="IP-Addresses" name="set_ip_addresses_{{ entry.id }}"
                                  value = {% if entry.ip_addresses != None and entry.ip_addresses != "None" %}"{{ entry.ip_addresses }}"{% else %}""{% endif %} />
                                </div>
                              </div>
                            </td>
                          </tr>

                        {% endif %}

                        </tbody>
                      </table>
                    </div>
                  </div>            
                  <div class="card-footer">                   
                    <button type="submit" onclick="window.location.href='/scheduler#table_{{entry.id}}'" name="save_scheduler_settings" class="btn btn-fill btn-primary">SAVE</button>
                   
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-fill btn-danger pull-right" data-toggle="modal" data-target="#delete_dialog_{{entry.id}}">DELETE</button>
                    <!-- Modal -->
                    <div class="modal fade" id="delete_dialog_{{entry.id}}">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title">Delete {{entry.name}} ?</h5>
                          </div>          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                            <button type="submit" onclick="window.location.href='/scheduler#'" name="delete_scheduler_task_{{entry.id}}" class="btn btn-fill btn-danger pull-right">DELETE</button>
                          </div>
                        </div>
                      </div>
                    </div>                     
                   
                  </div>
                </form>
              </div> 
            </div>

  {% endif %}

{% endfor %}

<!------------------------------>
<!-- SCHEDULER TASKS OPTIONS  -->
<!------------------------------>   

            <div class="card">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse_info"><font color="white"><b><i class='uil uil-arrow-down'> Commands </i></b></font></a>
                <br>
                <br>   
              </div>              
              <div id="collapse_info" class="collapse">      
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <tbody>                                                           
                        <tr> 
                          <td><h4><p class="text-muted">Lighting</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                                                                
                        <tr>
                          <td>lighting # start_scene # livingroom # relax # 100</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                group "livingroom" | scene "relax" | brightness "100%"
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                100 >> 
                              </div>
                              <div class="col-sm-8"> 
                                brightness 100 % 
                              </div>                        
                            </div>     
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Lighting - Groups >>
                              </div>
                              <div class="col-sm-8">   
                                {% for group in list_lighting_group_options %}
                                  {{ group }} |
                                {% endfor %}    
                              </div>  
                            </div>  
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Lighting - Scenes >>
                              </div>
                              <div class="col-sm-8">   
                                {% for scene in list_lighting_scene_options %}
                                  {{ scene }} |
                                {% endfor %}    
                              </div>  
                            </div>                              
                          </td>                                
                        </tr>
                        <tr>                        
                          <td>lighting # turn_off # group # kitchen, bathroom</td>
                          <td>turn off the lights of group "bathroom" and "kitchen"</td>
                        </tr>               
                        <tr>
                          <td>lighting # turn_off # ALL</td>
                          <td>turn off all lights</td>
                        </tr> 
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>       
                        <tr>
                          <td><h4><p class="text-muted">Devices</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td>device # Power_TV, Power_Server # OFF</td>   
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                send | command "OFF" | devices "Power_TV" and "Power_Server"
                              </div>
                            </div>  
                            <br>
                            {% for device in list_device_command_options %}
                              <div class="row justify-content-md-center">
                                <div class="col-sm-4">
                                  {{ device[0] }} >>
                                </div>
                                <div class="col-sm-8">          
                                  {{ device[1] | replace(',', ' | ') }} 
                                </div>
                              </div> 
                            {% endfor %}                                            
                          </td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>     
                        <tr>
                          <td><h4><p class="text-muted">Sensordata</p></h4></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                   
                        <tr>
                          <td>request_sensordata # sensor_1 </td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                request and save "sensor_1" data
                              </div>
                            </div>        
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Sensordata Jobs >>
                              </div>
                              <div class="col-sm-8">   
                                {% for job in list_sensordata_job_options %}
                                  {{ job }} |
                                {% endfor %}    
                              </div>  
                            </div>                                                              
                          </td>                    
                        </tr>    
                        <tr>                          
                          <td></td>
                          <td></td>
                        </tr>     
                        <tr>
                          <td><h4><p class="text-muted">Programs</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                                  
                        <tr>
                          <td>program # SUNRISE # START</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start program "SUNRISE" 
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                START >> 
                              </div>
                              <div class="col-sm-8"> 
                                start 
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP >> 
                              </div>
                              <div class="col-sm-8"> 
                                stop 
                              </div>                        
                            </div>                                                               
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Programs >>
                              </div>
                              <div class="col-sm-8">   
                                {% for program in list_program_options %}
                                  {{ program }} |
                                {% endfor %}    
                              </div>  
                            </div>                                                                       
                          </td>                    
                        </tr>                              
                        <tr> 
                          <td></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td><h4><p class="text-muted">Music</p></h4></td>
                          <td></td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                                                    
                        <tr>
                          <td>music # PLAY</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                start last song / album / playlist on active device or start DEFAULT_SETTINGS
                              </div>
                            </div>  
                            <br>                          
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PLAY >> 
                              </div>
                              <div class="col-sm-8"> 
                                start playing
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PREVIOUS >> 
                              </div>
                              <div class="col-sm-8"> 
                                previous track 
                              </div>                        
                            </div>    
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                NEXT >> 
                              </div>
                              <div class="col-sm-8"> 
                                next track
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP >> 
                              </div>
                              <div class="col-sm-8"> 
                                stop playing
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                VOLUME # 70 >> 
                              </div>
                              <div class="col-sm-8"> 
                                set volume to 70%
                              </div>
                            </div>                        
                            <br>        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Devices >>
                              </div>
                              <div class="col-sm-8">   
                                {% for device in list_spotify_devices %}
                                  {% if device['type'] != "Smartphone" %}
                                    {% if "multiroom" in device['name'] %}
                                      multiroom |
                                    {% else %}
                                      {{ device['name'] }} |
                                    {% endif %}                                          
                                  {% endif %}
                                {% endfor %}
                              </div>
                            </div>                     
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Playlists >>
                              </div>
                              <div class="col-sm-8">   
                                {% for playlist in list_spotify_playlists %}
                                  {% if playlist['name'] != "Discover Weekly" %}
                                    {{ playlist['name'] }} |
                                  {% endif %}
                                {% endfor %}    
                              </div>
                            </div>                                                                                    
                          </td>                    
                        </tr>                                                    
                        <tr>
                          <td>music # playlist # PC # Rock # 50</td>
                          <td>start | playlist "Rock" | device "PC"</td>
                        </tr>     
                        <tr>
                          <td>music # track # PC # Go Time # Young Mozart # 25</td>
                          <td>start | track "Go Time" | interprets "Young Mozart" | device "PC" | volume "25%"</td>
                        </tr>     
                        <tr>
                          <td>music # album # PC # Hold On # Nano # 60</td>
                          <td>start | album "Hold On" | interprets "Nano" | device "PC" | volume "25%"</td>
                        </tr>                                                                                       
                      </tbody>
                    </table>                
                  </div>                 
                </div>            
              </div>
            </div>

          </div>
        </div>
      </div>          