
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Settings - Users</b></h4>
              </div>
            </div> 


<!-------------->
<!-- ADD USER -->
<!-------------->

<!-- success message add user -->

{% if success_message_add_user == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>User successfully added</span>
  </div>
{% endif %}  

<!-- error message add user -->

{% if error_message_add_user != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_user %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}    


            <div class="card"> 
              <form method="POST">        
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/users#add_user'" name="add_user" class="btn btn-fill btn-primary">NEW USER</button>
                </div>
              </form>
            </div>


<!------------------>
<!--  USERS TABLE -->
<!------------------>

<!-- message admin password not changed -->

{% if message_admin_password_not_changed != "" %}
  <div class="alert alert-warning">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ message_admin_password_not_changed }}</span>
  </div>  
{% endif %}   

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


<section id="users_table"></section>      

            <div class="card "> 
              <form method="POST">         
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:20%" class="minwidth_200">User</th>
                        <th scope="col" style="width:20%" class="minwidth_200">eMail-Address</th>
                        <th scope="col" style="width:20%" class="minwidth_200">Change password</th>
                        <th scope="col" style="width:17%" class="minwidth_200">Options</th>                
                        <th scope="col" style="width:5%"></th>
                      </thead>
                      <tbody>
                        {% for entry in list_users %}
                          <tr>           
                            <td>

                              {% if entry.name != "admin" %}

                                <div class="row justify-content-md-left">
                                  <div class="col-sm-10">                                    
                                    <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{{ entry.name }}" />   
                                  </div>
                                </div>        

                              {% else %}       

                                <div class="row justify-content-md-left">
                                  <div class="col-sm-10">                                    
                                    {{ entry.name }} 
                                  </div>
                                </div>       

                              {% endif %}                              

                            </td> 
                            <td>
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="email" class="form-control" name="set_email_{{ entry.id }}" 
                                    value="{% if entry.email != None and entry.email != "None" %}{{ entry.email }}{% endif %}" />
                                </div>
                              </div>                 
                            </td> 
                            <td>
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="password" class="form-control" name="set_password_{{ entry.id }}" value="" /> 
                                  <br>
                                  <label>Repeat Password</label>
                                  <input type="password" class="form-control" name="set_password_repeat_{{ entry.id }}" value="" />  
                                </div>
                              </div>
                            </td> 
                            <td>

                              {% if entry.name != "admin" %}

                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_role_dashboard_only_{{ entry.id }}" {% if entry.role == "dashboard_only" %} checked="on" {% endif %} value="dashboard_only" name="radio_role_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_role_dashboard_only_{{ entry.id }}">Dashboard-Only</label>
                                </div>     
                                <br>  
                                <div class="custom-control custom-radio custom-control-inline">
                                  <input type="radio" class="custom-control-input" id="radio_role_user_{{ entry.id }}" {% if entry.role == "user" %} checked="on" {% endif %} value="user" name="radio_role_{{ entry.id }}">
                                  <label class="custom-control-label" for="radio_role_user_{{ entry.id }}">User</label>
                                </div> 
                                <br>       

                              {% endif %}

                              <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" class="custom-control-input" id="radio_role_administrator_{{ entry.id }}" {% if entry.role == "administrator" %} checked="on" {% endif %} value="administrator" name="radio_role_{{ entry.id }}">
                                <label class="custom-control-label" for="radio_role_administrator_{{ entry.id }}">Admin</label>
                              </div>  
                              <br>
                              <br>   
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_email_notification_{{ entry.id }}" {% if entry.email_notification == "True" %} checked="on" {% endif %} name="checkbox_email_notification_{{ entry.id }}">
                                <label class="custom-control-label" for="checkbox_email_notification_{{ entry.id }}">Notifications</label>
                              </div>
                            </td>
                            <td>

                              {% if entry.name != "admin" %}

                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_{{entry.id}}">DELETE</button>
                                <!-- Modal -->
                                <div class="modal fade" id="delete_dialog_{{entry.id}}">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Delete {{entry.name}} ?</h5>
                                      </div>          
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                        <a class="btn btn-danger" href="/settings/users/delete/{{ entry.id }}#table" role="button">DELETE</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>          

                              {% endif %}

                            </td>   
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">                   
                  <button type="submit" onclick="window.location.href='/settings/users#'" name="save_user_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>          