      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/devices" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Geräte</a>                  
                  <a href="/settings/controller" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Controller</a>                                  
                  <a href="/settings/users" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Benutzer</a>                  
                  <a href="/settings/system_log" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
  
                 </div>         
              </div>  
            </div>  

<!-- error message controller tasks -->

{% if error_message_controller_tasks != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_controller_tasks %}
      {{ error }} <br>
    {% endfor %}
  </div>      
{% endif %}  

<!------------------------>
<!--  CONTROLLER TABLE  -->
<!------------------------>   

{% for entry in list_controller %}

<section id="table_{{entry.id}}"></section>  

<!-- success message change settings controller -->

{% if success_message_change_settings_controller == entry.id %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

            <div class="card ">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse{{entry.id}}"><font color="white"><b><i class='uil uil-arrow-down'> {{entry.device.name}} </i></b></font></a>
                <br>
                <br>
              </div>            
              <form method="POST">      
                <div id="collapse{{entry.id}}" class="collapse{% if entry.collapse == "True" %}.show{% endif %}">    
                  <div class="card-body"> 
                    <div class="table-responsive">
                      <table class="table tablesorter">
                        <tbody>
                          <tr style="border-style:hidden;">                               
                            <td style="width:20%" class="minwidth_200"> 
                              {{ entry.command_1 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                            </td>
                            <td style="width:77%" class="minwidth_300">  
                              <input type="text" class="form-control" name="set_task_1_{{entry.id}}" 
                                value="{% if entry.task_1 != None and entry.task_1 != "None" %}{{ entry.task_1 }}{% endif %}" />
                            </td> 
                          </tr>
                          {% if entry.command_2 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_2 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_2_{{entry.id}}" 
                                  value="{% if entry.task_2 != None  and entry.task_2 != "None" %}{{ entry.task_2 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_3 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_3 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_3_{{entry.id}}" 
                                  value="{% if entry.task_3 != None and entry.task_3 != "None" %}{{ entry.task_3 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_4 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_4 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_4_{{entry.id}}" 
                                  value="{% if entry.task_4 != None and entry.task_4 != "None" %}{{ entry.task_4 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_5 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_5 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_5_{{entry.id}}" 
                                  value="{% if entry.task_5 != None and entry.task_5 != "None" %}{{ entry.task_5 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_6 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_6 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_6_{{entry.id}}" 
                                  value="{% if entry.task_6 != None and entry.task_6 != "None" %}{{ entry.task_6 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_7 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_7 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%">  
                                <input type="text" class="form-control" name="set_task_7_{{entry.id}}" 
                                  value="{% if entry.task_7 != None and entry.task_7 != "None" %}{{ entry.task_7 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}  
                          {% if entry.command_8 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_8 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_8_{{entry.id}}" 
                                  value="{% if entry.task_8 != None and entry.task_8 != "None" %}{{ entry.task_8 }}{% endif %}" />  
                              </td>
                            </tr>  
                          {% endif %}   
                          {% if entry.command_9 != "None" %}
                            <tr style="border-style:hidden;"> 
                              <td style="width:20%"> 
                                {{ entry.command_9 | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} 
                              </td>
                              <td style="width:77%"> 
                                <input type="text" class="form-control" name="set_task_9_{{entry.id}}"
                                  value="{% if entry.task_9 != None and entry.task_9 != "None" %}{{ entry.task_9 }}{% endif %}" /> 
                              </td>
                            </tr>  
                          {% endif %}                                                                  
                        </tbody>
                      </table>
                    </div>                 
                  </div>            
                  <div class="card-footer">                   
                    <button type="submit" onclick="window.location.href='/settings/controller#table_{{entry.id}}'" name="save_controller_settings" class="btn btn-fill btn-primary">SAVE</button>
                  </div>
                </form>
              </div>
            </div>

{% endfor %} 


<!------------------------------>
<!-- CONTROLLER TASKS OPTIONS -->
<!------------------------------>   

            <div class="card">
              <div class="card-header">
                <a data-toggle="collapse" href="#collapse_info"><font color="white"><b><i class='uil uil-arrow-down'> Befehle </i></b></font></a>
                <br>
                <br>
              </div>                 
              <div id="collapse_info" class="collapse">      
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <tr><td></td><td></td></tr>
                        <tr>
                          <th>Aufgabe</th>
                          <th>Erklärung</th>
                        </tr>
                      </thead>
                      <tbody>                  
                        <tr>
                          <td>scene # wohnzimmer # relax # 100</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                Starte LEDs der Gruppe "wohnzimmer" mit Szene "relax" 
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Optional
                              </div>
                              <div class="col-sm-8"> 
                                > globale Helligkeit 100 % 
                              </div>                        
                            </div>                                            
                        </tr>
                        <tr>
                          <td>brightness # schlafzimmer # TURN_UP</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                Erhöhe Helligkeit der LEDs Gruppe "schlafzimmer" um 20% 
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_UP
                              </div>
                              <div class="col-sm-8"> 
                                > 20 % heller 
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_DOWN 
                              </div>
                              <div class="col-sm-8"> 
                                > 20 % dunkler 
                              </div>                        
                            </div>
                          </td>
                        </tr>                                   
                        <tr>
                          <td>led_off # group # flur, bad</td>
                          <td>LEDs der Gruppe "flur" und "bad" ausschalten</td>
                        </tr>               
                        <tr>
                          <td>led_off # ALL</td>
                          <td>alle LEDs ausschalten</td>
                        </tr> 
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                   
                        <tr>
                          <td>device # Steckdose_TV # state:OFF</td>   
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                Gerät "Steckdose_TV" ausschalten
                              </div>
                            </div>  
                            <br>
                            {% for device in list_device_command_options %}
                              <div class="row justify-content-md-center">
                                <div class="col-sm-4">
                                  {{ device[0] }}
                                </div>
                                <div class="col-sm-8">          
                                  > {{ device[1] | replace(' ', ' | ') | replace('{', '') | replace('}', '') | replace(',', ', ') | replace('"', '') }} 
                                </div>
                              </div> 
                            {% endfor %}                                            
                          </td>
                        </tr>  
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>                   
                        <tr>
                          <td>program # SUNRISE # START</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                Programm "SUNRISE" starten 
                              </div>
                            </div>  
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                START 
                              </div>
                              <div class="col-sm-8"> 
                                > starten 
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP 
                              </div>
                              <div class="col-sm-8"> 
                                > beenden 
                              </div>                        
                            </div>                                        
                          </td>                    
                        </tr>     
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>   
                        <tr>
                          <td>spotify # playlist # PC # Gemischt # 50</td>
                          <td>Playlist "Gemischt" auf Gerät "PC" mit Lautstärke 50 % starten</td>
                        </tr>     
                        <tr>
                          <td>spotify # track # PC # Go Time # Young Mozart # 25</td>
                          <td>Track "Go Time" von "Young Mozart" auf Gerät "PC" mit Lautstärke 25 % starten</td>
                        </tr>     
                        <tr>
                          <td>spotify # album # PC # Hold On # Nano # 60</td>
                          <td>Album "Hold On" von "Nano" auf Gerät "PC" mit Lautstärke 60 % starten</td>
                        </tr>                                    
                        <tr>
                          <td>spotify # PLAY</td>
                          <td>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-12"> 
                                letztes Lied / Album / Playlist auf aktiven Spotify-Gerät starten 
                              </div>
                            </div>  
                            <br>                          
                            <br>
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PLAY 
                              </div>
                              <div class="col-sm-8"> 
                                > abspielen starten
                              </div>                        
                            </div>                                            
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                PREVIOUS 
                              </div>
                              <div class="col-sm-8"> 
                                > vorheriger Track 
                              </div>                        
                            </div>    
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                NEXT 
                              </div>
                              <div class="col-sm-8"> 
                                > nächster Track 
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                STOP 
                              </div>
                              <div class="col-sm-8"> 
                                > abspielen stoppen
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_UP 
                              </div>
                              <div class="col-sm-8"> 
                                > 10 % lauter
                              </div>                        
                            </div>                        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                TURN_DOWN 
                              </div>
                              <div class="col-sm-8"> 
                                > 10 % leiser
                              </div>                        
                            </div> 
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                VOLUME # 70 
                              </div>
                              <div class="col-sm-8"> 
                                > Lautstärke auf 70%
                              </div>
                            </div>                        
                            <br>        
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Spotify - Geräte:
                              </div>
                              <div class="col-sm-8">   
                                > {% for device in spotify_devices %}
                                    {% if device['type'] != "Smartphone" %}
                                      {% if "multiroom" in device['name'] %}
                                        multiroom |
                                      {% else %}
                                        {{ device['name'] }} |
                                      {% endif %}                                          
                                    {% endif %}
                                  {% endfor %}
                              </div>
                            </div>                     
                            <div class="row justify-content-md-center">
                              <div class="col-sm-4"> 
                                Spotify - Playlists:
                              </div>
                              <div class="col-sm-8">   
                                > {% for playlist in spotify_playlists %}
                                    {% if playlist['name'] != "Discover Weekly" %}
                                      {{ playlist['name'] }} |
                                    {% endif %}
                                  {% endfor %}    
                              </div>
                            </div>                                                                                    
                          </td>                    
                        </tr>                                                                               
                      </tbody>
                    </table>                
                  </div>                 
                </div>            
              </div>
            </div>



          </div>
        </div>
      </div>                 