
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/devices" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Geräte</a>                  
                  <a href="/settings/controller" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Controller</a>                                    
                  <a href="/settings/users" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Benutzer</a>                  
                  <a href="/settings/system_log" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
  
                 </div>         
              </div>  
            </div>  

<!---------------->
<!--  SETTINGS  -->
<!---------------->

            <div class="card">
              <div class="card-body">
                <form method="POST">
                  <div class="row justify-content-md-center">
                    <div class="col-sm-7">     
                      <div class="form-group">
                        <label>Auswahl</label>                               
                        <select class="selectpicker" multiple data-actions-box="true" data-width="100%" name="set_log_types[]">
                          <option {{ selected_type_event }}> EVENT </option>
                          <option {{ selected_type_status }}> STATUS </option>
                          <option {{ selected_type_network }}> NETWORK </option>                          
                          <option {{ selected_type_database }}> DATABASE </option>                        
                          <option {{ selected_type_success }}> SUCCESS </option>   
                          <option {{ selected_type_warning }}> WARNING </option>
                          <option {{ selected_type_error }}> ERROR </option>                                              
                        </select>   
                      </div>                            
                    </div>
                    <div class="col-sm-5">    
                      <div class="form-group">
                        <label>Suchbegriff</label>                            
                        <input type="text" class="form-control" name="set_log_search" value="{{ log_search }}" />   
                      </div>                            
                    </div>                                                    
                  </div>   
                </div> 
                <div class="card-footer">
                  <button type="submit"  onclick="window.location.href='/settings/system_log#'" name="get_log_output" class="btn btn-fill btn-info">SELECT</button>
                </div>
              </form>     
            </div>

<!---------------------->
<!-- SYSTEM LOG TABLE -->
<!---------------------->

            <div class="card">
              <div class="card-body">

                {% if error_message_logfile == "" %}
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>                      
                        <th scope="col" style="width:20%">Zeitpunkt</th> 
                        <th scope="col" style="width:10%">Typ</th> 
                        <th scope="col" style="width:70%">Beschreibung</th> 
                      </thead>
                      <tbody> 
                        <tr>
                          <td></td> 
                          <td></td> 
                          <td></td> 
                        </tr>
                        {% for entry in data_log_system %}
                          <tr style="border-style:hidden;">
                            <td>{{ entry[0] }}</td> 
                            <td>
                              {% if entry[1] == "EVENT" %} <font color="white">{{ entry[1] }} </font> {% endif %}
                              {% if entry[1] == "STATUS" %} <font color="darkKhaki">{{ entry[1] }} </font> {% endif %}
                              {% if entry[1] == "NETWORK" %} <font color="lightSeaGreen">{{ entry[1] }} </font> {% endif %}                              
                              {% if entry[1] == "DATABASE" %} <font color="lightblue">{{ entry[1] }} </font> {% endif %}
                              {% if entry[1] == "SUCCESS" %} <font color="green">{{ entry[1] }} </font> {% endif %}
                              {% if entry[1] == "WARNING" %} <font color="orange">{{ entry[1] }} </font> {% endif %}
                              {% if entry[1] == "ERROR" %} <font color="salmon">{{ entry[1] }} </font> {% endif %}            
                            </td>                   
                            <td>{{ entry[2] }}</td>  
                          </tr>
                        {% endfor %} 
                      </tbody>
                    </table>  
                  </div>   
                {% endif %}

              </div>
            </div>

<!-------------------->
<!-- SYSTEM LOGFILE -->
<!-------------------->

<section id="logfile"></section>    

<!-- success message logfile -->

{% if success_message_logfile == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>SYSTEM LOG erfolgreich zurückgesetzt</span>
  </div>
{% endif %}  

<!-- error message logfile --> 

{% if error_message_logfile != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {{ error_message_logfile }}
  </div>
{% endif %}  

            <div class="card">
              <div class="card-body">
                <form method="POST"> 
                  <a class="btn btn-default pull-left" href="/settings/system_log/download/log_system.csv?time={{ timestamp }}" role="button">DOWNLOAD SYSTEM LOG</a>

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-fill btn-danger pull-right" data-toggle="modal" data-target="#reset_dialog">RESET SYSTEM LOG</button>
                  <!-- Modal -->
                  <div class="modal fade" id="reset_dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Reset System Log ?</h5>
                        </div>          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                          <button type="submit" onclick="window.location.href='/settings/system_log#logfile'" name="reset_logfile" class="btn btn-fill btn-danger pull-right">RESET SYSTEM LOG</button>
                        </div>
                      </div>
                    </div>
                  </div>                     

                </form>
              </div>
            </div>

          </div>
        </div>
      </div>     