      {% if request.MOBILE %} 
        <br>
      {% endif %} 

      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>About</b></h4>
              </div>
            </div>

<!-------------------->
<!-- INFO OVERVIEW  -->
<!-------------------->

            <div class="card">        
              <div class="card-body">

                Priscilla
                <br>
                Version: {{ version }}  
                <br>
                <br>
                created by Martin Stan               

              </div>
            </div>

            <div class="card">        
              <div class="card-body">

                Supported zigbee devices:
                <br>
                <br>
                - BITRON wireless wall thermostat with relay (AV2010/32)  <br>
                - EUROTRONIC heater thermostat (SPZB0001)  <br>
                - iCASA Pulse 4S (ICZB-KPD14S)  <br>
                - iCASA Pulse 8S (ICZB-KPD18S)  <br>
                - IKEA TRADFRI LED white E14 400 lumen (LED1536G5 / LED1649C5)  <br>
                - IKEA TRADFRI LED white E14 600 lumen (LED1733G7)  <br>
                - IKEA TRADFRI LED white E14 470 lumen (LED1835C6 / LED1903C5)  <br>
                - IKEA TRADFRI LED color E14/E27 600 lumen (LED1624G9)  <br>
                - IKEA TRADFRI LED white E27 WW clear 250 lumen (LED1842G3)  <br>
                - IKEA TRADFRI LED white E27 806 lumen (LED1736G9 / LED1836G9)  <br>
                - IKEA TRADFRI LED white E27 950 lumen (LED1546G12)  <br>
                - IKEA TRADFRI LED white E27 980 lumen (LED1545G12)  <br>
                - IKEA TRADFRI LED white E27 1000 lumen (LED1732G11 / LED1623G12)  <br>
                - IKEA TRADFRI LED white GU10 400 lumen (LED1537R6 / LED1650R5 / LED1739R5 / LED1837R5)  <br>
                - IKEA LEPTITER Recessed spot light (T1820)  <br>
                - IKEA FLOALT LED light panel (L1527 / L1528 / L1529)  <br>
                - IKEA GUNNARP panel 40*40" (T1829)  <br>
                - IKEA GUNNARP panel round (T1828)  <br>
                - IKEA Osvalla panel round (T2011)  <br>
                - IKEA SURTE door light panel (L1531)  <br>
                - IKEA TRADFRI driver for wireless control 10 watt (ICPSHC24-10EU-IL-1)  <br>
                - IKEA TRADFRI driver for wireless control 30 watt (ICPSHC24-30EU-IL-1)  <br>
                - IKEA TRADFRI control outlet (E1603 / E1702)  <br>
                - IKEA TRADFRI motion sensor (E1525 / E1745)  <br>
                - IKEA TRADFRI signal repeater (E1746)  <br>
                - IKEA TRADFRI remote control (E1524 / E1810)  <br>
                - IKEA TRADFRI on/off switch (E1743)  <br>
                - IKEA TRADFRI wireless dimmer (ICTC-G-1)  <br>                
                - IKEA SYMFONISK sound controller (E1744) >>> special configuration recommended (README)  <br>     
                - IKEA TRADFRI open/close remote (E1766)  <br>
                - IKEA FYRTUR roller blind (E1757)  <br>
                - IKEA KADRILJ roller blind (E1926)  <br>         
                - LEDVANCE PowerSwitch  <br>    
                - PHILIPS Hue white E14 (9290020399)  <br>
                - PHILIPS Hue white ambiance E14 (8718696695203)  <br>
                - PHILIPS Hue white & color ambiance E14/E27 (9290012573A)  <br>
                - PHILIPS Hue white E27 (9290011370 / 9290011370B / 8718699688820 / 8718699673147)  <br>
                - PHILIPS Hue white ambiance E27 (8718696548738 / 9290022169)  <br>
                - PHILIPS Hue white & color ambiance E27 (9290022166)  <br>
                - PHILIPS Hue white GU10 (9290018195 / LWG004)  <br>
                - PHILIPS Hue white ambiance GU10 (8718696598283 / 929001953301)  <br>
                - PHILIPS Hue white & color ambiance GU10 (929001953101 / 8718696485880)  <br>
                - PHILIPS Hue Bloom (7299760PH)  <br>
                - PHILIPS Hue Go (7146060PH / 7602031P7)  <br>
                - PHILIPS Hue white & color ambiance LightStrip (915005106701)  <br>
                - PHILIPS Hue white & color ambiance LightStrip outdoor (9290018187B)  <br>
                - PHILIPS Hue white & color ambiance play Lightbar (915005733701)  <br>
                - PHILIPS Hue Iris I + II (7199960PH / 7099930PH)  <br>
                - PHILIPS Hue LivingColors Aura (7099860PH)  <br>
                - PHILIPS Hue Calla outdoor (8718696167991)  <br>
                - PHILIPS Hue outdoor Impress wall lamp (1742930P7)  <br>
                - PHILIPS Hue outdoor Impress lantern (1743230P7)  <br>
                - Philips Hue dimmer switch (324131092621)  <br>
                - PHILIPS Hue smart plug EU (929002240401)  <br>
                - PHILIPS Hue motion sensor (9290012607)  <br>
                - PHILIPS Hue motion sensor outdoor (9290019758)  <br>
                - XIAOMI Aqara Opple Light MX480 (XDD13LM)  <br>
                - XIAOMI Aqara Opple Light MX650 (XDD12LM)  <br>
                - XIAOMI Aqara door & window contact sensor (MCCGQ01LM / MCCGQ11LM)  <br>
                - XIAOMI Aqara water leak sensor (SJCGQ11LM / SJCGQ12LM)  <br>
                - XIAOMI Aqara human body movement sensor (RTCGQ01LM)  <br>
                - XIAOMI Aqara human body movement and illuminance sensor (RTCGQ11LM)  <br>
                - XIAOMI Aqara vibration sensor (DJT11LM / DJT12LM)  <br>
                - XIAOMI Aqara temperature, humidity and pressure sensor (WSDCGQ11LM, WSDCGQ12LM)  <br>                
                - XIAOMI MiJia temperature and humidity sensor (WSDCGQ01LM)  <br>
                - XIAOMI MiJia light intensity sensor (GZCGQ01LM)  <br>
                - XIAOMI Aqara human body movement sensor (RTCGQ01LM, RTCGQ12LM)  <br>
                - XIAOMI Aqara human body high precision movement sensor (RTCGQ13LM)  <br>
                - XIAOMI Aqara human body movement and illuminance sensor (RTCGQ11LM)  <br>
                - XIAOMI MiJia Honeywell smoke detector (JTYJ-GD-01LM/BW)  <br>
                - XIAOMI MiJia gas leak detector (JTQJ-BF-01LM/BW)  <br>
                - XIAOMI Aqara wireless single switch (WXKG11LM)  <br>
                - XIAOMI Aqara wireless double switch (WXKG12LM)  <br>
                - XIAOMI Aqara wireless quadruple switch (WXKG01LM)  <br>
                - XIAOMI Aqara Opple switch 1 band (WXCJKG11LM)  <br>
                - XIAOMI Aqara Opple switch 2 band (WXCJKG12LM)  <br>
                - XIAOMI Aqara Opple switch 3 band (WXCJKG13LM)  <br>
                - XIAOMI Mi power plug EU (ZNCZ04LM)  <br>
                - XIAOMI Aqara smart plug EU (SP-EUC01)  <br>
                - XIAOMI Aqara wireless relay controller (LLKZMK11LM)  <br>
                - XIAOMI Aqara curtain motor (ZNCLDJ11LM / ZNCLDJ12LM)   <br>     
                - XIAOMI Mi robot vacuum   <br>                                         
                - XIAOMI Roborock S50   <br>    

              </div>
            </div>

          </div>
        </div>
      </div>      