
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    

                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/controller" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Controller</a>
                  <a href="/settings/speechcontrol" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Sprachsteuerung</a>                                       
                  <a href="/settings/users" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Benutzer</a>                  
                  <a href="/settings/system_log" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
  
                 </div>         
              </div>  
            </div>  


<!-------------->
<!-- ADD USER -->
<!-------------->

<!-- success message add user -->

{% if success_message_add_user == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Benutzer erfolgreich hinzugefügt</span>
  </div>
{% endif %}  

<!-- error message add user -->

{% if error_message_add_user != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_add_user %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}    


            <div class="card"> 
              <form method="POST">        
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/users#add_user'" name="add_user" class="btn btn-fill btn-primary">NEW USER</button>
                </div>
              </form>
            </div>


<!------------------>
<!--  USERS TABLE -->
<!------------------>

<!-- message admin password not changed -->

{% if message_admin_password_not_changed != "" %}
  <div class="alert alert-warning">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ message_admin_password_not_changed }}</span>
  </div>  
{% endif %}   

<!-- success message change settings -->

{% if success_message_change_settings != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  


<section id="users_table"></section>      

            <div class="card "> 
              <form method="POST">         
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <thead>
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Benutzer</th>
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">someinvisibletextforminlenght</p>eMail-Adresse</th>
                        <th scope="col" style="width:20%"><p style="visibility: hidden;">invisibletextforminlenght</p>Passwort ändern</th>
                        <th scope="col" style="width:17%"><p style="visibility: hidden;">invisibletextforminlenght</p>Optionen</th>                
                        <th scope="col" style="width:5%"></th>
                      </thead>
                      <tbody>
                        {% for entry in list_users %}
                          <tr>           
                            <td>
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="text" class="form-control" name="set_username_{{ entry.id }}" value="{{ entry.username }}" />   
                                </div>
                              </div>          
                            </td> 
                            <td>
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="email" class="form-control" name="set_email_{{ entry.id }}" value="{{ entry.email }}" /> 
                                </div>
                              </div>                 
                            </td> 
                            <td>
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="password" class="form-control" name="set_password_{{ entry.id }}" value="" /> 
                                  <br>
                                  <label>Passwort wiederholen</label>
                                  <input type="password" class="form-control" name="set_password_repeat_{{ entry.id }}" value="" />  
                                </div>
                              </div>
                            </td> 
                            <td>
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_administrator_{{ entry.id }}" {% if entry.role == "administrator" %} checked="on" {% endif %} name="checkbox_administrator_{{ entry.id }}">
                                <label class="custom-control-label" for="checkbox_administrator_{{ entry.id }}">Administrator</label>
                              </div>       
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_email_notification_{{ entry.id }}" {% if entry.email_notification == "True" %} checked="on" {% endif %} name="checkbox_email_notification_{{ entry.id }}">
                                <label class="custom-control-label" for="checkbox_email_notification_{{ entry.id }}">Benachrichtigungen</label>
                              </div>
                            </td>
                            <td>
                              <a href="/settings/users/delete/{{ entry.id }}#table"><font size="5"><i class='tim-icons icon-trash-simple'></i></font></a>
                            </td>   
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>            
                <div class="card-footer">                   
                  <button type="submit" onclick="window.location.href='/settings/users#'" name="save_user_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>          