
<script src="/static/js/core/jquery-1.12.4.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    namespace  = '/socketIO';
    var socket = io(namespace);

    socket.on('program_thread_1', function(msg) {
        $('#program_1_name').text(msg.program_name);   
        $('#program_1_line').text(msg.line); 
        $('#program_1_lines_total').text(msg.lines_total);   
        $('#program_1_command').text(msg.command);                                                  
    });

    socket.on('program_thread_2', function(msg) {
        $('#program_2_name').text(msg.program_name);   
        $('#program_2_line').text(msg.line); 
        $('#program_2_lines_total').text(msg.lines_total);   
        $('#program_2_command').text(msg.command);                                                  
    });

    socket.on('program_thread_3', function(msg) {
        $('#program_3_name').text(msg.program_name);   
        $('#program_3_line').text(msg.line); 
        $('#program_3_lines_total').text(msg.lines_total);   
        $('#program_3_command').text(msg.command);                                                  
    });

    socket.on('program_thread_4', function(msg) {
        $('#program_4_name').text(msg.program_name);   
        $('#program_4_line').text(msg.line); 
        $('#program_4_lines_total').text(msg.lines_total);   
        $('#program_4_command').text(msg.command);                                                  
    });

    socket.on('program_thread_5', function(msg) {
        $('#program_5_name').text(msg.program_name);   
        $('#program_5_line').text(msg.line); 
        $('#program_5_lines_total').text(msg.lines_total);   
        $('#program_5_command').text(msg.command);                                                  
    });

    socket.on('program_thread_6', function(msg) {
        $('#program_6_name').text(msg.program_name);   
        $('#program_6_line').text(msg.line); 
        $('#program_6_lines_total').text(msg.lines_total);   
        $('#program_6_command').text(msg.command);                                                  
    });

    socket.on('program_thread_7', function(msg) {
        $('#program_7_name').text(msg.program_name);   
        $('#program_7_line').text(msg.line); 
        $('#program_7_lines_total').text(msg.lines_total);   
        $('#program_7_command').text(msg.command);                                                  
    });

    socket.on('program_thread_8', function(msg) {
        $('#program_8_name').text(msg.program_name);   
        $('#program_8_line').text(msg.line); 
        $('#program_8_lines_total').text(msg.lines_total);   
        $('#program_8_command').text(msg.command);                                                  
    });

    socket.on('program_thread_9', function(msg) {
        $('#program_9_name').text(msg.program_name);   
        $('#program_9_line').text(msg.line); 
        $('#program_9_lines_total').text(msg.lines_total);   
        $('#program_9_command').text(msg.command);                                                  
    });    

  });
</script>


      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Settings - Threads</b></h4>
              </div>
            </div> 

<!--------------->
<!-- PROGRAMS  -->
<!--------------->

<!-- success message program stop -->

{% if success_message_program_stop != "" %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ success_message_program_stop }}</span>
  </div>
{% endif %}  

<!-- error message program stop --> 

{% if error_message_program_stop != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_program_stop }}</span>
  </div>      
{% endif %}  


            <div class="card ">      
              <div class="card-body"> 
                <div class="table-responsive">
                  <table class="table tablesorter">
                    <thead>
                      <th scope="col" style="width:5%"  class="minwidth_50">ID</th>
                      <th scope="col" style="width:20%" class="minwidth_200">Name</th>
                      <th scope="col" style="width:5%"  class="minwidth_50">Line</th>
                      <th scope="col" style="width:5%"  class="minwidth_50">Lines_Total</th>
                      <th scope="col" style="width:3%"></th>
                      <th scope="col" style="width:65%" class="minwidth_300">Command</th>
                      <th scope="col" style="width:65%" class="minwidth_100"></th>
                    </thead>
                    <tbody> 

                      <tr>                                       
                        <td>
                          1                 
                        </td> 
                        <td>
                          <div id="program_1_name"></div>
                        </td> 
                        <td>
                          <div id="program_1_line"></div>                
                        </td>
                        <td>
                          <div id="program_1_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_1_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_1">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_1">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 1 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/1#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                          
                      </tr>

                      <tr>                                       
                        <td>
                          2                 
                        </td> 
                        <td>
                          <div id="program_2_name"></div>
                        </td> 
                        <td>
                          <div id="program_2_line"></div>                
                        </td>
                        <td>
                          <div id="program_2_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_2_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_2">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_2">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 2 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/2#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          3                 
                        </td> 
                        <td>
                          <div id="program_3_name"></div>
                        </td> 
                        <td>
                          <div id="program_3_line"></div>                
                        </td>
                        <td>
                          <div id="program_3_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_3_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_3">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_3">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 3 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/3#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          4                 
                        </td> 
                        <td>
                          <div id="program_4_name"></div>
                        </td> 
                        <td>
                          <div id="program_4_line"></div>                
                        </td>
                        <td>
                          <div id="program_4_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_4_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_4">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_4">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 4 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/4#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          5                 
                        </td> 
                        <td>
                          <div id="program_5_name"></div>
                        </td> 
                        <td>
                          <div id="program_5_line"></div>                
                        </td>
                        <td>
                          <div id="program_5_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_5_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_5">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_5">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 5 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/5#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          6                 
                        </td> 
                        <td>
                          <div id="program_6_name"></div>
                        </td> 
                        <td>
                          <div id="program_6_line"></div>                
                        </td>
                        <td>
                          <div id="program_6_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_6_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_6">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_6">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 6 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/6#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          7                 
                        </td> 
                        <td>
                          <div id="program_7_name"></div>
                        </td> 
                        <td>
                          <div id="program_7_line"></div>                
                        </td>
                        <td>
                          <div id="program_7_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_7_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_7">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_7">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 7 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/7#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          8                 
                        </td> 
                        <td>
                          <div id="program_8_name"></div>
                        </td> 
                        <td>
                          <div id="program_8_line"></div>                
                        </td>
                        <td>
                          <div id="program_8_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_8_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_8">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_8">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 8 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/8#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                      <tr>                                       
                        <td>
                          9                 
                        </td> 
                        <td>
                          <div id="program_9_name"></div>
                        </td> 
                        <td>
                          <div id="program_9_line"></div>                
                        </td>
                        <td>
                          <div id="program_9_lines_total"></div>              
                        </td>
                        <td></td>
                        <td>
                          <div id="program_9_command"></div>             
                        </td>
                        <td>   
                          <!-- Button trigger modal -->
                          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_9">STOP</button>
                          <!-- Modal -->
                          <div class="modal fade" id="delete_dialog_9">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">STOP Thread 9 ?</h5>
                                </div>          
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                  <a class="btn btn-danger" href="/settings/threads/stop/9#" role="button">STOP</a>
                                </div>
                              </div>
                            </div>
                          </div>                          
                        </td>                           
                      </tr>

                    </tbody>
                  </table>         
                </div>
              </div>            
            </div>



          </div>
        </div>
      </div>     