
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Settings - System</b></h4>
              </div>
            </div>  

<!-------------------->
<!-- SYSTEM CONTROL -->
<!-------------------->

<!-- message system -->

{% if message_system != "" %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    <span>{{ message_system }}</span>
  </div>
{% endif %}  

            <div class="card"> 
              <div class="card-body">         
                <form method="POST">
        
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-fill btn-info pull-left" data-toggle="modal" data-target="#restart_dialog">RESTART</button>
                  <!-- Modal -->
                  <div class="modal fade" id="restart_dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Restart System ?</h5>
                        </div>          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                          <button type="submit" onclick="window.location.href='/settings/system#'" name="restart_system" class="btn btn-fill btn-info pull-right">RESTART</button>
                        </div>
                      </div>
                    </div>
                  </div>   

                  <!-- Button trigger modal -->
                  {% if request.MOBILE %}
                    <br>
                    <br>    
                    <br>                
                    <button type="button" class="btn btn-fill btn-info" data-toggle="modal" data-target="#shutdown_dialog">SHUTDOWN</button>                 
                  {% else %} 
                    <button type="button" class="btn btn-fill btn-info pull-right" data-toggle="modal" data-target="#shutdown_dialog">SHUTDOWN</button>   
                  {% endif %} 

                  <!-- Modal -->
                  <div class="modal fade" id="shutdown_dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Shutdown System ?</h5>
                        </div>          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                          <button type="submit" onclick="window.location.href='/settings/system#'" name="shutdown_system" class="btn btn-fill btn-info pull-right">SHUTDOWN</button>
                        </div>
                      </div>
                    </div>
                  </div>   
                  
                </form>
              </div>  
            </div>

<!------------------------>
<!-- SETTINGS SERVICES  -->
<!------------------------>

<section id="services"></section>  

<!-- success message change settings services -->

{% if success_message_change_settings_services == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Settings successfully changed</span>
  </div>
{% endif %}  

<!-- error message change settings services -->

{% if error_message_change_settings_services != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_services %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

            <div class="card"> 
              <div class="card-header">
                <h5 class="title">Services</h5>
              </div>                 
              <form method="POST">
                <div class="card-body">        
                  <div class="row"> 
                    <div class="col-md-3">
                      <label>ZigBee</label>
                      {% if request.MOBILE %}<br><br>{% endif %}   
                    </div>
                    <div class="col-md-9">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_zigbee2mqtt_active_true" {% if system_settings.zigbee2mqtt_active == "True" %} checked="on" {% endif %} value="True" name="set_radio_zigbee2mqtt_active">
                        <label class="custom-control-label" for="radio_zigbee2mqtt_active_true">enabled</label>
                      </div>                      
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_zigbee2mqtt_active_false" {% if system_settings.zigbee2mqtt_active == "False" %} checked="on" {% endif %} value="False" name="set_radio_zigbee2mqtt_active">
                        <label class="custom-control-label" for="radio_zigbee2mqtt_active_false">disabled</label>
                      </div>      
                      <br>
                      <br>
                      {% if request.MOBILE %}<br>{% endif %} 
                    </div>        
                  </div>   
                  <div class="row"> 
                    <div class="col-md-3">
                      <label>Logitech Media Server</label>
                      {% if request.MOBILE %}<br><br>{% endif %}   
                    </div>
                    <div class="col-md-9">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_lms_active_true" {% if system_settings.lms_active == "True" %} checked="on" {% endif %} value="True" name="set_radio_lms_active">
                        <label class="custom-control-label" for="radio_lms_active_true">enabled</label>
                      </div>                      
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_lms_active_false" {% if system_settings.lms_active == "False" %} checked="on" {% endif %} value="False" name="set_radio_lms_active">
                        <label class="custom-control-label" for="radio_lms_active_false">disabled</label>
                      </div>      
                      <br>
                      <br>
                      {% if request.MOBILE %}<br>{% endif %}   
                    </div>        
                  </div>   
                  <div class="row"> 
                    <div class="col-md-3">
                      <label>Squeezelite Player</label>
                      {% if request.MOBILE %}<br><br>{% endif %}   
                    </div>
                    <div class="col-md-9">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_squeezelite_active_true" {% if system_settings.squeezelite_active == "True" %} checked="on" {% endif %} value="True" name="set_radio_squeezelite_active">
                        <label class="custom-control-label" for="radio_squeezelite_active_true">enabled</label>
                      </div>                      
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_squeezelite_active_false" {% if system_settings.squeezelite_active == "False" %} checked="on" {% endif %} value="False" name="set_radio_squeezelite_active">
                        <label class="custom-control-label" for="radio_squeezelite_active_false">disabled</label>
                      </div>      
                      <br>
                      <br>
                    </div>        
                  </div>   
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#services'" name="update_settings_services" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>

<!---------------------->
<!-- SETTINGS NETWORK -->
<!---------------------->

<section id="network"></section>  

<!-- success message change settings network -->

{% if success_message_change_settings_network == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Settings successfully changed - System restart nessessary</span>
  </div>
{% endif %}  

<!-- error message change settings network -->

{% if error_message_change_settings_network != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_network %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Network</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-1">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_dhcp" {% if system_settings.dhcp == "True" %} checked="on" {% endif %} name="set_checkbox_dhcp">
                            <label class="custom-control-label" for="checkbox_dhcp">DHCP</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>                  
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Address</label>
                            {% if system_settings.dhcp == "True" %}
                              <br>
                              {% if system_settings.ip_address != None %}{{ system_settings.ip_address }}{% endif %}
                            {% else %} 
                              <input type="text" class="form-control" name="set_ip_address" value="{% if system_settings.ip_address != None %}{{ system_settings.ip_address }}{% endif %}" />
                            {% endif %} 
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Gateway</label>
                            {% if system_settings.dhcp == "True" %}
                              <br>
                              {% if system_settings.gateway != None %}{{ system_settings.gateway }}{% endif %}
                            {% else %}                             
                              <input type="text" class="form-control" name="set_gateway" value="{% if system_settings.gateway != None %}{{ system_settings.gateway }}{% endif %}" /> 
                            {% endif %}     
                          </div>
                        </div>       
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Port</label>
                              <br>                      
                              <input type="text" class="form-control" name="set_port" value="{% if system_settings.port != None %}{{ system_settings.port }}{% endif %}" /> 
                          </div>
                        </div>                                               
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#network'" name="set_settings_network" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>


<!-------------------->
<!-- SETTINGS EMAIL -->
<!-------------------->

<section id="email"></section>  

<!-- success message change settings email -->

{% if success_message_change_settings_email == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Settings successfully changed</span>
  </div>
{% endif %}  

<!-- error message change settings email -->

{% if error_message_change_settings_email != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_email %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- test settings email -->

{% if message_test_settings_email != "" %}
  {% if message_test_settings_email != None %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span data-notify="message">{{ message_test_settings_email }}</span> 
    </div>
  {% else %} 
    <div class="alert alert-success">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span data-notify="message">eMail successfully sent</span> 
    </div>
  {% endif %} 
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">eMail</h5>
              </div>            
              <form method="POST">          
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Server Address</label>
                         <input type="text" class="form-control" name="set_server_address" value="{% if email_settings.server_address != None %}{{ email_settings.server_address }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Server Port</label>
                        <input type="text" class="form-control" name="set_server_port" value="{% if email_settings.server_port != None %}{{ email_settings.server_port }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_encoding_ssl" {% if email_settings.encoding == "ssl" %} checked="on" {% endif %} value="ssl" name="radio_encoding">
                        <label class="custom-control-label" for="radio_encoding_ssl">SSL</label>
                      </div>                      
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_encoding_tls" {% if email_settings.encoding == "tls" %} checked="on" {% endif %} value="tls" name="radio_encoding">
                        <label class="custom-control-label" for="radio_encoding_tls">TLS</label>
                      </div>      
                      <br>
                      <br>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="set_username" value="{% if email_settings.username != None %}{{ email_settings.username }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="set_password" value="{% if email_settings.password != None %}{{ email_settings.password }}{% endif %}" />
                      </div>
                    </div>
                  </div>                                
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#email'" name="update_settings_email" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/settings/system#email'" name="test_settings_email" class="btn btn-fill btn-info pull-right">TEST</button>
                </div>
              </form>
            </div>


<!---------------------->
<!-- SETTINGS SPOTIFY -->
<!---------------------->

<section id="spotify"></section>  

<!-- success message change settings spotify -->

{% if success_message_change_settings_spotify == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Settings successfully changed</span>
  </div>
{% endif %}  

<!-- error message change settings spotify -->

{% if error_message_change_settings_spotify != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_spotify %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Spotify</h5>
              </div>            
              <form method="POST">          
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Client ID</label>
                        <input type="text" class="form-control" name="set_client_id" value="{% if spotify_settings.client_id != None %}{{ spotify_settings.client_id }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label>Client Secret</label>
                        <input type="password" class="form-control" name="set_client_secret" value="{% if spotify_settings.client_secret != None %}{{ spotify_settings.client_secret }}{% endif %}" />
                      </div>
                    </div>
                  </div>                                
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#spotify'" name="update_settings_spotify" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>


<!------------>
<!-- BACKUP -->
<!------------>

<section id="backup"></section>  

<!-- success message backup database -->

{% if success_message_backup_database != "" %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ success_message_backup_database }}</span>
  </div>
{% endif %}  

<!-- error message backupp database -->

{% if error_message_backup_database != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_backup_database }}</span>
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Backups</h5>
              </div>            
              <form method="POST">          
                <div class="card-body"> 
                  {% if list_backup_files != "No Files found" %}
                    <div class="table-responsive">
                      <table class="table tablesorter">             
                        <tbody> 
                          {% set counter = [1] %}

                          {% for entry in list_backup_files %}
                            <tr>
                              <td style="width:80%">{{ entry }}</td> 
                              <td style="width:10%">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#restore_database_dialog_{{ counter[0] }}">RESTORE</button>
                                <!-- Modal -->
                                <div class="modal fade" id="restore_database_dialog_{{ counter[0] }}">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Restore {{entry}} ?</h5>
                                      </div>          
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                        <a class="btn btn-warning" href="/settings/system/backup_database/restore/{{ entry }}#backup" role="button">RESTORE</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>       
                              </td>  
                              <td style="width:10%">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_backup_dialog_{{ counter[0] }}">DELETE</button>
                                <!-- Modal -->
                                <div class="modal fade" id="delete_backup_dialog_{{ counter[0] }}">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title">Delete {{entry}} ?</h5>
                                      </div>          
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                        <a class="btn btn-danger" href="/settings/system/backup_database/delete/{{ entry }}#backup" role="button">DELETE</a>
                                      </div>
                                    </div>
                                  </div>
                                </div>       
                              </td>
                            </tr>

                            {% if counter.append(counter.pop() + 1) %}{% endif %}

                          {% endfor %} 
                        </tbody>
                      </table>  
                    </div>
                  {% else %}
                    {{ list_backup_files }}
                  {% endif %}                  
                </div>  
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#backup'" name="backup_database" class="btn btn-fill btn-info">BACKUP DATABASE</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>    