      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/devices" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Geräte</a>                  
                  <a href="/settings/controller" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Controller</a>
                  <a href="/settings/speechcontrol" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Sprachsteuerung</a>                                       
                  <a href="/settings/users" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Benutzer</a>                  
                  <a href="/settings/system_log" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
  
                 </div>         
              </div>  
            </div>  

<!---------------->
<!--  SETTINGS  -->
<!---------------->

            <div class="card">
              <div class="card-body">
                <form method="POST">

                </form>     
              </div>
            </div>

          </div>
        </div>
      </div>   