
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-primary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/controller" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Controller</a>
                  <a href="/settings/speechcontrol" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Sprachsteuerung</a>                                    
                  <a href="/settings/users" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Benutzer</a>
                  <a href="/settings/system_log" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
                </div>           
              </div>  
            </div>  

<!-------------------->
<!-- SYSTEM CONTROL -->
<!-------------------->

<!-- message system -->

{% if message_system != "" %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    <span>{{ message_system }}</span>
  </div>
{% endif %}  

            <div class="card">          
              <form method="POST">
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/settings/system#'" name="restart_system" class="btn btn-fill btn-info">Restart</button>
                  <button type="submit" onclick="window.location.href='/settings/system#'" name="shutdown_system" class="btn btn-fill btn-info pull-right">Shutdown</button>
                </div>  
              </form>
            </div>

<!---------------------->
<!-- NETWORK SETTINGS -->
<!---------------------->

<section id="network"></section>  

<!-- success message change settings network -->

{% if success_message_change_settings_network == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert - Neustart des Systems notwendig</span>
  </div>
{% endif %}  

<!-- error message change settings network -->

{% if error_message_change_settings_network != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_network %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Netzwerk</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-1">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_lan_dhcp" {% if lan_dhcp == "True" %} checked="on" {% endif %} name="checkbox_lan_dhcp">
                            <label class="custom-control-label" for="checkbox_lan_dhcp">DHCP</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>                  
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Adresse</label>
                            {% if lan_dhcp == "True" %}
                              <br>
                              {% if lan_ip_address != None %}{{ lan_ip_address }}{% endif %}
                            {% else %} 
                              <input type="text" class="form-control" name="set_lan_ip_address" value="{% if lan_ip_address != None %}{{ lan_ip_address }}{% endif %}" />
                            {% endif %} 
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Gateway</label>
                            {% if lan_dhcp == "True" %}
                              <br>
                              {% if lan_gateway != None %}{{ lan_gateway }}{% endif %}
                            {% else %}                             
                              <input type="text" class="form-control" name="set_lan_gateway" value="{% if lan_gateway != None %}{{ lan_gateway }}{% endif %}" /> 
                            {% endif %}     
                          </div>
                        </div>                           
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#network'" name="set_lan_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>


<!-------------------->
<!-- EMAIL SETTINGS -->
<!-------------------->

<section id="email"></section>  

<!-- success message change settings email -->

{% if success_message_change_settings_email == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings email -->

{% if error_message_change_settings_email != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_email %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- test settings email -->

{% if message_test_settings_email != "" %}
  {% if message_test_settings_email != None %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span data-notify="message">{{ message_test_settings_email }}</span> 
    </div>
  {% else %} 
    <div class="alert alert-success">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      <span data-notify="message">eMail erfolgreich versendet</span> 
    </div>
  {% endif %} 
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">eMail</h5>
              </div>            
              <form method="POST">          
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Server Adresse</label>
                         <input type="text" class="form-control" name="set_server_address" value="{% if email_settings.server_address != None %}{{ email_settings.server_address }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Server Port</label>
                        <input type="text" class="form-control" name="set_server_port" value="{% if email_settings.server_port != None %}{{ email_settings.server_port }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_encoding_ssl" {% if email_settings.encoding == "ssl" %} checked="on" {% endif %} value="ssl" name="radio_encoding">
                        <label class="custom-control-label" for="radio_encoding_ssl">SSL</label>
                      </div>                      
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="radio_encoding_tls" {% if email_settings.encoding == "tls" %} checked="on" {% endif %} value="tls" name="radio_encoding">
                        <label class="custom-control-label" for="radio_encoding_tls">TLS</label>
                      </div>      
                      <br>
                      <br>
                    </div>  
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Benutzername</label>
                        <input type="text" class="form-control" name="set_username" value="{% if email_settings.username != None %}{{ email_settings.username }}{% endif %}" />
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label>Passwort</label>
                        <input type="password" class="form-control" name="set_password" value="{% if email_settings.password != None %}{{ email_settings.password }}{% endif %}" />
                      </div>
                    </div>
                  </div>                                
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#email'" name="update_email_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/settings/system#email'" name="test_email_settings" class="btn btn-fill btn-info pull-right">TEST</button>
                </div>
              </form>
            </div>


<!------------>
<!-- BACKUP -->
<!------------>

<section id="backup"></section>  

<!-- success message backup database -->

{% if success_message_backup_database != "" %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ success_message_backup_database }}</span>
  </div>
{% endif %}  

<!-- error message backupp database -->

{% if error_message_backup_database != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>{{ error_message_backup_database }}</span>
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Backups</h5>
              </div>            
              <form method="POST">          
                <div class="card-body"> 
                  {% if list_backup_files != "No Files founded" %}
                    <div class="table-responsive">
                      <table class="table tablesorter">             
                        <tbody> 
                          {% for entry in list_backup_files %}
                          <tr>
                            <td style="width:80%">{{ entry }}</td> 
                            <td style="width:10%"><a href="/settings/system/backup/restore/backup_database/{{ entry }}#backup"><font color="orange"><b>RESTORE</b></font></a></td>  
                            <td style="width:10%"><a href="/settings/system/backup/delete/backup_database/{{ entry }}#backup"><font size="5"><i class='uil uil-trash-alt'></i></font></a>
                          </tr>
                          {% endfor %} 
                        </tbody>
                      </table>  
                    </div>
                  {% else %}
                    {{ list_backup_files }}
                  {% endif %}                  
                </div>  
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/settings/system#backup'" name="backup_database" class="btn btn-fill btn-info">BACKUP DATABASE</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>    