
<script>
  var sensor_options_list_1  = '{{ device_1_input_values }}';
  var sensor_options_list_1  = sensor_options_list_1.split(",");
  var sensor_options_list_2  = '{{ device_2_input_values }}';
  var sensor_options_list_2  = sensor_options_list_2.split(",");
  var sensor_options_list_3  = '{{ device_3_input_values }}';
  var sensor_options_list_3  = sensor_options_list_3.split(",");
  var sensor_options_list_4  = '{{ device_4_input_values }}';
  var sensor_options_list_4  = sensor_options_list_4.split(",");
  var sensor_options_list_5  = '{{ device_5_input_values }}';
  var sensor_options_list_5  = sensor_options_list_5.split(",");
  var sensor_options_list_6  = '{{ device_6_input_values }}';
  var sensor_options_list_6  = sensor_options_list_6.split(",");
  var sensor_options_list_7  = '{{ device_7_input_values }}';
  var sensor_options_list_7  = sensor_options_list_7.split(",");
  var sensor_options_list_8  = '{{ device_8_input_values }}';
  var sensor_options_list_8  = sensor_options_list_8.split(",");
  var sensor_options_list_9  = '{{ device_9_input_values }}';
  var sensor_options_list_9  = sensor_options_list_9.split(",");
  var sensor_options_list_10 = '{{ device_10_input_values }}';
  var sensor_options_list_10 = sensor_options_list_10.split(",");
  var sensor_options_list_11 = '{{ device_11_input_values }}';
  var sensor_options_list_11 = sensor_options_list_11.split(",");
  var sensor_options_list_12 = '{{ device_12_input_values }}';
  var sensor_options_list_12 = sensor_options_list_12.split(",");
  var sensor_options_list_13 = '{{ device_13_input_values }}';
  var sensor_options_list_13 = sensor_options_list_13.split(",");
  var sensor_options_list_14 = '{{ device_14_input_values }}';
  var sensor_options_list_14 = sensor_options_list_14.split(",");
  var sensor_options_list_15 = '{{ device_15_input_values }}';
  var sensor_options_list_15 = sensor_options_list_15.split(",");
  var sensor_options_list_16 = '{{ device_16_input_values }}';
  var sensor_options_list_16 = sensor_options_list_16.split(",");
  var sensor_options_list_17 = '{{ device_17_input_values }}';
  var sensor_options_list_17 = sensor_options_list_17.split(",");
  var sensor_options_list_18 = '{{ device_18_input_values }}';
  var sensor_options_list_18 = sensor_options_list_18.split(",");
  var sensor_options_list_19 = '{{ device_19_input_values }}';
  var sensor_options_list_19 = sensor_options_list_19.split(",");
  var sensor_options_list_20 = '{{ device_20_input_values }}';
  var sensor_options_list_20 = sensor_options_list_20.split(",");
  var sensor_options_list_21 = '{{ device_21_input_values }}';
  var sensor_options_list_21 = sensor_options_list_21.split(",");
  var sensor_options_list_22 = '{{ device_22_input_values }}';
  var sensor_options_list_22 = sensor_options_list_22.split(",");
  var sensor_options_list_23 = '{{ device_23_input_values }}';
  var sensor_options_list_23 = sensor_options_list_23.split(",");
  var sensor_options_list_24 = '{{ device_24_input_values }}';
  var sensor_options_list_24 = sensor_options_list_24.split(",");
  var sensor_options_list_25 = '{{ device_25_input_values }}';
  var sensor_options_list_25 = sensor_options_list_25.split(",");
  var sensor_options = {};

  sensor_options['1']  = sensor_options_list_1;
  sensor_options['2']  = sensor_options_list_2;
  sensor_options['3']  = sensor_options_list_3;
  sensor_options['4']  = sensor_options_list_4;
  sensor_options['5']  = sensor_options_list_5;
  sensor_options['6']  = sensor_options_list_6;
  sensor_options['7']  = sensor_options_list_7;
  sensor_options['8']  = sensor_options_list_8;
  sensor_options['9']  = sensor_options_list_9;
  sensor_options['10'] = sensor_options_list_10;
  sensor_options['11'] = sensor_options_list_11;
  sensor_options['12'] = sensor_options_list_12;
  sensor_options['13'] = sensor_options_list_13;
  sensor_options['14'] = sensor_options_list_14;
  sensor_options['15'] = sensor_options_list_15;
  sensor_options['16'] = sensor_options_list_16;
  sensor_options['17'] = sensor_options_list_17;
  sensor_options['18'] = sensor_options_list_18;
  sensor_options['19'] = sensor_options_list_19;
  sensor_options['20'] = sensor_options_list_20;
  sensor_options['21'] = sensor_options_list_21;
  sensor_options['22'] = sensor_options_list_22;
  sensor_options['23'] = sensor_options_list_23;
  sensor_options['24'] = sensor_options_list_24;
  sensor_options['25'] = sensor_options_list_25;

  function Choose_Sensor(entry_id) {
    var device_name = "device_" + entry_id
    var sensor_list_name = "selected_sensor_" + entry_id
    var device = document.getElementById(device_name);
    var sensor_list = document.getElementById(sensor_list_name);
    var selected_sensor = device.options[device.selectedIndex].value;
    while (sensor_list.options.length) {
      sensor_list.remove(0);
    }
    var sensors = sensor_options[selected_sensor];
    if (sensors) {
      var i;
      for (i = 0; i < sensors.length; i++) {
        var sensor = new Option(sensors[i], i);
        sensor_list.options.add(sensor);
      }
    }
    $('.selectpicker').selectpicker('refresh');
  } 
</script>

<script src="/static/js/core/jquery-1.12.4.min.js"></script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    namespace  = '/socketIO';
    var socket = io(namespace);

    socket.on('zigbee2mqtt_pairing', function(msg) {
        $('#zigbee2mqtt_pairing_status').text(msg.zigbee2mqtt_pairing_status);   
    });
  });
</script>


      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-footer">    
                <div class="btn-group flex-wrap" role="group" aria-label="Basic example">
                  <a href="/settings/system" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">System</a>
                  <a href="/settings/devices" class="btn btn-primary btn-lg" role="button" aria-pressed="true">Geräte</a>                  
                  <a href="/settings/controller" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Controller</a>                                      
                  <a href="/settings/users" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Benutzer</a>                  
                  <a href="/settings/system_log" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Ereignisse</a>
  
                 </div>         
              </div>  
            </div>  

<!-- message error mqtt connection -->

{% if error_message_mqtt_connection == True %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Keine MQTT-Verbindung</span>
  </div>  
{% endif %}   

<!-- message error zigbee2mqtt connection -->

{% if error_message_zigbee2mqtt_connection == True %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Keine ZIGBEE2MQTT-Verbindung</span>
  </div>  
{% endif %}   

<!-------------------->
<!-- DEVICES TABLE  -->
<!-------------------->

<section id="table_devices"></section>    

<!-- success message change settings devices -->

{% if success_message_change_settings_devices != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings_devices %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings devices -->

{% if error_message_change_settings_devices != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_devices %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- device table -->

            <div class="card">
              <form method="POST">
                <div class="card-body">
                  <input class="form-control" id="input_table_devices" type="text" placeholder="Suche ...">
                  <br>
                  <div class="table-responsive">
                    <div style="max-height: 500px">
                      <table class="table tablesorter">
                        <thead> 
                          <td style="display:none" class="minwidth_200"></td>
                          <th scope="col" style="width:3%"></th> 
                          <th scope="col" style="width:20%" class="minwidth_200">Gerät</th>                        
                          <th scope="col" style="width:18%" class="minwidth_200">Adresse</th> 
                          <th scope="col" style="width:12%" class="minwidth_100">Modell</th>
                          <th scope="col" style="width:15%" class="minwidth_150">Gerätetyp</th> 
                          <th scope="col" style="width:15%" class="minwidth_150">Beschreibung</th>                                             
                          <th scope="col" style="width:10%" class="minwidth_100">Letzter Kontakt</th>     
                          <th scope="col" style="width:5%"></th>                                                                                
                        </thead>
                        <tbody id="table_devices">
                          {% for entry in list_devices %}
                          <tr>  
                            <td style="display:none">{{ entry.name }}</td>
                            <td>
                              <a href="/settings/devices/position/up/{{ entry.id }}#table"><i class="tim-icons icon-minimal-up"></i></a>
                              <a href="/settings/devices/position/down/{{ entry.id }}#table"><i class="tim-icons icon-minimal-down"></i></a>  
                            </td>        
                            <td>                     
                              <div class="row justify-content-md-left">
                                <div class="col-sm-10">                                    
                                  <input type="text" class="form-control" name="set_name_{{ entry.id }}" value="{% if entry.name != None %}{{ entry.name }}{% endif %}" /> 
                                </div>
                              </div>
                            </td>      
                            <td>{{ entry.ieeeAddr }}</td>    
                            <td>{{ entry.model }}</td>   
                            
                            {% if entry.gateway == mqtt %}
                              <td><font color="#ccccff">{{ entry.device_type }}</font></td>
                            {% else %}
                              <td><font color="#ffffcc">{{ entry.device_type }}</font></td>
                            {% endif %}

                            <td>{{ entry.description }}</td>                            
                            <td>{{ entry.last_contact }}</td>                       
                            <td>
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_dialog_{{entry.id}}">DELETE</button>
                              <!-- Modal -->
                              <div class="modal fade" id="delete_dialog_{{entry.id}}">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title">Delete {{entry.name}} ?</h5>
                                    </div>          
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                                      <a class="btn btn-danger" href="/settings/devices/delete/{{ entry.ieeeAddr }}#table" role="button">DELETE</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>                                 
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>            
                <div class="card-footer">   
                  <br>               
                  <button type="submit" onclick="window.location.href='/settings/devices#table_devices'" name="save_device_settings" class="btn btn-fill btn-primary">SAVE</button>
                  <button type="submit" onclick="window.location.href='/settings/devices#table_devices'" name="update_devices" class="btn btn-fill btn-info pull-right">UPDATE</button>
                </div>
              </form>
            </div>


<!-------------------------->
<!--  DEVICE EXCEPTIONS   -->
<!-------------------------->

<section id="table_exceptions"></section>    

<!-- success message change settings exceptions -->

{% if success_message_change_settings_exceptions == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message device exceptions -->                    

{% if error_message_device_exceptions != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_device_exceptions %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>    
{% endif %}


            <div class="card">
              <div class="card-header">
                <h5 class="title">Ausnahmen</h5>
              </div>            
              <form method="POST">
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table tablesorter">
                      <tbody> 
                                
                        {% for entry in list_exception_devices %}
                        
                          <tr style="border-style:hidden;">
                            <td style="width:20%" class="minwidth_200"> {{entry.name}} </td>  
                            <td style="width:70%" class="minwidth_200">      
                              <div class="row justify-content-md-center">
                                <div class="col-sm-6">   
                                  <select id="device_{{ entry.id }}" class="form-control" onchange="Choose_Sensor('{{ entry.id }}')" name="set_exception_option_{{ entry.id }}" style="background-color:#27293D"> 
                                    {% if entry.exception_option != "None" %}
                                      <option value = "{{ entry.exception_option }}" > {{ entry.exception_option }} </option>
                                    {% else %}   
                                      <option value = "None" > Option </option> 
                                    {% endif %}    
                                    <option disabled>------------------</option>
                                      {% for each in dropdown_list_exception_options %}
                                        <option value = {{each}} > {{each}} </option>
                                      {% endfor %}                                                        
                                      {% for each in list_exception_sensors %}
                                        <option value = {{ each.id }} > {{ each.name }} </option>
                                      {% endfor %}    
                                    <option disabled>------------------</option>
                                    <option value= "None" > None </option> 
                                  </select>
                                </div>         
                                                
                                {% if entry.exception_option != "None" %} 

                                  <!-- exception option ip_address -->         
                                  {% if entry.exception_option == "IP-Address" %}         
                                    <div class="col-sm-6"> 
                                      <input type="text" class="form-control" name="set_exception_value_1_{{ entry.id }}"
                                        value = {% if entry.exception_value_1 != None and entry.exception_value_1 != "None" %}"{{ entry.exception_value_1 }}"{% else %}""{% endif %} />
                                    </div> 
                                  {% endif %}      
                              
                                  <!-- exception option sensor --> 
                                  {% if entry.exception_sensor_ieeeAddr != "None" %}                                  
                                    <div class="col-sm-6"> 
                                      <select id="selected_sensor_{{ entry.id }}" class="form-control" name="set_exception_value_1_{{ entry.id }}" style="background-color:#27293D"> 
                                        {% if entry.exception_value_1 != "None" %}
                                          <option value = "{{ entry.exception_value_1 }}" > {{ entry.exception_value_1 }} </option>
                                        {% else %}   
                                          <option value = "None" > Sensor </option>   
                                        {% endif %}                 
                                        <option disabled>------------------</option>

                                        <!-- values from former device --> 
                                        {% if entry.exception_sensor_input_values != None %}
                                          {% for each in entry.exception_sensor_input_values.split(',') %}
                                            <option value= "{{ each }}" > {{ each }} </option>
                                          {% endfor %}     
                                        {% endif %} 

                                        <!-- values from javascript --> 
                                        {% if entry.input_values != "None" %}
                                          {% for each in entry.input_values.split(',') %}
                                            <option value= "{{ each }}" > {{ each }} </option>
                                          {% endfor %}   
                                        {% endif %}       
                                      </select>
                                    </div>        
                                  {% endif %} 

                                {% else %}  
                                  <div class="col-sm-6"></div>                                    
                                {% endif %} 
     
                            </td>  
                            <td style="width:10%"></td>  
                          </tr>
                        
                          <!-- second row --> 
                          
                          {% if entry.exception_option != "None" %}      
                            <tr style="border-style:hidden;">                  
                              <td></td>
                              <td>
                              
                              <!-- exception option command --> 
                              <div class="row justify-content-md-center">
                                <div class="col-sm-6"> 
                                  <select class="form-control" name="set_exception_setting_string_{{ entry.id }}" style="background-color:#27293D"> 
                                    {% if entry.exception_setting_string != "None" %}
                                      <option value = "{{ entry.exception_setting_string }}" > {{ entry.exception_setting_string }} </option>
                                    {% else %}   
                                      <option value = "None" > Befehl </option> 
                                    {% endif %}                           
                                    <option disabled>------------------</option>
                                    {% if entry.commands != None %}  
                                      {% for each in entry.commands.split(' ') %}
                                        <option value= "{{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }}" > {{ each | replace('"', '') | replace('{', '') | replace('}', '') | replace(':', ': ') | replace(',', ', ') }} </option>
                                      {% endfor %}  
                                    {% endif %}          
                                  </select>
                                </div> 

                                <!-- exception option operator --> 
                                {% if entry.exception_sensor_ieeeAddr != "None" %} 
                                  <div class="col-sm-3"> 
                                    <select class="form-control" name="set_exception_value_2_{{ entry.id }}" style="background-color:#27293D"> 
                                      {% if entry.exception_value_2 != "None" %}
                                        <option value = "{{ entry.exception_value_2 }}" > {{ entry.exception_value_2 }} </option>
                                      {% else %}   
                                        <option value = "None" > Operator </option>   
                                      {% endif %}                       
                                      <option disabled>---------</option>
                                      {% for each in dropdown_list_operators %}
                                        <option value= "{{ each }}" > {{ each }} </option>
                                      {% endfor %}          
                                    </select>
                                  </div>                   
                                  <div class="col-sm-3"> 
                                    <input type="text" class="form-control" name="set_exception_value_3_{{ entry.id }}"
                                    value = {% if entry.exception_value_3 != None and entry.exception_value_3 != "None" %}"{{ entry.exception_value_3 }}"{% else %}""{% endif %} />
                                  </div>  

                                {% else %}  
                                  <div class="col-sm-6"></div>  
                                {% endif %}   
                              </div>
                              <td></td>
                            </tr>    

                          {% endif %}  

                          <tr>
                            <td></td>
                            <td></td> 
                            <td></td>                        
                          </tr>
                           <tr>
                            <td></td>
                            <td></td> 
                            <td></td>                        
                          </tr>

                        {% endfor %}  
                                
                      </tbody>
                    </table> 
                  </div>
                </div>            
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/settings/devices#table_exceptions'" name="save_device_exceptions" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>

<!-------------->
<!--  ZIGBEE  -->
<!-------------->

{% if system_services.zigbee2mqtt_active == "True" %}

  <section id="zigbee"></section>    

  <!-- success message zigbee pairing -->

  {% if success_message_zigbee_pairing != [] %}
    <div class="alert alert-success">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      {% for success in success_message_zigbee_pairing %}
        <span data-notify="message">{{ success }}</span>
      {% endfor %}
    </div>
  {% endif %}  

  <!-- error message zigbee pairing --> 

  {% if error_message_zigbee_pairing != [] %}
    <div class="alert alert-danger">
      <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
        <i class="tim-icons icon-simple-remove"></i>
      </button>
      {% for error in error_message_zigbee_pairing %}
        <span data-notify="message">{{ error }}</span>
      {% endfor %}
    </div>
  {% endif %}   

              <div class="card">
                <div class="card-header">
                  <h5 class="title">ZigBee Pairing</h5>
                </div>            
                <form method="POST"> 
                  <div class="card-body">        
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="radio_zigbee2mqtt_pairing_true" {% if zigbee2mqtt_pairing == "True" %} checked="on" {% endif %} value="True" name="radio_zigbee2mqtt_pairing">
                      <label class="custom-control-label" for="radio_zigbee2mqtt_pairing_true">Pairing aktiviert</label>
                    </div>     
                    <br>  
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" class="custom-control-input" id="radio_zigbee2mqtt_pairing_false" {% if zigbee2mqtt_pairing == "False" %} checked="on" {% endif %} value="False" name="radio_zigbee2mqtt_pairing">
                      <label class="custom-control-label" for="radio_zigbee2mqtt_pairing_false">Pairing deaktiviert</label>
                    </div> 
                    <br>
                    <br>
                    <div id="zigbee2mqtt_pairing_status"></div>                     
                  </div>   
                  <div class="card-footer">                  
                    <button type="submit" onclick="window.location.href='/settings/devices#zigbee'" name="set_zigbee_pairing" class="btn btn-fill btn-primary">SAVE</button>
                  </div>                
                </form>
              </div>

              <div class="card">       
                <form method="POST"> 
                  <div class="card-body">                                
                    <a href="/settings/devices/topology/zigbee_topology.png?time={{ timestamp }}"><font color="lightblue"><b>DOWNLOAD ZIGBEE TOPOLOGY</b></font></a>
                  </div>
                  <div class="card-footer">                  
                    <button type="submit" onclick="window.location.href='/settings/devices#zigbee'" name="update_zigbee_topology" class="btn btn-fill btn-info">UPDATE ZIGBEE TOPOLOGY</button>
                  </div>                
                </form>
              </div>                
              
{% endif %} 

<!---------------------->
<!-- DEVICES LOGFILE  -->
<!---------------------->

<section id="logfile"></section>    

<!-- success message logfile -->

{% if success_message_logfile == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>DEVICE LOG erfolgreich zurückgesetzt</span>
  </div>
{% endif %}  

<!-- error message logfile --> 

{% if error_message_logfile != "" %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {{ error_message_logfile }}
  </div>
{% endif %}   

            <div class="card">
              <div class="card-body">
                <form method="POST"> 
                  <a class="btn btn-default pull-left" href="/settings/devices/download/log_devices.csv?time={{ timestamp }}" role="button">DOWNLOAD DEVICE LOG</a>                

                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-fill btn-danger pull-right" data-toggle="modal" data-target="#reset_dialog">RESET DEVICE LOG</button>
                  <!-- Modal -->
                  <div class="modal fade" id="reset_dialog">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Reset Device Log ?</h5>
                        </div>          
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
                          <button type="submit" onclick="window.location.href='/settings/devices#logfile'" name="reset_logfile" class="btn btn-fill btn-danger pull-right">RESET DEVICE LOG</button>
                        </div>
                      </div>
                    </div>
                  </div>    

                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>          