
      <div class="content">
        <div class="row">
          <div class="col-md-12">

<!-- general -->

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">System</h4>
              </div>            
              <div class="card-body">
                <form method="POST">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-info">
                        CPU Temperatur = {{ cpu_temperature }}
                        <br>
                        <br>
                        LAN-Verbindung
                        <br>
                        {{ lan_ip_address }} | 
                        {{ lan_gateway }}
                        <br>
                        <br>
                        WLAN-Verbindung
                        <br>
                        {{ wlan_ip_address }} | 
                        {{ wlan_gateway }}
                      </p>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/system.html#'" name="restart_system" class="btn btn-fill btn-primary">RASPI neustarten</button>
                  <button type="submit" onclick="window.location.href='/system.html#'" name="shutdown_system" class="btn btn-fill btn-primary pull-right">RASPI herunterfahren</button>
                </div>  
              </form>
            </div>

<section id="change_settings"></section>  

<!-- success message change settings -->

{% if success_message_change_settings == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- lan settings -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">LAN | Einstellungen</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-1">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_lan_dhcp" {% if lan_dhcp == "True" %} checked="on" {% endif %} name="checkbox_lan_dhcp">
                            <label class="custom-control-label" for="checkbox_lan_dhcp">DHCP</label>   
                          </div>  
                        </div>                         
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN | Adresse</label>
                            <input type="text" class="form-control" name="set_lan_ip_address" value="{% if lan_ip_address != None %}{{ lan_ip_address }}{% endif %}" />
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN | Gateway</label>
                            <input type="text" class="form-control" name="set_lan_gateway" value="{% if lan_gateway != None %}{{ lan_gateway }}{% endif %}" />      
                          </div>
                        </div>                           
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/system.html#change_settings'" name="add_user" class="btn btn-fill btn-primary">Speichern</button>
                </div>
              </form>
            </div>

<!-- wlan settings -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">WLAN | Einstellungen</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">        
                        <div class="col-sm-1">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_wlan_dhcp" {% if lan_dhcp == "True" %} checked="on" {% endif %} name="checkbox_wlan_dhcp">
                            <label class="custom-control-label" for="checkbox_wlan_dhcp">DHCP</label>   
                          </div>  
                        </div> 
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>WLAN | Adresse</label>
                            <input type="text" class="form-control" name="set_wlan_ip_address" value="{% if wlan_ip_address != None %}{{ wlan_ip_address }}{% endif %}" />
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>WLAN | Gateway</label>
                            <input type="text" class="form-control" name="set_wlan_gateway" value="{% if wlan_gateway != None %}{{ wlan_gateway }}{% endif %}" />      
                          </div>
                        </div>       
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>WLAN | SSID</label>
                            <input type="text" class="form-control" name="set_wlan_ssid" value="{% if wlan_ssid != None %}{{ wlan_ssid }}{% endif %}" />
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>WLAN | Passwort</label>
                            <input type="password" class="form-control" name="set_wlan_password" value="{% if wlan_password != None %}{{ wlan_password }}{% endif %}" />    
                          </div>
                        </div>                                                
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/system.html#change_settings'" name="add_user" class="btn btn-fill btn-primary">Speichern</button>
                </div>
              </form>
            </div>

<!-- other settings -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">Hosting | Einstellungen</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-1">                       
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="radio_default_interface_lan" {% if default_interface == "lan" %} checked="on" {% endif %} value="lan" name="radio_default_interface">
                            <label class="custom-control-label" for="radio_default_interface_lan">LAN</label>
                          </div>     
                          <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="radio_default_interface_wlan" {% if default_interface == "wlan" %} checked="on" {% endif %} value="lan" name="radio_default_interface">
                            <label class="custom-control-label" for="radio_default_interface_wlan">WLAN</label>
                          </div>       
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>Port</label>
                            <input type="text" class="form-control" name="set_port" value="{% if port != None %}{{ port }}{% endif %}" />     
                          </div>
                        </div>                                                   
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/system.html#change_settings'" name="add_user" class="btn btn-fill btn-primary">Speichern</button>
                </div>
              </form>
            </div>



          </div>
        </div>
      </div>    