
      <div class="content">
        <div class="row">
          <div class="col-md-12">

<!-- general -->

            <div class="card">
              <div class="card-header">
                <h4 class="card-title">System</h4>
              </div>            
              <div class="card-body">
                <form method="POST">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-info">
                        CPU Temperatur = {{ cpu_temperature }}
                      </p>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">                  
                  <button type="submit" onclick="window.location.href='/system#'" name="restart_system" class="btn btn-fill btn-info">Restart</button>
                  <button type="submit" onclick="window.location.href='/system#'" name="shutdown_system" class="btn btn-fill btn-info pull-right">Shutdown</button>
                </div>  
              </form>
            </div>

<section id="lan_settings"></section>  

<!-- success message change settings -->

{% if success_message_change_settings == True %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span>Einstellungen erfolgreich geändert</span>
  </div>
{% endif %}  

<!-- error message change settings -->

{% if error_message_change_settings != [] %}
  <div class="alert alert-info alert-with-icon" data-notify="container">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    <span data-notify="icon" class="tim-icons icon-bell-55"></span>
    {% for error in error_message_change_settings %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- lan settings -->

            <div class="card">
              <div class="card-header">
                <h5 class="title">Netzwerk</h5>
              </div>            
              <form method="POST">        
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="row justify-content-md-left">
                        <div class="col-sm-1">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_lan_dhcp" {% if lan_dhcp == "True" %} checked="on" {% endif %} name="checkbox_lan_dhcp">
                            <label class="custom-control-label" for="checkbox_lan_dhcp">DHCP</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>                  
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Adresse</label>
                            {% if lan_dhcp == "True" %}
                              <br>
                              {% if lan_ip_address != None %}{{ lan_ip_address }}{% endif %}
                            {% else %} 
                              <input type="text" class="form-control" name="set_lan_ip_address" value="{% if lan_ip_address != None %}{{ lan_ip_address }}{% endif %}" />
                            {% endif %} 
                          </div>
                        </div>           
                        <div class="col-sm-2">                       
                          <div class="form-group">
                            <label>LAN Gateway</label>
                            {% if lan_dhcp == "True" %}
                              <br>
                              {% if lan_gateway != None %}{{ lan_gateway }}{% endif %}
                            {% else %}                             
                              <input type="text" class="form-control" name="set_lan_gateway" value="{% if lan_gateway != None %}{{ lan_gateway }}{% endif %}" /> 
                            {% endif %}     
                          </div>
                        </div>                           
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/system#change_lan_settings'" name="set_lan_settings" class="btn btn-fill btn-primary">Save</button>
                </div>
              </form>
            </div>

<!-- backup -->

<section id="backup"></section>  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Sicherungen</h5>
              </div>            
              <form method="POST">          
                <div class="card-body"> 
                  <div class="table-responsive">
                    <table class="table tablesorter">             
                      <tbody> 
                        {% for entry in list_backup_files %}
                        <tr>
                          <td>{{ entry }}</td> 
                          <td><a href="/system/backup/restore/backup_database/{{ entry }}#database_backup"><font color="orange"><b>RESTORE</b></font></a></td>  
                          <td><a href="/system/backup/delete/backup_database/{{ entry }}#database_backup"><font size="5"><i class="tim-icons icon-trash-simple"></i></font></a>
                        </tr>
                        {% endfor %} 
                      </tbody>
                    </table>  
                  </div>
                </div>  
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/system#backup'" name="database_save" class="btn btn-fill btn-info">SAVE DATABASE</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>    