
      <div class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="card ">
              <div class="card-header">
                <h4 class="card-title"><b>Aufgaben</b></h4>
              </div>
            </div>

<!--------------------->
<!-- PLANTS SETTINGS -->
<!--------------------->

<!-- success message change settings plants -->

{% if success_message_change_settings_plants != [] %}
  <div class="alert alert-success">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for success in success_message_change_settings_plants %}
      <span data-notify="message">{{ success }}</span>
    {% endfor %}
  </div>
{% endif %}  

<!-- error message change settings plants -->

{% if error_message_change_settings_plants != [] %}
  <div class="alert alert-danger">
    <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
      <i class="tim-icons icon-simple-remove"></i>
    </button>
    {% for error in error_message_change_settings_plants %}
      <span data-notify="message">{{ error }}</span>
    {% endfor %}
  </div>
{% endif %}  

            <div class="card">
              <div class="card-header">
                <h5 class="title">Pflanzen gießen</h5>
              </div>   
              <form method="POST">         
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-12">
                      <p class="text-primary">Gruppe 1</p>
                      <div class="row justify-content-md-left"> 
                        <div class="col-sm-3">                       
                          <div class="form-group">
                            <input type="text" class="form-control" name="set_time_plants_group_1" placeholder="Stunde : Minute" 
                             value="{% if plants_group_1.hour != None and plants_group_1.minute != None %}{{ plants_group_1.hour }}:{{ plants_group_1.minute }}{% endif %}" /> 
                          </div>
                        </div>
                        <div class="col-sm-3">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_pause_plants_group_1" {% if plants_group_1.pause == "True" %} checked="on" {% endif %} name="checkbox_pause_plants_group_1">
                            <label class="custom-control-label" for="checkbox_pause_plants_group_1">Pausiert</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>   
                      </div>
                      <p class="text-primary">Gruppe 2</p>
                      <div class="row justify-content-md-left"> 
                        <div class="col-sm-3">                       
                          <div class="form-group">
                            <input type="text" class="form-control" name="set_time_plants_group_2" placeholder="Stunde : Minute"
                             value="{% if plants_group_2.hour != None and plants_group_2.minute != None %}{{ plants_group_2.hour }}:{{ plants_group_2.minute }}{% endif %}" /> 
                          </div>
                        </div>
                        <div class="col-sm-3">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_pause_plants_group_2" {% if plants_group_2.pause == "True" %} checked="on" {% endif %} name="checkbox_pause_plants_group_2">
                            <label class="custom-control-label" for="checkbox_pause_plants_group_2">Pausiert</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>   
                      </div>   
                      <p class="text-primary">Gruppe 3</p>                   
                      <div class="row justify-content-md-left">
                        <div class="col-sm-3">                       
                          <div class="form-group">
                            <input type="text" class="form-control" name="set_time_plants_group_3" placeholder="Stunde : Minute" 
                             value="{% if plants_group_3.hour != None and plants_group_3.minute != None %}{{ plants_group_3.hour }}:{{ plants_group_3.minute }}{% endif %}" /> 
                          </div>
                        </div>
                        <div class="col-sm-3">                                                     
                          <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox_pause_plants_group_3" {% if plants_group_3.pause == "True" %} checked="on" {% endif %} name="checkbox_pause_plants_group_3">
                            <label class="custom-control-label" for="checkbox_pause_plants_group_3">Pausiert</label>   
                            <br>
                            <br>                             
                          </div>  
                        </div>                                               
                      </div>
                    </div>
                  </div>                  
                </div>
                <div class="card-footer">
                  <button type="submit" onclick="window.location.href='/tasks#plants'" name="update_plants_settings" class="btn btn-fill btn-primary">SAVE</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div>          