#volume_slider_dashboard_music {
	width: 150px;
}
#volume_slider_dashboard_music .slider-handle {
	background: black;
}

#brightness_slider_led_dashboard_1 {
	width: 150px;
}
#brightness_slider_led_dashboard_1 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_2 {
	width: 150px;
}
#brightness_slider_led_dashboard_2 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_3 {
	width: 150px;
}
#brightness_slider_led_dashboard_3 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_4 {
	width: 150px;
}
#brightness_slider_led_dashboard_4 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_5 {
	width: 150px;
}
#brightness_slider_led_dashboard_5 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_6 {
	width: 150px;
}
#brightness_slider_led_dashboard_6 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_7 {
	width: 150px;
}
#brightness_slider_led_dashboard_7 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_8 {
	width: 150px;
}
#brightness_slider_led_dashboard_8 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_9 {
	width: 150px;
}
#brightness_slider_led_dashboard_9 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_10 {
	width: 150px;
}
#brightness_slider_led_dashboard_10 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_11 {
	width: 150px;
}
#brightness_slider_led_dashboard_11 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_12 {
	width: 150px;
}
#brightness_slider_led_dashboard_12 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_13 {
	width: 150px;
}
#brightness_slider_led_dashboard_13 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_14 {
	width: 150px;
}
#brightness_slider_led_dashboard_14 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_15 {
	width: 150px;
}
#brightness_slider_led_dashboard_15 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_16 {
	width: 150px;
}
#brightness_slider_led_dashboard_16 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_17 {
	width: 150px;
}
#brightness_slider_led_dashboard_17 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_18 {
	width: 150px;
}
#brightness_slider_led_dashboard_18 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_19 {
	width: 150px;
}
#brightness_slider_led_dashboard_19 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_20 {
	width: 150px;
}
#brightness_slider_led_dashboard_20 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_21 {
	width: 150px;
}
#brightness_slider_led_dashboard_21 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_22 {
	width: 150px;
}
#brightness_slider_led_dashboard_23 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_24 {
	width: 150px;
}
#brightness_slider_led_dashboard_24 .slider-handle {
	background: black;
}
#brightness_slider_led_dashboard_25 {
	width: 150px;
}
#brightness_slider_led_dashboard_25 .slider-handle {
	background: black;
}




#brightness_slider_led_scenes_1_1 {
	width: 180px;
}
#brightness_slider_led_scenes_1_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_1 {
	width: 180px;
}
#brightness_slider_led_scenes_2_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_1 {
	width: 180px;
}
#brightness_slider_led_scenes_3_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_1 {
	width: 180px;
}
#brightness_slider_led_scenes_4_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_1 {
	width: 180px;
}
#brightness_slider_led_scenes_5_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_1 {
	width: 180px;
}
#brightness_slider_led_scenes_6_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_1 {
	width: 180px;
}
#brightness_slider_led_scenes_7_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_1 {
	width: 180px;
}
#brightness_slider_led_scenes_8_1 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_1 {
	width: 180px;
}
#brightness_slider_led_scenes_9_1 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_2 {
	width: 180px;
}
#brightness_slider_led_scenes_1_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_2 {
	width: 180px;
}
#brightness_slider_led_scenes_2_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_2 {
	width: 180px;
}
#brightness_slider_led_scenes_3_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_2 {
	width: 180px;
}
#brightness_slider_led_scenes_4_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_2 {
	width: 180px;
}
#brightness_slider_led_scenes_5_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_2 {
	width: 180px;
}
#brightness_slider_led_scenes_6_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_2 {
	width: 180px;
}
#brightness_slider_led_scenes_7_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_2 {
	width: 180px;
}
#brightness_slider_led_scenes_8_2 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_2 {
	width: 180px;
}
#brightness_slider_led_scenes_9_2 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_3 {
	width: 180px;
}
#brightness_slider_led_scenes_1_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_3 {
	width: 180px;
}
#brightness_slider_led_scenes_2_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_3 {
	width: 180px;
}
#brightness_slider_led_scenes_3_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_3 {
	width: 180px;
}
#brightness_slider_led_scenes_4_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_3 {
	width: 180px;
}
#brightness_slider_led_scenes_5_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_3 {
	width: 180px;
}
#brightness_slider_led_scenes_6_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_3 {
	width: 180px;
}
#brightness_slider_led_scenes_7_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_3 {
	width: 180px;
}
#brightness_slider_led_scenes_8_3 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_3 {
	width: 180px;
}
#brightness_slider_led_scenes_9_3 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_4 {
	width: 180px;
}
#brightness_slider_led_scenes_1_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_4 {
	width: 180px;
}
#brightness_slider_led_scenes_2_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_4 {
	width: 180px;
}
#brightness_slider_led_scenes_3_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_4 {
	width: 180px;
}
#brightness_slider_led_scenes_4_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_4 {
	width: 180px;
}
#brightness_slider_led_scenes_5_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_4 {
	width: 180px;
}
#brightness_slider_led_scenes_6_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_4 {
	width: 180px;
}
#brightness_slider_led_scenes_7_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_4 {
	width: 180px;
}
#brightness_slider_led_scenes_8_4 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_4 {
	width: 180px;
}
#brightness_slider_led_scenes_9_4 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_5 {
	width: 180px;
}
#brightness_slider_led_scenes_1_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_5 {
	width: 180px;
}
#brightness_slider_led_scenes_2_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_5 {
	width: 180px;
}
#brightness_slider_led_scenes_3_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_5 {
	width: 180px;
}
#brightness_slider_led_scenes_4_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_5 {
	width: 180px;
}
#brightness_slider_led_scenes_5_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_5 {
	width: 180px;
}
#brightness_slider_led_scenes_6_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_5 {
	width: 180px;
}
#brightness_slider_led_scenes_7_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_5 {
	width: 180px;
}
#brightness_slider_led_scenes_8_5 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_5 {
	width: 180px;
}
#brightness_slider_led_scenes_9_5 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_6 {
	width: 180px;
}
#brightness_slider_led_scenes_1_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_6 {
	width: 180px;
}
#brightness_slider_led_scenes_2_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_6 {
	width: 180px;
}
#brightness_slider_led_scenes_3_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_6 {
	width: 180px;
}
#brightness_slider_led_scenes_4_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_6 {
	width: 180px;
}
#brightness_slider_led_scenes_5_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_6 {
	width: 180px;
}
#brightness_slider_led_scenes_6_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_6 {
	width: 180px;
}
#brightness_slider_led_scenes_7_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_6 {
	width: 180px;
}
#brightness_slider_led_scenes_8_6 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_6 {
	width: 180px;
}
#brightness_slider_led_scenes_9_6 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_7 {
	width: 180px;
}
#brightness_slider_led_scenes_1_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_7 {
	width: 180px;
}
#brightness_slider_led_scenes_2_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_7 {
	width: 180px;
}
#brightness_slider_led_scenes_3_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_7 {
	width: 180px;
}
#brightness_slider_led_scenes_4_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_7 {
	width: 180px;
}
#brightness_slider_led_scenes_5_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_7 {
	width: 180px;
}
#brightness_slider_led_scenes_6_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_7 {
	width: 180px;
}
#brightness_slider_led_scenes_7_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_7 {
	width: 180px;
}
#brightness_slider_led_scenes_8_7 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_7 {
	width: 180px;
}
#brightness_slider_led_scenes_9_7 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_8 {
	width: 180px;
}
#brightness_slider_led_scenes_1_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_8 {
	width: 180px;
}
#brightness_slider_led_scenes_2_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_8 {
	width: 180px;
}
#brightness_slider_led_scenes_3_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_8 {
	width: 180px;
}
#brightness_slider_led_scenes_4_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_8 {
	width: 180px;
}
#brightness_slider_led_scenes_5_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_8 {
	width: 180px;
}
#brightness_slider_led_scenes_6_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_8 {
	width: 180px;
}
#brightness_slider_led_scenes_7_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_8 {
	width: 180px;
}
#brightness_slider_led_scenes_8_8 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_8 {
	width: 180px;
}
#brightness_slider_led_scenes_9_8 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_9 {
	width: 180px;
}
#brightness_slider_led_scenes_1_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_9 {
	width: 180px;
}
#brightness_slider_led_scenes_2_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_9 {
	width: 180px;
}
#brightness_slider_led_scenes_3_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_9 {
	width: 180px;
}
#brightness_slider_led_scenes_4_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_9 {
	width: 180px;
}
#brightness_slider_led_scenes_5_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_9 {
	width: 180px;
}
#brightness_slider_led_scenes_6_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_9 {
	width: 180px;
}
#brightness_slider_led_scenes_7_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_9 {
	width: 180px;
}
#brightness_slider_led_scenes_8_9 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_9 {
	width: 180px;
}
#brightness_slider_led_scenes_9_9 .slider-handle {
	background: black;
}

#brightness_slider_led_scenes_1_10 {
	width: 180px;
}
#brightness_slider_led_scenes_1_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_2_10 {
	width: 180px;
}
#brightness_slider_led_scenes_2_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_3_10 {
	width: 180px;
}
#brightness_slider_led_scenes_3_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_4_10 {
	width: 180px;
}
#brightness_slider_led_scenes_4_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_5_10 {
	width: 180px;
}
#brightness_slider_led_scenes_5_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_6_10 {
	width: 180px;
}
#brightness_slider_led_scenes_6_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_7_10 {
	width: 180px;
}
#brightness_slider_led_scenes_7_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_8_10 {
	width: 180px;
}
#brightness_slider_led_scenes_8_10 .slider-handle {
	background: black;
}
#brightness_slider_led_scenes_9_10 {
	width: 180px;
}
#brightness_slider_led_scenes_9_10 .slider-handle {
	background: black;
}


#volume_slider_music_player {
	width: 200px;
}
#volume_slider_music_player .slider-handle {
	background: black;
}
#volume_slider_music_playlist {
	width: 200px;
}
#volume_slider_music_playlist .slider-handle {
	background: black;
}