#volume_slider_dashboard_music {
	width: 150px;
}
#volume_slider_dashboard_music .slider-handle {
	background: black;
}
#volume_slider_dashboard_music_mobile {
	width: 300px;
}
#volume_slider_dashboard_music_mobile .slider-handle {
	background: black;
}

#brightness_slider_lighting_group_dashboard_1 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_2 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_3 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_4 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_5 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_6 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_7 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_8 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_9 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_10 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_11 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_12 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_13 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_14 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_15 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_16 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_17 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_18 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_19 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_20 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_21 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_21 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_22 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_23 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_24 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_24 .slider-handle {
	background: black;
}
#brightness_slider_lighting_group_dashboard_25 {
	width: 150px;
}
#brightness_slider_lighting_group_dashboard_25 .slider-handle {
	background: black;
}




#brightness_slider_lighting_scenes_1_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_1 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_2 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_3 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_4 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_5 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_6 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_7 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_8 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_9 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_10 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_11 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_12 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_13 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_14 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_15 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_16 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_17 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_18 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_19 .slider-handle {
	background: black;
}

#brightness_slider_lighting_scenes_1_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_1_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_2_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_2_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_3_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_3_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_4_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_4_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_5_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_5_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_6_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_6_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_7_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_7_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_8_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_8_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_9_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_9_20 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_1 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_1 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_2 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_2 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_3 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_3 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_4 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_4 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_5 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_5 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_6 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_6 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_7 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_7 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_8 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_8 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_9 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_9 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_10 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_10 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_11 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_11 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_12 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_12 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_13 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_13 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_14 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_14 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_15 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_15 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_16 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_16 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_17 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_17 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_18 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_18 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_19 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_19 .slider-handle {
	background: black;
}
#brightness_slider_lighting_scenes_test_setting_20 {
	width: 180px;
}
#brightness_slider_lighting_scenes_test_setting_20 .slider-handle {
	background: black;
}


#volume_slider_music_player {
	width: 200px;
}
#volume_slider_music_player .slider-handle {
	background: black;
}
#volume_slider_music_player_mobile {
	width: 300px;
}
#volume_slider_music_player_mobile .slider-handle {
	background: black;
}
#volume_slider_music_default {
	width: 200px;
}
#volume_slider_music_default .slider-handle {
	background: black;
}
#volume_slider_music_playlist {
	width: 200px;
}
#volume_slider_music_playlist .slider-handle {
	background: black;
}