
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">

          {% if data.navigation == "dashboard" %}
            <li class="active ">
          {% else %} 
            <li>
          {% endif %} 
            <a href="/dashboard">
              <i class='uil uil-analytics'></i>
              <p><font size="2">Dashboard</font></p>
            </a>
          </li>

          {% if current_user.role == "user" or current_user.role == "administrator" %}

            {% if data.navigation == "scheduler" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/scheduler">
                <i class='uil uil-calendar-alt'></i>
                <p><font size="2">Scheduler</font></p>
              </a>
            </li>  

            {% if data.navigation == "programs" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/programs">
                <i class='uil uil-process'></i>
                <p><font size="2">Programs</font></p>
              </a>
            </li>            

            {% if data.navigation == "lighting" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/lighting/scenes">
                <i class='uil uil-lightbulb-alt'></i>
                <p><font size="2">Lighting</font></p>
              </a>
            </li>  

            {% if data.navigation == "cameras" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/cameras">
                <i class='uil uil-video'></i>
                <p><font size="2">Cameras</font></p>
              </a>
            </li>  

            {% if data.navigation == "music" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/music">
                <i class='uil uil-music'></i>
                <p><font size="2">Music</font></p>
              </a>
            </li>  

            {% if data.navigation == "sensordata" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/sensordata/jobs">
                <i class='uil uil-database-alt'></i>
                <p><font size="2">Sensordata</font></p>
              </a>
            </li>  

          {% endif %}

          {% if current_user.role == "administrator" %}         

            {% if data.navigation == "settings" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/settings/system">
                <i class='uil uil-cog'></i>
                <p><font size="2">Settings</font></p>
              </a>
            </li>  

          {% endif %}

          {% if current_user.role == "user" or current_user.role == "administrator" %}

            <li>
              <a href="/about">
                <i class='uil uil-info-circle'></i>
                <p><font size="2">About</font></p>
              </a>
            </li>

          {% endif %}

          {% if current_user.is_authenticated %}

            <li>
              <a href={{ url_for('logout') }}>
                <i class='uil uil-exit' style="color:#cc0000"></i>
                <p><font color="#cc0000" size="2"><strong>Logout</strong></font></p>
              </a>
            </li>
          {% endif %}

          <!-- dummies for correct scrolling -->
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    

        </ul>
      </div>
    </div>

