
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">

          <ul class="nav_title">
            <p><font size="6" color=rgb(30, 30, 47)>Priscilla</font></p>
          </ul>

          {% if data.navigation == "dashboard" %}
            <li class="active ">
          {% else %} 
            <li>
          {% endif %} 
            <a href="/dashboard">
              <i class='uil uil-analytics'></i>
              <p><font size="2">Dashboard</font></p>
            </a>
          </li>

          {% if current_user.role == "user" or current_user.role == "administrator" %}

            {% if data.navigation == "scheduler" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/scheduler">
                <i class='uil uil-calendar-alt'></i>
                <p><font size="2">Scheduler</font></p>
              </a>
            </li>  

            {% if data.navigation == "programs" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/programs">
                <i class='uil uil-file-alt'></i>
                <p><font size="2">Programs</font></p>
              </a>
            </li>            
        
            <li>
              <a data-toggle="collapse" href="#lighting" aria-expanded="true">
                <i class='uil uil-lightbulb-alt'></i>
                  <p><font size="2">Lighting</font></p>
                <b class="caret mt-2"></b>
              </a>

              {% if data.navigation == "lighting_scenes" or data.navigation == "lighting_groups" %} 
                <div class="collapse show" id="lighting">
              {% else %} 
                <div class="collapse" id="lighting">
              {% endif %}

                <ul class="nav pl-4">

                  {% if data.navigation == "lighting_groups" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/lighting/groups">   
                      <div class="navbar-collapse_text">
                        <p><font size="2">Groups</font></p>  
                      </div>   
                    </a>
                  </li>    

                  {% if data.navigation == "lighting_scenes" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/lighting/scenes">
                      <div class="navbar-collapse_text">
                        <p><font size="2">Scenes</font></p>     
                      </div>     
                    </a>
                  </li>   

                </ul>
              </div>
            </li>

            {% if data.navigation == "cameras" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/cameras">
                <i class='uil uil-video'></i>
                <p><font size="2">Cameras</font></p>
              </a>
            </li>  

            {% if data.navigation == "music" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/music">
                <i class='uil uil-music'></i>
                <p><font size="2">Music</font></p>
              </a>
            </li>  

            <li>
              <a data-toggle="collapse" href="#sensordata" aria-expanded="true">
                <i class="uil uil-graph-bar"></i>
                <p><font size="2">Sensordata</font></p>
                <b class="caret mt-2"></b>
              </a>

              {% if data.navigation == "sensordata_jobs" or data.navigation == "sensordata_statistics" %} 
                <div class="collapse show" id="sensordata">
              {% else %} 
                <div class="collapse" id="sensordata">
              {% endif %}

                <ul class="nav pl-4">

                  {% if data.navigation == "sensordata_jobs" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/sensordata/jobs">
                      <div class="navbar-collapse_text">
                        <p><font size="2">Jobs</font></p>     
                      </div>     
                    </a>
                  </li>
                
                  {% if data.navigation == "sensordata_statistics" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/sensordata/statistics">   
                      <div class="navbar-collapse_text">
                        <p><font size="2">Statistics</font></p>  
                      </div>   
                    </a>
                  </li>      

                </ul>
              </div>
            </li>

          {% endif %}

          {% if current_user.role == "administrator" %}     

            <li>
              <a data-toggle="collapse" href="#devices" aria-expanded="true">
                <i class="uil uil-sitemap"></i>
                  <p><font size="2">Devices</font></p>
                <b class="caret mt-2"></b>
              </a>

              {% if data.navigation == "devices_management" or data.navigation == "devices_controller" or data.navigation == "devices_gpio" %} 
                <div class="collapse show" id="devices">
              {% else %} 
                <div class="collapse" id="devices">
              {% endif %}

                <ul class="nav pl-4">

                  {% if data.navigation == "devices_management" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/devices/management">   
                      <div class="navbar-collapse_text">
                        <p><font size="2">Management</font></p>  
                      </div>   
                    </a>
                  </li>    

                  {% if data.navigation == "devices_controller" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/devices/controller">
                      <div class="navbar-collapse_text">
                        <p><font size="2">Controller</font></p>     
                      </div>     
                    </a>
                  </li>   

                </ul>
              </div>
            </li>    

            <li>
              <a data-toggle="collapse" href="#settings" aria-expanded="true">
                <i class='uil uil-cog'></i>
                <p><font size="2">Settings</font></p>
                <b class="caret mt-2"></b>
              </a>

              {% if data.navigation == "settings_system" or 
                    data.navigation == "settings_users" or 
                    data.navigation == "settings_threads" or 
                    data.navigation == "settings_system_log" or 
                    data.navigation == "settings_about" %} 

                <div class="collapse show" id="settings">
              {% else %} 
                <div class="collapse" id="settings">
              {% endif %}

                <ul class="nav pl-4">

                  {% if data.navigation == "settings_system" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/settings/system">
                      <div class="navbar-collapse_text">
                        <p><font size="2">System</font></p>     
                      </div>     
                    </a>
                  </li>
                      
                  {% if data.navigation == "settings_users" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/settings/users">
                      <div class="navbar-collapse_text">
                        <p><font size="2">Users</font></p>     
                      </div>     
                    </a>
                  </li>

                  {% if data.navigation == "settings_threads" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/settings/threads">
                      <div class="navbar-collapse_text">
                        <p><font size="2">Threads</font></p>     
                      </div>     
                    </a>
                  </li>

                  {% if data.navigation == "settings_system_log" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/settings/system_log">
                      <div class="navbar-collapse_text">
                        <p><font size="2">System Log</font></p>     
                      </div>     
                    </a>
                  </li>

                  {% if data.navigation == "settings_about" %} 
                    <li class="active navbar-collapse_active">
                  {% else %} 
                    <li class="navbar-collapse_active">
                  {% endif %}

                    <a href="/settings/about">
                      <div class="navbar-collapse_text">
                        <p><font size="2">About</font></p>     
                      </div>     
                    </a>
                  </li>

                </ul>
              </div>
            </li>

          {% endif %}

          {% if current_user.is_authenticated %}

            <li>
              <a href={{ url_for('logout') }}>
                <i class='uil uil-exit' style="color:#cc0000"></i>
                <p><font color="#cc0000" size="2"><strong>Logout</strong></font></p>
              </a>
            </li>
          {% endif %}

          <!-- dummies for correct scrolling -->
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    
          
          {% if request.MOBILE %} 
          
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>    
            <li>
              <a href=""></a>
            </li>                        

          {% endif %}

        </ul>
      </div>
    </div>

