
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <ul class="nav">

          {% if data.navigation == "dashboard" %}
            <li class="active ">
          {% else %} 
            <li>
          {% endif %} 
            <a href="/dashboard">
              <i class='uil uil-analytics'></i>
              <p>Dashboard</p>
            </a>
          </li>

          {% if current_user.role == "user" or current_user.role == "administrator" %}

            {% if data.navigation == "scheduler" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/scheduler">
                <i class='uil uil-calendar-alt'></i>
                <p>Aufgaben</p>
              </a>
            </li>  

            {% if data.navigation == "programs" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/programs">
                <i class='uil uil-process'></i>
                <p>Programme</p>
              </a>
            </li>            

            {% if data.navigation == "lighting" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/lighting/scenes">
                <i class='uil uil-lightbulb-alt'></i>
                <p>Beleuchtung</p>
              </a>
            </li>  

            {% if data.navigation == "cameras" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/cameras">
                <i class='uil uil-video'></i>
                <p>Kameras</p>
              </a>
            </li>  

            {% if data.navigation == "music" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/music">
                <i class='uil uil-music'></i>
                <p>Musik</p>
              </a>
            </li>  

            {% if data.navigation == "sensordata" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/sensordata/jobs">
                <i class='uil uil-database-alt'></i>
                <p>Sensordaten</p>
              </a>
            </li>  

          {% endif %}

          {% if current_user.role == "administrator" %}         

            {% if data.navigation == "settings" %}
              <li class="active ">
            {% else %} 
              <li>
            {% endif %} 
              <a href="/settings/system">
                <i class='uil uil-cog'></i>
                <p>Einstellungen</p>
              </a>
            </li>  

          {% endif %}

          {% if current_user.is_authenticated %}
            <li>
              <a href={{ url_for('logout') }}>
                <i class='uil uil-sign-out-alt'></i>
                <p>Logout</p>
              </a>
            </li>
          {% endif %}

          <!-- dummies for correct scrolling -->
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    
          <li>
            <a href=""></a>
          </li>    

        </ul>
      </div>
    </div>

